<div class="box">
  <p class="title" i18n>User settings</p>
  <div class="field">
    <label class="label" for="theme" i18n>Theme</label>
    <div class="control">
      <div class="select">
        <select id="theme" (change)="changeTheme($event)">
          @for (theme of availableThemes; track theme) {
            <option
              [value]="theme.value"
              id="theme_{{ theme.value }}"
              [selected]="theme.value === currentTheme">
              {{ theme.name }}
            </option>
          }
        </select>
      </div>
    </div>
  </div>
  <div class="field">
    <label class="label" for="language" i18n>Language</label>
    <div class="control">
      <div class="select">
        <select id="language" (change)="changeLanguage($event)">
          @for (language of availableLanguages; track language) {
            <option
              [value]="language.value"
              id="language_{{ language.value }}"
              [selected]="language.value === currentLanguage">
              {{ language.name }}
            </option>
          }
        </select>
      </div>
    </div>
  </div>
</div>
