<svg xmlns="http://www.w3.org/2000/svg"
     width="100%" height="auto"
     viewBox="0 0 900 900"
     preserveAspectRatio="xMidYMid meet">
    <g *ngFor="let line of board; index as y">
        <g *ngFor="let c of line; index as x">
            <rect id="click_{{ x }}_{{ y }}"
                  (click)="onClick(x, y)"
                  [attr.fill]="getRectFill(x, y)"
                  [ngStyle]="getRectStyle(x, y)"
                  [attr.x] = "100*x"
                  [attr.y] = "100*y"
                  width="95"
                  height="95"
                  stroke-width="5"
                  stroke="black"
            />
            <g *ngIf="board[y][x] === NONE && isThrone(x, y)">
                <line (click)="onClick(x, y)"
                      [attr.x1]="x * 100"
                      [attr.y1]="y * 100"
                      [attr.x2]="100 + (x * 100)"
                      [attr.y2]="100 + (y * 100)"
                      stroke-width="10"
                      stroke="black" />
                <line (click)="onClick(x, y)"
                      [attr.x1]="100 + (x * 100)"
                      [attr.y1]="y * 100"
                      [attr.x2]="x * 100"
                      [attr.y2]="100 + (y * 100)"
                      stroke-width="10"
                      stroke="black" />
            </g>
            <g *ngIf="board[y][x] !== NONE">
                <circle (click)="onClick(x, y)"
                        r="45"
                        stroke-width="8"
                        stroke="black"
                        [attr.cx]="50 + 100*x"
                        [attr.cy]="50 + 100*y"
                        [ngStyle]="getPieceStyle(x, y)"
                />
                <g *ngIf="isInvader(x, y) else defender">
                    <line (click)="onClick(x, y)"
                          [attr.x1]="50 + 100*x" [attr.y1]="4 + 100*y"
                          [attr.x2]="50 + 100*x" [attr.y2]="96 + 100*y"
                          stroke-width="8"
                          stroke="black"
                    />
                    <line (click)="onClick(x, y)"
                          [attr.x1]="50 + 100*x" [attr.y1]="20 + 100*y"
                          [attr.x2]="5 + 100*x" [attr.y2]="65 + 100*y"
                          stroke-width="8"
                          stroke="black"
                    />
                    <line (click)="onClick(x, y)"
                          [attr.x1]="50 + 100*x" [attr.y1]="20 + 100*y"
                          [attr.x2]="95 + 100*x" [attr.y2]="65 + 100*y"
                          stroke-width="8"
                          stroke="black"
                    />
                    <line (click)="onClick(x, y)"
                          [attr.x1]="50 + 100*x" [attr.y1]="40 + 100*y"
                          [attr.x2]="15 + 100*x" [attr.y2]="75 + 100*y"
                          stroke-width="8"
                          stroke="black"
                    />
                    <line (click)="onClick(x, y)"
                          [attr.x1]="50 + 100*x" [attr.y1]="40 + 100*y"
                          [attr.x2]="85 + 100*x" [attr.y2]="75 + 100*y"
                          stroke-width="8"
                          stroke="black"
                    />
                </g>
                <ng-template #defender>
                    <g *ngIf="isKing(x, y) else soldierDefender">
                        <polyline (click)="onClick(x, y)"
                                  [attr.points]="getKingPolyline(x, y)"
                                  fill="none"
                                  stroke-width="8"
                                  stroke="black"
                        />
                    </g>
                    <ng-template #soldierDefender>
                        <line (click)="onClick(x, y)"
                              [attr.x1]="50 + 100*x" [attr.y1]="4 + 100*y"
                              [attr.x2]="50 + 100*x" [attr.y2]="96 + 100*y"
                              stroke-width="8"
                              stroke="black"
                        />
                        <line (click)="onClick(x, y)"
                              [attr.x1]="4 + 100*x"  [attr.y1]="50 + 100*y"
                              [attr.x2]="96 + 100*x" [attr.y2]="50 + 100*y"
                              stroke-width="8"
                              stroke="black"
                        />
                        <line (click)="onClick(x, y)"
                              [attr.x1]="15 + 100*x" [attr.y1]="15 + 100*y"
                              [attr.x2]="85 + 100*x" [attr.y2]="85 + 100*y"
                              stroke-width="8"
                              stroke="black"
                        />
                        <line (click)="onClick(x, y)"
                              [attr.x1]="85 + 100*x" [attr.y1]="15 + 100*y"
                              [attr.x2]="15 + 100*x" [attr.y2]="85 + 100*y"
                              stroke-width="8"
                              stroke="black"
                        />
                    </ng-template>
                </ng-template>
            </g>
        </g>
    </g>
</svg>
