<table>
	<tr *ngFor="let line of board; index as y;">
		<td *ngFor="let caseContent of line; index as x;"
			style="position:relative;"
			(click)="onClick(x, y);">
			<img
				*ngIf="(arrivingX===x && arrivingY===y) || (chosenX===x && chosenY===y) || (movingX===x && movingY===y)"
				width="50" height="50"
				id="{{'t'+y+x}}"
				alt="highlighted"
				[src]="imagesLocation+'highlight.svg'"
				style="position:absolute; top:0; left:0;"/>
			<img *ngIf="caseContent !== UNOCCUPIED || !isThrone(x, y)"
				 width="50" height="50"
				 id="{{'u'+y+x}}"
				 alt=":{{ caseContent }}:"
				 [src]="imagesLocation+'tablut/'+imagesNames[caseContent]"/>
			<img *ngIf="caseContent === UNOCCUPIED && isThrone(x, y)"
				 width="50" height="50"
				 id="{{'v'+y+x}}"
				 alt=": unoccupied case"
				 [src]="imagesLocation+'tablut/thrones.svg'" />
		</td>
	</tr>
</table>
