<svg xmlns="http://www.w3.org/2000/svg"
     width="100%" height="100%"
     [attr.viewBox]="'0 -3 ' + (board.length * 50) + ' ' + (6 + (board.length * 50))"
     preserveAspectRatio="xMidYMid meet">
    <rect x="0" y="0"
          [attr.width]="board.length * 50"
          [attr.height]="board.length * 50"
          class="base mid-small-stroke"
    />
    <g *ngFor="let line of board; index as y">
        <g *ngFor="let spaceContent of line; index as x"
           id="click_{{ x }}_{{ y }}"
           (click)="onClick(x, y)">
            <circle *ngIf="spaceContent.isPlayer() else empty"
                    id="piece_{{ x }}_{{ y }}"
                    [attr.cx]="25 + 50*x" [attr.cy]="25 + 50*y"
                    [attr.r]="22"
                    [ngClass]="getSpaceClass(x, y)"
                    class="base mid-stroke"
            />
            <ng-template #empty>
                <rect width="50" height="50"
                      [attr.x]="50*x" [attr.y]="50*y"
                      class="base no-stroke"
                      fill-opacity="0"
                />
                <line [attr.x1]="50 * x"      [attr.y1]="25 + 50 * y"
                      [attr.x2]="50 + 50 * x" [attr.y2]="25 + 50 * y"
                      (click)="onClick(x, y)"
                      class="base mid-stroke"/>
                <line [attr.x1]="25 + 50 * x" [attr.y1]="50 * y"
                      [attr.x2]="25 + 50 * x" [attr.y2]="50 + 50 * y"
                      (click)="onClick(x, y)"
                      class="base mid-stroke"/>
            </ng-template>
        </g>
    </g>
    <circle *ngIf="droppedCoord.isPresent()"
            id="dropped"
            (click)="removeDroppedCoord()"
            [attr.cx]="25 + 50 * droppedCoord.get().x" [attr.cy]="25 + 50 * droppedCoord.get().y"
            [attr.r]="22"
            [ngClass]="getSpaceClass(droppedCoord.get().x, droppedCoord.get().y)"
            class="base mid-stroke moved-stroke"
    />
</svg>
