<svg  xmlns="http://www.w3.org/2000/svg"
      width="100%" height="auto"
      viewBox="0 -4 800 808"
      preserveAspectRatio="xMidYMid meet">
    <g *ngFor="let line of board; index as y">
        <g *ngFor="let caseContent of line; index as x">
            <g id="click_{{ x }}_{{ y }}"
               (click)="onClick(x, y)">
                <!-- Background -->
                <rect [attr.x]="x * SQUARE_SIZE"
                      [attr.y]="y * SQUARE_SIZE"
                      [attr.width]="SQUARE_SIZE"
                      [attr.height]="SQUARE_SIZE"
                      [ngClass]="getCaseClasses(x, y)"
                      class="base" />
                <!-- Piece -->
                <circle *ngIf="caseContent !== EMPTY"
                        [attr.cx]="SQUARE_SIZE/2 + (x * SQUARE_SIZE)"
                        [attr.cy]="SQUARE_SIZE/2 + (y * SQUARE_SIZE)"
                        [ngClass]="getPieceClasses(x, y)"
                        r="40"
                        class="base"/>
            </g>
        </g>
    </g>
    <g *ngFor="let coord of targets">
        <rect [attr.x]="coord.x * SQUARE_SIZE + (SQUARE_SIZE/2 - INDICATOR_SIZE/2)"
              [attr.y]="coord.y * SQUARE_SIZE + (SQUARE_SIZE/2 - INDICATOR_SIZE/2)"
              [attr.width]="INDICATOR_SIZE"
              [attr.height]="INDICATOR_SIZE"
              (click)="onClick(coord.x, coord.y)"
              class="indicator" />
    </g>
</svg>
