@if (getGameName().isPresent()) {
    <div class="columns is-vcentered is-align-items-stretch">
        <div class="column is-one-quarter has-text-centered">
            @if (gameComponent) {
                <div id="infos"
                     class="box is-fullheight">
                    <app-view-config [rulesConfig]="rulesConfig"
                                     [rulesConfigDescription]="getRulesConfigDescription()"
                                     [gameName]="getGameName().getOrElse('')">
                    </app-view-config>
                    <p class="subtitle"
                       i18n>Turn n°{{ gameComponent.getTurn() + 1 }}</p>
                    @if (endGame) {
                        <div id="game-result"
                             class="block">
                            @if (winnerMessage.isPresent()) {
                                <p id="winner"
                                   class="title">{{ winnerMessage.get() }}</p>
                            }
                            @if (winnerMessage.isAbsent()) {
                                <p id="draw"
                                   class="title"
                                   i18n>Draw</p>
                            }
                        </div>
                    }
                    @for (player of Player.PLAYERS; track player.getValue()) {
                        <div class="px-2 py-4 mb-4"
                             [ngClass]="player.getHTMLClass('-bg')">
                            <p class="mb-2 subtitle"
                               [ngClass]="player.getHTMLClass('-fg')"
                               i18n>Player {{ player.getValue()+1 }}</p>
                            <div class="select is-fullwidth">
                                <select id="player-select-{{ player.getValue() }}"
                                        (change)="updatePlayer(player)"
                                        [(ngModel)]="playerSelection[player.getValue()]">
                                    <option selected
                                            value="human"
                                            i18n>Human</option>
                                    @for (strategy of availableAIStrategies(); track strategy.id) {
                                        <option id="player-{{ player.getValue() }}-ai-{{ strategy.name }}"
                                                [value]="strategy.id">{{ strategy.name }}</option>
                                    }
                                </select>
                            </div>
                            @if (mustSelectAIProfile(player.getValue())) {
                                <div class="select is-fullwidth">
                                    <select id="ai-profile-select-{{ player.getValue() }}"
                                            [(ngModel)]="aiProfiles[player.getValue()]"
                                            (change)="updatePlayer(player)">
                                        <option selected
                                                value="none"
                                                i18n>Pick the profile</option>
                                        @for (profile of availableAIProfiles(player.getValue()); track profile.id) {
                                            <option id="player-{{ player.getValue() }}-profile-{{ profile.name }}"
                                                    [value]="profile.id">{{ profile.name }}</option>
                                        }
                                    </select>
                                </div>
                            }
                            @if (players[player.getValue()].equalsValue('human') === false && isAIProfileSelected(player.getValue())) {
                                <div class="select is-fullwidth">
                                    <select id="ai-option-select-{{ player.getValue() }}"
                                            [(ngModel)]="aiOptions[player.getValue()]"
                                            (change)="updatePlayer(player)">
                                        <option selected
                                                value="none"
                                                i18n>Pick the options</option>
                                        @for (option of availableAIOptions(player.getValue()); track option.name) {
                                            <option id="player-{{ player.getValue() }}-option-{{ option.name }}"
                                                    [value]="option.name">{{ option.name }}</option>
                                        }
                                    </select>
                                </div>
                            }
                            @if (gameComponent.hasScores()) {
                                <p id="score-{{ player.getValue() }}"
                                   [ngClass]="player.getHTMLClass('-fg')">{{ gameComponent.getScoreString(player) }}</p>
                            }
                        </div>
                    }
                    @if (endGame === false && gameComponent.canPass) {
                        <button id="pass-button"
                                class="button is-primary is-fullwidth mb-1"
                                (click)="gameComponent.pass()"
                                i18n>Pass a turn</button>
                    }
                    @if (canTakeBack()) {
                        <button id="take-back"
                                class="button is-fullwidth mb-1"
                                (click)="takeBack()"
                                i18n>Take back move</button>
                    }
                    <button id="restart-button"
                            class="button is-fullwidth"
                            (click)="restartGame()"
                            i18n>Start a new game</button>
                    @if (gameComponent.node.previousMove.isPresent() && displayAIInfo()) {
                        <div id="ai-info">
                            @for (info of getAIInfoLines(); track $index) {
                                {{ info }} <br/>
                            }
                            Created {{ getCreatedNodes() }} nodes.<br/>
                            Minimax times: {{ getMinimaxTimes() }}<br/>
                        </div>
                    }
                </div>
            }
        </div>
        <div class="column">
            <div class="p-5 is-fullheight"
                 id="board-highlight"
                 [ngClass]="getBoardHighlight()">
                <div id="board"
                     class="box is-fullheight">
                    <div #board></div>
                </div>
            </div>
        </div>
    </div>
}
