<svg xmlns="http://www.w3.org/2000/svg"
     width="100%" height="100%"
     [attr.viewBox]="getViewBox().toSVGString()"
     preserveAspectRatio="xMidYMid meet">

    <g *ngFor="let line of viewInfo.boardInfo; index as y">
        <g *ngFor="let square of line; index as x">
            <g id="square_{{ x }}_{{ y }}"
               [attr.transform]="getSVGTranslate(SPACE_SIZE * x, SPACE_SIZE * y)"
               (click)="selectCoord(square.coord)" >
                <rect *ngIf="square.isCrumbled === false else crumbled"
                      class="base"
                      [ngClass]="square.squareClasses"
                      [attr.x]="0"
                      [attr.y]="0"
                      [attr.width]="SPACE_SIZE"
                      [attr.height]="SPACE_SIZE"/>
                <ng-template #crumbled>
                    <polyline points="0,0     42,0    17,25    67,75    42,100   0,100   0,0"
                              [ngClass]="square.squareClasses"
                              class="base"
                    />
                    <polyline points="100,0   58,0    35,25    85,75    58,100 100,100 100,0"
                              [ngClass]="square.squareClasses"
                              class="base"
                    />
                </ng-template>
                <circle *ngIf="square.hasPieceToDraw"
                        id="piece_{{ x }}_{{ y }}"
                        class="base"
                        [ngClass]="square.pieceClasses"
                        [attr.r]="PIECE_RADIUS"
                        [attr.cx]="SPACE_SIZE / 2"
                        [attr.cy]="SPACE_SIZE / 2"/>
                <g *ngIf="square.lodestone"
                   id="lodestone_{{ x }}_{{ y }}"
                   [attr.class]="square.isCrumbled ? 'semi-transparent' : ''"
                   app-lodestone-lodestone
                   [lodestoneInfo]="square.lodestone"
                />
            </g>
        </g>
    </g>

    <g *ngFor="let capture of viewInfo.capturesToPlace; index as x"
       id="capture_{{ x }}"
       [attr.transform]="getCaptureTransform(x)" >
        <circle class="base"
                [ngClass]="capture.pieceClasses"
                [attr.r]="PIECE_RADIUS"
                cx="0"
                cy="0"/>
    </g>

    <g *ngIf="isInteractive"
       id="availableLodestones">
        <g *ngFor="let lodestone of viewInfo.availableLodestones; index as x"
            id="lodestone_{{ lodestone.direction }}_{{ lodestone.orientation }}_{{ lodestone.owner.toString() }}"
            [attr.transform]="getAvailableLodestoneTransform(x)"
            (click)="selectLodestone(lodestone)"
            app-lodestone-lodestone
            [lodestoneInfo]="lodestone"
        />
    </g>

    <g *ngFor="let groupInfo of viewInfo.pressurePlateGroupInfos"
       id="pressurePlateGroup_{{ groupInfo.groupPosition }}">
        <g *ngFor="let plate of groupInfo.plateInfos"
           id="pressurePlate_{{ groupInfo.groupPosition }}_{{ plate.plateIndex }}">
            <g *ngFor="let square of plate.coords; index as pieceIndex">
                <g id="plate_{{ groupInfo.groupPosition }}_{{ plate.plateIndex }}_{{ pieceIndex }}"
                   (click)="square.temporary ? onTemporaryPressurePlateClick(groupInfo.groupPosition, plate.plateIndex, pieceIndex) : onPressurePlateClick(groupInfo.groupPosition, plate.plateIndex, pieceIndex)" >
                    <rect id="plateSquare_{{ groupInfo.groupPosition }}_{{ plate.plateIndex }}_{{ pieceIndex }}"
                          class="base"
                          [ngClass]="square.squareClasses"
                          [attr.x]="SPACE_SIZE * square.coord.x"
                          [attr.y]="SPACE_SIZE * square.coord.y"
                          [attr.width]="SPACE_SIZE"
                          [attr.height]="SPACE_SIZE"
                          [attr.rx]="0.2 * SPACE_SIZE"
                          [attr.ry]="0.2 * SPACE_SIZE"
                    />
                    <circle *ngIf="square.hasPiece"
                            id="platePiece_{{ groupInfo.groupPosition }}_{{ plate.plateIndex }}_{{ pieceIndex }}"
                            class="base"
                            [ngClass]="square.pieceClasses"
                            [attr.r]="PIECE_RADIUS"
                            [attr.cx]="(SPACE_SIZE * square.coord.x) + (SPACE_SIZE / 2)"
                            [attr.cy]="(SPACE_SIZE * square.coord.y) + (SPACE_SIZE / 2)"
                    />
                </g>
            </g>
        </g>
    </g>

    <rect *ngIf="viewInfo.selected.isPresent()"
          id="selection_{{ viewInfo.selected.get().x }}_{{ viewInfo.selected.get().y }}"
          class="base no-fill selected-stroke"
          [attr.x]="SPACE_SIZE * viewInfo.selected.get().x"
          [attr.y]="SPACE_SIZE * viewInfo.selected.get().y"
          [attr.width]="SPACE_SIZE"
          [attr.height]="SPACE_SIZE"/>
</svg>
