:root {
    --alt-alt-background-fill: #AAA;
    --alt-background-fill: #666;
    --alt-captured: #990000;
    --base-stroke: #444;
    --background-fill: #888;
    --capturable: #990;
    --captured: red;
    --clickable: #990;
    --disabled-tab-color: grey;
    --indicator: green;
    --last-move: #990;
    --moved: #AAA;
    --nonplayer: #005500;
    --nonplayer-light: #007700;
    --player0: #994d00;
    --player0-alternate: #d3853d;
    --player1: #ffc34d;
    --player1-alternate: #ffe19b;
    --pre-captured: pink;
    --selectable: green;
    --selected: #99E;
    --spaces-fill: #888;
    --tab-highlight-on-hover: #4a4a4a;
    --victory: green;
    --defeat: red;
}

$primary: #994d00;
$yellow: #b38f00;
$red: darkred;
$red-invert: white;
$footer-padding:1rem;
@import "../../node_modules/bulmaswatch/cyborg/bulmaswatch.scss";
@import "../../node_modules/@creativebulma/bulma-tooltip/dist/bulma-tooltip.css";
@import "./mystyles.scss";

.hero {
    background-color: #000;
}

.select select {
    background-color: #111;
    border-color: #363636;
    color: #fff;
}
.input {
    background-color: #111;
    border-color: #363636;
    color: #fff;
}

.message.is-primary .message-body {
    color: #fff;
}

.message {
  background-color: $background;
  border-radius: $radius;
  font-size: $size-normal;
  // Colors
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);
    $color-lightning: max((100% - lightness($color)) - 3%, 0%);
    $color-luminance: colorLuminance($color);
    $darken-percentage: $color-luminance * 70%;
    $desaturate-percentage: $color-luminance * 30%;

    &.is-#{$name} {
      background-color: darken($color, $color-lightning);

      .message-header {
        background-color: $color;
        color: $color-invert;
      }

      .message-body {
        border-color: $color;
        color: $color-invert;
      }
    }
  }
}

.button.is-primary.is-light {
    color: white;
}

.button[disabled], fieldset[disabled] .button {
    background-color: #111;
}

.has-text-passive {
    color: #555;
}

/* Show the page only after the CSS has been loaded */
html, body {
    display: block;
}

.left-border {
    border-left: 0.15em solid $primary;
    padding-left: 1em;
}
