:root {
    --player0: #994d00;
    --player0-alternate: #d3853d;
    --player1: #ffc34d;
    --player1-alternate: #ffe19b;
    --base-stroke: #444;
    --background-fill: #888;
    --moved: #AAA;
    --alt-background-fill: #666;
    --alt-alt-background-fill: #AAA;
    --nonplayer: #5c0838;
    --nonplayer-light: #8d2660;
    --pre-captured: pink;
    --captured: red;
    --alt-captured: #990000;
    --indicator: #990;
    --last-move: #AA8;
    --capturable: #990;
    --clickable: #990;
    --selectable: #990;
    --selected: #99E;
    --victory: green;
}

$primary: #994d00;
@import "../../node_modules/bulmaswatch/cyborg/bulmaswatch.scss";
@import "./mystyles.scss";

.select select {
    background-color: #111;
    border-color: #363636;
    color: #fff;
}
.input {
    background-color: #111;
    border-color: #363636;
    color: #fff;
}

.button {
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: bold;
}

.message.is-primary .message-body {
    color: #fff;
}

/* Show the page only after the CSS has been loaded */
html, body {
    display: block;
}

