$primary: #ffc34d;

@use "../../node_modules/bulma/sass" with (
  $primary: $primary,
  $footer-padding: 1rem,
  // $card-shadow: none,
  $navbar-burger-color: --bulma-navbar-item-color,
);

@use "./mystyles.scss";

:root {
    --primary: $primary;
    --alt-alt-background-fill: dimgray;
    --alt-background-fill: gray;
    --alt-captured: #990000;
    --base-stroke: black;
    --backgrounded-text-color: black;
    --background-fill: lightgrey;
    --capturable: yellow;
    --captured: red;
    --clickable: yellow;
    --disabled-tab-color: grey;
    --indicator: green;
    --last-move: yellow;
    --moved: gray;
    --nonplayer: #005500;
    --nonplayer-light: #007700;
    --player0: #994d00;
    --player0-alternate: #d3853d;
    --player1: #ffc34d;
    --player1-alternate: #ffe19b;
    --pre-captured: pink;
    --selectable: yellow;
    --selected: #99E;
    --spaces-fill: lightgrey;
    --tab-highlight-on-hover: #dbdbdb;
    --victory: yellow;
    --defeat: red;
}

.has-text-passive {
    color: #AAA;
}

