:root {
    --alt-alt-background-fill: dimgray;
    --alt-background-fill: gray;
    --alt-captured: #990000;
    --base-stroke: black;
    --background-fill: lightgrey;
    --capturable: yellow;
    --captured: red;
    --clickable: yellow;
    --disabled-tab-color: grey;
    --indicator: green;
    --last-move: yellow;
    --moved: gray;
    --nonplayer: #005500;
    --nonplayer-light: #007700;
    --player0: #994d00;
    --player0-alternate: #d3853d;
    --player1: #ffc34d;
    --player1-alternate: #ffe19b;
    --pre-captured: pink;
    --selectable: yellow;
    --selected: #99E;
    --spaces-fill: lightgrey;
    --tab-highlight-on-hover: #dbdbdb;
    --victory: yellow;
    --defeat: red;
}

$primary: #ffc34d;
$footer-padding:2rem 1rem 2rem;
@import "../../node_modules/bulmaswatch/default/bulmaswatch.scss";
@import "../../node_modules/@creativebulma/bulma-tooltip/dist/bulma-tooltip.css";
@import "./mystyles.scss";

.button {
    // Fix for the following bug: https://github.com/jgthms/bulma/issues/3471
    justify-content: center;
}

.has-text-passive {
    color: #AAA;
}
/* Show the page only after the CSS has been loaded */
html, body {
    display: block;
}

.left-border {
    border-left: 0.15em solid $primary;
    padding-left: 1em;
}
