$gap: 10pt;
@media screen and (max-width: 768px) {
    .masonry {
        column-count: 1;
    }
}
@media screen and (min-width: 769px) and (max-width: 1500px), print {
    .masonry {
        column-count: 3;
    }
}
@media screen and (min-width: 1500px) {
    .masonry {
        column-count: 5;
    }
}
.masonry {
    margin: $gap;
    column-gap: $gap;
}
.masonry .item {
    margin: 0 0 $gap;

    /* For Chrome */
    column-break-inside: avoid;
    /* For Firefox */
    display: inline-grid;
    page-break-inside: avoid;
}
