@charset "utf-8";

.button {
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: bold;
}

html {
    min-height: 100%;
}

.player0-bg {
    background-color: var(--player0);
}
.player1-bg {
    background-color: var(--player1);
}

.clickable-icon {
    pointer-events: all;
    cursor:pointer
}

.game-card img {
    opacity: 0.8;
}
.game-card .is-overlay {
    opacity: 0;
}
.game-card:hover .is-overlay {
    opacity: 1;
}
.game-card .game-image-buttons {
    top: auto;
}
.game-card .game-image-text {
    top: 38%;
    color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.modal-card-head, .is-primary {
    background-color: var(--player0);
}
