@charset "utf-8";
@import "./masonry.scss";

html {
    min-height: 100%;
}

.player0-bg {
    background-color: var(--player0);
}
.player1-bg {
    background-color: var(--player1);
}

.clickable-icon {
    pointer-events: all;
    cursor:pointer
}

.game-card .is-overlay {
    opacity: 0;
}
.game-card:hover img {
    opacity: 0.8;
}
.game-card:hover .is-overlay {
    opacity: 1;
}
.game-image-buttons {
    top: auto;
}
