@charset "utf-8";

/* the following is to ensure that the footer is always on the bottom of the
   page and that if the page is too short to fill a screen, the footer is still
   on the bottom of the screen */
html,
body,
app-root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    width: 100% !important;
}
footer {
    margin-top: auto;
}

.button {
    text-transform: uppercase;
    font-weight: bold;
}

.card {
    margin-bottom: 1.5rem; // Matches the side space between two cards
}

html {
    min-height: 100%;
}

.player0-bg {
    background-color: var(--player0);
}
.player0-bg-darker {
    background-color: var(--player0);
    filter: brightness(80%);
}
.player0-fg {
    color: black;
}
.player1-bg {
    background-color: var(--player1);
}
.player1-bg-darker {
    background-color: var(--player1);
    filter: brightness(80%);
}
.player1-fg {
    color: black;
}
.endgame-bg {
    background-color: grey;
}

.clickable-icon {
    pointer-events: all;
    cursor:pointer
}

.game-card img {
    opacity: 0.8;
}
.game-card .is-overlay {
    opacity: 0;
}
.game-card:hover .is-overlay {
    opacity: 1;
}
.game-card .game-image-buttons {
    top: auto;
}
.game-card .game-image-text {
    top: 38%;
    color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.tabs .disabled-tab {
    color: var(--disabled-tab-color);
}
.tabs .disabled-tab:hover {
    color: grey;
    cursor: default;
    background-color: rgb(0, 0, 0, 0) !important;
    border-color: var(--tab-highlight-on-hover) !important;
}

.is-fullheight {
    height: 100%;
}

.board {
    width: 100%;
    height: 100%;
}

/* Show the page only after the CSS has been loaded */
html, body {
    display: block;
}

.left-border {
    border-left: 0.15em solid var(--primary);
    padding-left: 1em;
}

.image > img {
    padding: 5%;
}
