@charset "utf-8";

$primary: #3273dc;
$danger: #f14668;
$warning: #ffdd57;

@import "../../node_modules/bulma/bulma.sass";
@import '~bulma-slider';
@import "./variables.scss";

$gap: 10pt;
@media screen and (max-width: 768px) {
    .masonry {
        column-count: 1;
    }
}
@media screen and (min-width: 769px), print {
    .masonry {
        column-count: 3;
    }
}
.masonry {
    margin: $gap;
    column-gap: $gap;
}
.masonry .item {
    margin: 0 0 $gap;

    /* For Chrome */
    column-break-inside: avoid;
    /* For Firefox */
    display: inline-grid;
    page-break-inside: avoid;
}

html {
    min-height: 100%;
}

.player0-bg {
    background-color: $player0;
}
.player1-bg {
    background-color: $player1;
}

.clickable-icon {
    pointer-events: all;
    cursor:pointer
}
