.git
.github/firebaseConfig.ts.gpg
.angular
.mypy_cache
.netlify
__pycache__
coverage
data
dist
node_modules
venv
lib/build
lib/coverage
lib/dist
lib/node_modules
games/build
games/coverage
games/dist
games/node_modules
backend/backend
backend/coverage.html
backend/coverage.out
backend/everyboard.db
backend/service-account.json
e2e/.mypy_cache
e2e/__pycache__
service-accounts
*.log
