<svg xmlns="http://www.w3.org/2000/svg"
     width="700px" height="600px"
     viewBox="0 0 1400 1200"
     preserveAspectRatio="xMidYMid meet">
    <g *ngFor="let line of board; index as y">
        <g *ngFor="let c of line; index as x">
            <rect id="click_{{ x }}_{{ y }}"
                  (click)="onClick(x, y)"
                  [attr.fill]="getRectFill(x, y)"
                  [ngStyle]="getRectStyle(x, y)"
                  [attr.x] = "100*x"
                  [attr.y] = "100*y"
                  width="95"
                  height="95"
                  stroke-width="5"
                  stroke="black"
            />
            <circle *ngIf="board[y][x] !== NONE"
                    (click)="onClick(x, y)"
                    r="45"
                    stroke-width="10"
                    stroke="black"
                    [attr.cx]="50 + 100*x"
                    [attr.cy]="50 + 100*y"
                    [ngStyle]="getPieceStyle(x, y)"
            />
        </g>
    </g>
</svg>