<svg xmlns="http://www.w3.org/2000/svg"
     width="700px" height="700px"
     viewBox="0 0 700 700"
     preserveAspectRatio="xMidYMid meet">

    <g *ngFor="let y of boardIndices;">
        <g *ngFor="let x of boardIndices;">
            <g *ngIf="isOnBoard(x, y)">
                <g (click)="onClick(x, y)"
                   id="click_{{ x }}_{{ y }}">
                    <polyline [attr.points]="getHexaCoordinatesForXY(x, y)"
                              [ngStyle]="getCaseStyle(x, y)"
                              stroke-linecap="round"/>
                    <circle *ngIf="isPiece(x, y)"
                            [attr.cx]="getCenter(x, y).x"
                            [attr.cy]="getCenter(x, y).y"
                            [attr.r]="getPieceSize()"
                            [ngStyle]="getPieceStyle(x, y)"/>
                </g>
            </g>
        </g>
    </g>

    <g *ngFor="let capture of possibleCaptures;">
        <g *ngFor="let case of capture.capturedCases;">
            <polyline [attr.points]="getHexaCoordinatesForXY(case.x, case.y)"
                      [ngStyle]="CLICKABLE_HIGHLIGHT_STYLE"
                      stroke-linecap="round"/>
        </g>
    </g>

    <defs>
        <marker id="arrowhead" markerWidth="10" markerHeight="7"
                refX="5" refY="3.5" orient="auto">
            <polygon points="0 0, 10 3.5, 0 7" />
        </marker>
    </defs>
    <g *ngFor="let arrow of arrows;">
        <line [attr.x1]="arrow.x1"
              [attr.y1]="arrow.y1"
              [attr.x2]="arrow.x2"
              [attr.y2]="arrow.y2"
              stroke="#000"
              stroke-width="3"
              marker-end="url(#arrowhead)"
              (click)="onClick(arrow.destination.x, arrow.destination.y)"/>
    </g>

    <style>.text { font: 20 sans-serif; }</style>
    <g *ngFor="let player of [0, 1];">
        <text x="410" [attr.y]="30+(getPieceSize()+20)*player" class="text">Pièces du joueur {{player+1}}</text>
        <g *ngFor="let p of getPlayerSidePieces(player);">
            <circle id="piece_{{ player }}_{{ p }}"
                    [attr.cx] = "550+(p * getPieceSize()/3)"
                    [attr.cy]="30+(getPieceSize()+20)*player-5"
                    [attr.r]="getPieceSize()/3"
                    [ngStyle]="getPlayerPieceStyle(player)"/>
        </g>
    </g>
</svg>
