<div>
  <form>
    <input type="text"
           value='userName'
           (keypress)='checkUsernameConditions($event)' /><br/>

    <input type="password"
           value='password'
           (keypress)='checkPasswordConditions($event)' /><br/>

    <input type="button"
           value='Connect as guest'
           (click)="connectAsGuest()" />

    <input type="button"
           value='Log as member'
           disabled='disabled'
           (click)="logAsMember()"/><br/>

    <a href="./createAccount">Not member yet ? Create an account</a>
  </form>
</div>
