<div>
  <form>
    <input type="text"
           value='userName'
           (keypress)='checkUsernameConditions($event)' /><br/>

    <input type="password"
           value='password'
           (keypress)='checkPasswordConditions($event)' /><br/>

    <input type="button"
           value='Connect as guest'
           [routerLink]="['/connectAsGuest']" />

    <input type="button"
           value='Log as member'
           disabled='disabled'
           [routerLink]="['/logAsMember']"/><br/>

    <a href="./createAccount">Not member yet ? Create an account</a>
  </form>
</div>
