<div class="container">
	<form class="form-signin">
		<h2 class="form-signin-heading">Connecte toi</h2>
		<label for="pseudoId" class="sr-only">Pseudo</label>
		<input id="pseudoId"
			   class="form-control"
			   [(ngModel)]='user.pseudo'
			   name='pseudo'
			   placeholder="Pseudo"
			   type="text" />

		<label for="passwordId" class="sr-only">Password</label>
		<input id="passwordId"
			   class="form-control"
			   [(ngModel)]='user.code'
			   name="code"
			   placeholder="Password"
			   type="password" />

		<label for="halfMemberButton" class="sr-only"> Exemple : jean, password:jaja (non crypté) </label>
		<button id="halfMemberButton"
				type="submit"
				class="btn btn-lg btn-primary btn-block"
				(click)="logAsHalfMember()" > Connection/Inscription </button>

		<!-- <button type="submit"
                disabled
                (click)="logAsMember()"> Log as Member</button>
        Pas encore prêt
        <br/> -->
		<span style="color:red"> {{ errorMessage }}</span><br/>
		<!-- <a href="./createAccount">Not member yet ? Create an account</a> -->
	</form>

</div>
