<svg xmlns="http://www.w3.org/2000/svg"
     width="100%" height="auto"
     [attr.viewBox]="viewBox"
     preserveAspectRatio="xMidYMid meet">
    <!-- PIECES AND NEIGHBORS -->
    <polyline *ngFor="let piece of pieces"
              id="piece_{{ piece.x }}_{{ piece.y }}"
              (click)="onPieceClick(piece)"
              [attr.points]="getHexaCoordsAt(piece)"
              [ngClass]="getPieceClass(piece)"
              class="base round" />
    <polyline *ngFor="let neighbor of neighbors"
              id="neighbor_{{ neighbor.x }}_{{ neighbor.y }}"
              (click)="onNeighborClick(neighbor)"
              [attr.points]="getHexaCoordsAt(neighbor)"
              class="base round" />
    <polyline *ngIf="chosenLanding.isPresent()"
              id="chosenLanding_{{ chosenLanding.get().x }}_{{ chosenLanding.get().y }}"
              (click)="onPieceClick(chosenLanding.get())"
              [attr.points]="getHexaCoordsAt(chosenLanding.get())"
              [ngClass]="getPlayerClass(state.getCurrentPlayer())"
              class="base round" />
    <!-- LAST MOVE -->
    <polyline *ngFor="let disconnected of disconnecteds"
              id="disconnected_{{ disconnected.x }}_{{ disconnected.y }}"
              [attr.points]="getHexaCoordsAt(disconnected)"
              class="base round captured"/>
    <polyline *ngIf="leftCoord.isPresent()"
              id="leftCoord_{{ leftCoord.get().x }}_{{ leftCoord.get().y }}"
              (click)="onNeighborClick(leftCoord.get())"
              [attr.points]="getHexaCoordsAt(leftCoord.get())"
              class="base round moved mid-stroke"/>
    <polyline *ngIf="lastDrop.isPresent()"
              id="lastDrop_{{ lastDrop.get().x }}_{{ lastDrop.get().y }}"
              (click)="onPieceClick(lastDrop.get())"
              [attr.points]="getHexaCoordsAt(lastDrop.get())"
              class="base no-fill round last-move mid-stroke" />
    <!-- HIGHLIGHTS -->
    <polyline *ngIf="selectedPiece.isPresent()"
              id="selectedPiece_{{ selectedPiece.get().x }}_{{ selectedPiece.get().y }}"
              (click)="onPieceClick(selectedPiece.get())"
              [attr.points]="getHexaCoordsAt(selectedPiece.get())"
              [ngClass]="getSelectedPieceClass()"
              class="base no-fill round"/>
    <polyline *ngFor="let victoryCoord of victoryCoords"
              id="victoryCoord_{{ victoryCoord.x }}_{{ victoryCoord.y }}"
              [attr.points]="getHexaCoordsAt(victoryCoord)"
              class="base no-fill round highlighted mid-stroke" />
    <g *ngFor="let cuttableGroup of cuttableGroups"
       pointer-events="fill"
       class="capturable">
        <g *ngFor="let cuttable of cuttableGroup"
           (click)="onPieceClick(cuttable)">
            <polyline id="cuttable_{{ cuttable.x }}_{{ cuttable.y }}"
                      [attr.points]="getHexaCoordsAt(cuttable)"
                      class="no-fill"
                      stroke-linecap="round"
            />
        </g>
    </g>
</svg>
