<svg xmlns="http://www.w3.org/2000/svg"
     width="100%" height="auto"
     [attr.viewBox]="viewBox"
     preserveAspectRatio="xMidYMid meet">
    <!-- PIECES AND NEIGHBOORS -->
    <polyline *ngFor="let piece of pieces"
              id="piece_{{ piece.x }}_{{ piece.y }}"
              (click)="onPieceClick(piece)"
              [attr.points]="getHexaCoordsAt(piece)"
              [ngClass]="getPieceClass(piece)"
              class="base round" />
    <polyline *ngFor="let neighboor of neighboors"
              id="neighboor_{{ neighboor.x }}_{{ neighboor.y }}"
              (click)="onNeighboorClick(neighboor)"
              [attr.points]="getHexaCoordsAt(neighboor)"
              class="base round" />
    <polyline *ngIf="chosenLanding"
              id="chosenLanding_{{ chosenLanding.x }}_{{ chosenLanding.y }}"
              (click)="onPieceClick(chosenLanding)"
              [attr.points]="getHexaCoordsAt(chosenLanding)"
              [ngClass]="getPlayerClass(state.getCurrentPlayer())"
              class="base round" />
    <!-- LAST MOVE -->
    <polyline *ngFor="let disconnected of disconnecteds"
              id="disconnected_{{ disconnected.x }}_{{ disconnected.y }}"
              [attr.points]="getHexaCoordsAt(disconnected)"
              class="base round captured"/>
    <polyline *ngIf="leftCoord != null"
              id="leftCoord_{{ leftCoord.x }}_{{ leftCoord.y }}"
              (click)="onNeighboorClick(leftCoord)"
              [attr.points]="getHexaCoordsAt(leftCoord)"
              class="base round moved mid-stroke"/>
    <polyline *ngIf="lastDrop != null"
              id="lastDrop_{{ lastDrop.x }}_{{ lastDrop.y }}"
              (click)="onPieceClick(lastDrop)"
              [attr.points]="getHexaCoordsAt(lastDrop)"
              class="base no-fill round last-move mid-stroke" />
    <!-- HIGHLIGHTS -->
    <polyline *ngIf="selectedPiece != null"
              id="selectedPiece_{{ selectedPiece.x }}_{{ selectedPiece.y }}"
              (click)="onPieceClick(selectedPiece)"
              [attr.points]="getHexaCoordsAt(selectedPiece)"
              [ngClass]="getSelectedPieceClass()"
              class="base no-fill round"/>
    <polyline *ngFor="let victoryCoord of victoryCoords"
              id="victoryCoord_{{ victoryCoord.x }}_{{ victoryCoord.y }}"
              [attr.points]="getHexaCoordsAt(victoryCoord)"
              class="base no-fill round highlighted mid-stroke" />
    <g *ngFor="let cuttableGroup of cuttableGroups"
       pointer-events="fill"
       class="capturable">
        <g *ngFor="let cuttable of cuttableGroup"
           (click)="onPieceClick(cuttable)">
            <polyline id="cuttable_{{ cuttable.x }}_{{ cuttable.y }}"
                      [attr.points]="getHexaCoordsAt(cuttable)"
                      class="no-fill"
                      stroke-linecap="round"
            />
        </g>
    </g>
</svg>
