<svg xmlns="http://www.w3.org/2000/svg"
     width="100%" height="auto"
     viewBox="0 250 1065 1060"
     preserveAspectRatio="xMidYMid meet">
    <g *ngFor="let line of viewInfo.spaceInfo; index as y">
        <g *ngFor="let spaceInfo of line; index as x">
            <g id="click_{{ x }}_{{ y }}"
               *ngIf="spaceInfo != null"
               (click)="onClick(spaceInfo.coord)"
            >
                <polyline id="space_{{ x }}_{{ y }}"
                          [attr.points]="spaceInfo.coordinates"
                          [ngClass]="spaceInfo.spaceClasses"
                          class="base"
                          stroke-linecap="round"/>
                <g id="pieceGroup_{{ x }}_{{ y }}"
                   [ngClass]="spaceInfo.removedClass"
                >
                    <circle *ngIf="spaceInfo.isRing"
                            [attr.cx]="spaceInfo.center.x"
                            [attr.cy]="spaceInfo.center.y"
                            [attr.r]="viewInfo.ringOuterSize"
                            class="base no-fill mid-stroke"/>
                    <circle id="ring_{{ x }}_{{ y }}"
                            *ngIf="spaceInfo.isRing"
                            [attr.cx]="spaceInfo.center.x"
                            [attr.cy]="spaceInfo.center.y"
                            [attr.r]="viewInfo.ringMidSize"
                            [ngClass]="spaceInfo.ringClasses"
                            class="base no-fill" />
                    <circle *ngIf="spaceInfo.isRing"
                            [attr.cx]="spaceInfo.center.x"
                            [attr.cy]="spaceInfo.center.y"
                            [attr.r]="viewInfo.ringInnerSize"
                            class="base no-fill mid-stroke" />
                    <circle id="marker_{{ x }}_{{ y }}"
                            *ngIf="spaceInfo.isMarker"
                            [attr.cx]="spaceInfo.center.x"
                            [attr.cy]="spaceInfo.center.y"
                            [attr.r]="viewInfo.markerSize"
                            [ngClass]="spaceInfo.markerClasses"
                            class="base mid-stroke"/>
                </g>
            </g>
        </g>
    </g>
    <g *ngFor="let coord of viewInfo.selectedCoords">
        <polyline [attr.points]="viewInfo.spaceInfo[coord.y][coord.x].coordinates"
                  id="selected_{{ coord.x }}_{{ coord.y }}"
                  (click)="onClick(coord)"
                  pointer-events="fill"
                  class="base no-fill selected"
                  stroke-linecap="round" />
    </g>
    <g *ngFor="let coord of viewInfo.selectableCoords">
        <polyline id="selectable_{{ coord.x }}_{{ coord.y }}"
                  *ngIf="isPlayerTurn()"
                  [attr.points]="viewInfo.spaceInfo[coord.y][coord.x].coordinates"
                  (click)="onClick(coord)"
                  pointer-events="fill"
                  class="base no-fill capturable"
                  stroke-linecap="round" />
    </g>
    <g *ngFor="let coord of viewInfo.targets">
        <rect [attr.x]="viewInfo.spaceInfo[coord.y][coord.x].center.x - viewInfo.indicatorSize/2"
              [attr.y]="viewInfo.spaceInfo[coord.y][coord.x].center.y - viewInfo.indicatorSize/2"
              [attr.width]="viewInfo.indicatorSize"
              [attr.height]="viewInfo.indicatorSize"
              (click)="onClick(coord)"
              class="indicator" />
    </g>
    <g *ngFor="let player of [0, 1]">
        <g *ngFor="let _ of [].constructor(viewInfo.sideRings[player]); index as ring">
            <circle id="player_{{ player }}_sideRing_{{ ring+1 }}"
                    [attr.cx]="(player === 0 ? 0 : 1050) + (player === 0 ? 1 : -1) * 1.2*viewInfo.ringOuterSize*(ring+1)"
                    [attr.cy]="(player === 0 ? 300 : 1260)"
                    [attr.r]="viewInfo.ringOuterSize"
                    class="base no-fill mid-stroke"/>
            <circle [attr.cx]="(player === 0 ? 0 : 1050) + (player === 0 ? 1 : -1) * 1.2*viewInfo.ringOuterSize*(ring+1)"
                    [attr.cy]="(player === 0 ? 300 : 1260)"
                    [attr.r]="viewInfo.ringInnerSize"
                    class="base no-fill mid-stroke"/>
            <circle [attr.cx]="(player === 0 ? 0 : 1050) + (player === 0 ? 1 : -1) * 1.2*viewInfo.ringOuterSize*(ring+1)"
                    [attr.cy]="(player === 0 ? 300 : 1260)"
                    [attr.r]="viewInfo.ringMidSize"
                    [ngClass]="viewInfo.sideRingClass[player]"
                    class="base no-fill"/>
        </g>
    </g>
</svg>
