<svg xmlns="http://www.w3.org/2000/svg"
     width="100%" height="auto"
     viewBox="-60 -60 780 780">
    <defs>
        <marker id="arrowhead"
                markerWidth="5"
                markerHeight="3.5"
                refX="2.5"
                refY="1.75"
                orient="auto"
                fill="blue"
        >
            <polygon points="0 0, 5 1.75, 0 3.5" />
        </marker>
    </defs>
    <ng-container *ngFor="let blockY of [0, BLOCK_SEPARATION]; index as by">
        <ng-container *ngFor="let blockX of [0, BLOCK_SEPARATION]; index as bx">
            <rect [attr.x]="STROKE_WIDTH + blockX"
                  [attr.y]="STROKE_WIDTH + blockY"
                  [attr.rx]="3 * STROKE_WIDTH"
                  [attr.ry]="3 * STROKE_WIDTH"
                  [attr.width]="BLOCK_WIDTH"
                  [attr.height]="BLOCK_WIDTH"
                  [ngClass]="getBlockClasses(bx, by)"
                  class="base no-fill"
            />
            <ng-container *ngFor="let localY of [0, 1, 2]">
                <ng-container *ngFor="let localX of [0, 1, 2]">
                    <circle (click)="onClick(3 * bx + localX, 3 * by + localY)"
                            id="click_{{ 3 * bx + localX }}_{{ 3 * by + localY }}"
                            [attr.cx]="blockX + (2 * STROKE_WIDTH) + ((localX + 0.5) * SPACE_SIZE)"
                            [attr.cy]="blockY + (2 * STROKE_WIDTH) + ((localY + 0.5) * SPACE_SIZE)"
                            [attr.r]="(SPACE_SIZE - STROKE_WIDTH) / 2"
                            [ngClass]="getSquareClasses(3 * bx + localX, 3 * by + localY)"
                            class="base"
                            pointer-events="fill"
                    />
                </ng-container>
            </ng-container>
        </ng-container>
    </ng-container>
    <circle *ngIf="currentDrop.isPresent()"
            id="currentDrop_{{ currentDrop.get().x }}_{{ currentDrop.get().y }}"
            [attr.cx]="getCenter(currentDrop.get().x)"
            [attr.cy]="getCenter(currentDrop.get().y)"
            [attr.r]="(SPACE_SIZE - STROKE_WIDTH) / 2"
            [ngClass]="getPlayerClass(rules.node.gameState.getCurrentPlayer())"
            class="base"
            pointer-events="fill"
    />
    <path *ngFor="let arrow of arrows"
          [attr.d]="arrow[0]"
          id="rotate_{{ arrow[1] }}_{{ arrow[2] ? 'clockwise' : 'counterclockwise' }}"
          class="no-fill"
          stroke="blue"
          (click)="rotate(arrow)"
          [attr.stroke-width]="2 * STROKE_WIDTH"
          marker-end="url(#arrowhead)"
    />
    <circle *ngFor="let victoryCoord of victoryCoords"
            id="victoryCoord_{{ victoryCoord.x }}_{{ victoryCoord.y }}"
            [attr.cx]="getCenter(victoryCoord.x)"
            [attr.cy]="getCenter(victoryCoord.y)"
            [attr.r]="(SPACE_SIZE - STROKE_WIDTH) / 2"
            [ngClass]="getSquareClasses(victoryCoord.x, victoryCoord.y)"
            class="base victory-stroke"
            [attr.stroke-width]="STROKE_WIDTH"
    />
    <g *ngIf="canSkipRotation"
       id="skipRotation"
       (click)="skipRotation()">
       <circle [attr.cx]="BLOCK_SEPARATION"
               [attr.cy]="BLOCK_SEPARATION"
               [attr.r]="0.75 * SPACE_SIZE"
               stroke="red"
               [attr.stroke-width]="2 * STROKE_WIDTH"
               class="background"
        />
        <line [attr.x1]="BLOCK_SEPARATION - DIAGONAL_BAR_OFFSET"
              [attr.y1]="BLOCK_SEPARATION + DIAGONAL_BAR_OFFSET"
              [attr.x2]="BLOCK_SEPARATION + DIAGONAL_BAR_OFFSET"
              [attr.y2]="BLOCK_SEPARATION - DIAGONAL_BAR_OFFSET"
              stroke="red"
              [attr.stroke-width]="2 * STROKE_WIDTH"
        />
    </g>
</svg>
