<div>
	<table (click)="choose($event);">
		<tr style="margin:0; padding:0;"
			*ngFor="let line of board; trackBy: trackByLine; index as y;">
			<td *ngFor="let caseContent of line; trackBy: trackByCase; index as x; ">
				<img width="100"
					 id="{{'t'+y.toString()+x}}"
					 alt=":{{ caseContent }}:"
					 src="{{ imagesLocation + caseContent + '.svg'}}"/>
			</td>
		</tr>
	</table>
	Tour : {{ turn }} <br/>
	<button (click)="switchPlayerOne()">{{playerOneIsMyBot ? 'Robot' : 'Humain'}}</button>
	<span> Joueur 0 : {{ captured[0] }} </span><br/>

	<button (click)="switchPlayerTwo()">{{playerTwoIsMyBot ? 'Robot' : 'Humain'}}</button>
	<span> Joueur 1 : {{ captured[1] }} </span>
</div>
