<div class="box">
    <p class="title" i18n>Registering</p>
    <form [formGroup]="registrationForm">
        <div class="field is-horizontal">
            <div class="field-label">
                <label class="label" for="email" i18n>Email</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input"
                               formControlName="email"
                               name="email"
                               id="email"
                               placeholder-i18n placeholder="Email"
                               type="text"
                               required />
                    </div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label">
                <label class="label" for="username" i18n>Username</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input" formControlName="username" name="username" id="username" placeholder-i18n placeholder="Username" type="text" required />
                    </div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label">
                <label class="label" for="password" i18n>Password</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input id="password"
                               class="input"
                               formControlName="password"
                               name="password"
                               placeholder-i18n placeholder="Password"
                               type="password"
                               required />
                    </div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label"></div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <button id="registerButton"
                                class="button is-primary"
                                (click)="tryRegister(registrationForm.value)" i18n>Sign up</button>
                    </div>
                </div>
            </div>
        </div>
        <p i18n>A confirmation email will be sent to validate your account.</p>
        <div *ngIf="errorMessage" class="message is-danger" role="alert">
            <div class="message-header" i18n>Connection error</div>
            <div class="message-body" id="errorMessage">{{ errorMessage }}</div>
        </div>
    </form>
</div>
