<svg xmlns="http://www.w3.org/2000/svg"
     width="100%" height="auto"
     [attr.viewBox]="(-STROKE_WIDTH / 2) + ' ' + (-STROKE_WIDTH / 2) + ' ' + (6 * SPACE_SIZE) + ' ' + ((8 * SPACE_SIZE) + (3 * STROKE_WIDTH))"
     preserveAspectRatio="xMidYMid meet">
    <g *ngFor="let line of board; index as y"
       [attr.transform]="'translate(' + SPACE_SIZE + ', 0)'">
        <g *ngFor="let piece of line; index as x"
           id="click_{{ x }}_{{ y }}"
           (click)="onClick(x, y)"
           [attr.transform]="'translate(0,  ' + (y <= 3 ? 0 : (2 * STROKE_WIDTH))+ ')'">
            <!-- Background -->
            <rect [id]="'square_' + x + '_' + y"
                  [attr.x]="x * SPACE_SIZE"
                  [attr.y]="(y * SPACE_SIZE)"
                  [attr.width]="SPACE_SIZE"
                  [attr.height]="SPACE_SIZE"
                  [ngClass]="getSquareClasses(x, y)" />
            <!-- Pieces -->
            <g *ngIf="piece !== pieces.EMPTY"
               [attr.transform]="getPieceLocation(x, y)">
                <g *ngIf="piece === pieces.PAWN"
                   app-martian-chess-pawn
                   [mainShapeId]="'pawn_' + x + '_' + y"
                   [pieceClasses]="getPieceClasses(x, y)"
                   [style]="style" />
                <g *ngIf="piece === pieces.DRONE"
                   app-martian-chess-drone
                   [pieceClasses]="getPieceClasses(x, y)"
                   [mainShapeId]="'drone_' + x + '_' + y"
                   [style]="style" />
                <g *ngIf="piece === pieces.QUEEN"
                   app-martian-chess-queen
                   [mainShapeId]="'queen_' + x + '_' + y"
                   [pieceClasses]="getPieceClasses(x, y)"
                   [style]="style" />
            </g>
        </g>
    </g>
    <g id="clockOrCountDownView"
       (click)="onClockClick()"
       [attr.transform]="'translate(' + (5 * SPACE_SIZE) + ', 0)'">
        <rect x="0" y="0"
              [attr.width]="SPACE_SIZE"
              [attr.height]="SPACE_SIZE"
              fill="none" />
        <circle id="clockOrCountDownCircle"
                [attr.cx]="0.5 * SPACE_SIZE"
                [attr.cy]="0.5 * SPACE_SIZE"
                [attr.r]="0.4 * SPACE_SIZE"
                [ngClass]="getClockCircleClasses()" />
        <text *ngIf="countDown.isPresent()"
              id="countDownText"
              class="text-giant text-center"
              [ngClass]="'player' + getCurrentPlayer().value"
              [attr.x]="0.5 * SPACE_SIZE"
              [attr.y]="0.5 * SPACE_SIZE"
              [ngClass]="getClockCircleClasses()">{{ countDown.get() }}</text>
        <polyline *ngIf="countDown.isAbsent()"
                  class="base"
                  [attr.points]="clockNeedlesPoints"
                  [ngClass]="getClockCircleClasses()"
                  stroke-linecap="round" />
    </g>
    <line id="canal"
          [attr.x1]="SPACE_SIZE"     [attr.y1]="(5 * SPACE_SIZE) + 8"
          [attr.x2]="5 * SPACE_SIZE" [attr.y2]="(5 * SPACE_SIZE) + 8"
          [ngClass]="'player' + getCurrentPlayer().value"
          [attr.stroke-width]="2 * STROKE_WIDTH" />
    <!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) -->
    <g id="modeCogView"
       [attr.transform]="configViewTranslation">
        <g id="modeCog"
           (click)="onModeCogClick()">
            <rect [attr.x]="0"
                  [attr.y]="0"
                  [attr.width]="SPACE_SIZE"
                  [attr.height]="SPACE_SIZE"
                  fill="none" />
            <path [ngClass]="'player' + getCurrentPlayer().value"
                  [attr.transform]="configCogTransformation"
                  d="M487.4 315.7l-42.6-24.6c4.3-23.2 4.3-47 0-70.2l42.6-24.6c4.9-2.8 7.1-8.6 5.5-14-11.1-35.6-30-67.8-54.7-94.6-3.8-4.1-10-5.1-14.8-2.3L380.8 110c-17.9-15.4-38.5-27.3-60.8-35.1V25.8c0-5.6-3.9-10.5-9.4-11.7-36.7-8.2-74.3-7.8-109.2 0-5.5 1.2-9.4 6.1-9.4 11.7V75c-22.2 7.9-42.8 19.8-60.8 35.1L88.7 85.5c-4.9-2.8-11-1.9-14.8 2.3-24.7 26.7-43.6 58.9-54.7 94.6-1.7 5.4.6 11.2 5.5 14L67.3 221c-4.3 23.2-4.3 47 0 70.2l-42.6 24.6c-4.9 2.8-7.1 8.6-5.5 14 11.1 35.6 30 67.8 54.7 94.6 3.8 4.1 10 5.1 14.8 2.3l42.6-24.6c17.9 15.4 38.5 27.3 60.8 35.1v49.2c0 5.6 3.9 10.5 9.4 11.7 36.7 8.2 74.3 7.8 109.2 0 5.5-1.2 9.4-6.1 9.4-11.7v-49.2c22.2-7.9 42.8-19.8 60.8-35.1l42.6 24.6c4.9 2.8 11 1.9 14.8-2.3 24.7-26.7 43.6-58.9 54.7-94.6 1.5-5.5-.7-11.3-5.6-14.1zM256 336c-44.1 0-80-35.9-80-80s35.9-80 80-80 80 35.9 80 80-35.9 80-80 80z"/>
        </g>
        <g *ngIf="displayModePanel"
           id="modePanel">
            <rect class="base"
                  [attr.x]="0"
                  [attr.y]="(- listOfStyles.length * SPACE_SIZE)"
                  [attr.width]="1 * SPACE_SIZE"
                  [attr.height]="listOfStyles.length * SPACE_SIZE"
                  stroke-width="8" />
            <ng-container *ngFor="let proposedStyle of listOfStyles; index as y;">
                <g [id]="proposedStyle.name"
                   app-martian-chess-queen
                   (click)="chooseStyle(y)"
                   [attr.transform]="'translate(0, ' + (-(y+1) * SPACE_SIZE) + ')'"
                   [pieceClasses]="getPieceClasses(0, 0)"
                   [style]="proposedStyle.style" />
            </ng-container>
        </g>
    </g>
    <g id="captures">
        <g *ngFor="let player of [0, 1]">
            <g id="capture_of_player_{{ player }}"
               [attr.transform]="'scale(0.5, 0.5) translate(0, ' + ((SPACE_SIZE / 2) + (player * ((10 * SPACE_SIZE) + (4 * STROKE_WIDTH)))) + ')'">
                <g *ngFor="let value of state.getCapturesOf(player); index as piece">
                    <g *ngIf="value > 0"
                        [attr.transform]="'translate(0, ' + (2 * piece * SPACE_SIZE) + ')'">
                        <text *ngIf="value > 1"
                               class="text-giant text-center"
                               [ngClass]="'player' + (player === 0 ? 1 : 0)"
                               [attr.x]="SPACE_SIZE / 2"
                               [attr.y]="SPACE_SIZE / 2"
                        >{{ value + ' x ' }}</text>
                        <g id="piece_{{ piece }}_player_{{ player }}"
                           [attr.transform]="'translate(' + SPACE_SIZE + ', 0)'">
                            <g *ngIf="piece === 0"
                               app-martian-chess-pawn
                               [pieceClasses]="['player' + (player === 0 ? 1 : 0)]"
                               [style]="style" />
                            <g *ngIf="piece === 1"
                               app-martian-chess-drone
                               [pieceClasses]="['player' + (player === 0 ? 1 : 0)]"
                               [style]="style" />
                            <g *ngIf="piece === 2"
                               app-martian-chess-queen
                               [pieceClasses]="['player' + (player === 0 ? 1 : 0)]"
                               [style]="style" />
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>