<div id="gameboard">
	<table (click)="chooseCoord($event);">
		<tr *ngFor="let line of board; index as y;">
			<td *ngFor="let case of line; index as x;"
				style="position:relative;">
				<img *ngIf="(lastX===x && lastY===y) || (chosenX===x && chosenY===y)"
					 width="50" height="50"
					 id="{{'t'+y+x}}"
					 alt="highlighted"
					 [src]="imagesLocation+'squared_highlight.svg'"
					 style="position:absolute; top:0; left:0;"/>
				<img width="50" height="50"
					 id="{{'u'+y+x}}"
					 alt=":{{ case }}:"
					 [src]='imagesLocation+"quarto/"+[case]+".svg"'/>
				<img *ngIf="(chosenX===x && chosenY===y)"
					 width="50" height="50"
					 id="{{'v'+y+x}}"
					 alt="piece in hand that you just put on the board"
					 [src]="imagesLocation+'quarto/'+pieceInHand+'.svg'"
					 style="position:absolute; top:0; left:0;"/>
			</td>
		</tr>
	</table>
	Pièce en main :
	<img *ngIf="chosenX === -1" width="50" height="50"
		 alt=":{{ pieceInHand }}:"
		 [src]='imagesLocation+"quarto/"+pieceInHand+".svg"'/>
</div>

<div id="piece">
	<table (click)="choosePiece($event);">
		<tr *ngFor="let line of board; index as y;">
			<td *ngFor="let case of line; index as x;"
				style="position:relative;">
				<img *ngIf="isRemaining((4*y)+x)"
					 width="50" height="50"
					 id="{{'p'+((4*y)+x)}}"
					 alt=":{{ ((4*y)+x) }}:"
					 [src]='imagesLocation+"quarto/"+((4*y)+x)+".svg"'/>
				<img *ngIf="((4*y)+x) === pieceToGive"
					 width="50" height="50"
					 id="{{'q'+((4*y)+x)}}"
					 alt="highlighted"
					 [src]="imagesLocation+'squared_highlight.svg'"
					 style="position:absolute; top:0; left:0;"/>
			</td>
		</tr>
	</table>
</div>
