<div id="gameBoard"
     style="float: left">
    <table id="gameBoardTable">
        <tr id="row_{{y}}"
            *ngFor="let line of board; index as y;">
            <td *ngFor="let caseContent of line; index as x;"
                style="position:relative;"
                id="chooseCoord_{{x}}_{{y}}"
                (click)="chooseCoord(x, y);">
                <img *ngIf="isHighlighted(x, y)"
                     id="highlight"
                     width="50" height="50"
                     alt="highlighted"
                     [src]="imagesLocation+'squared_highlight.svg'"
                     style="position:absolute; top:0; left:0;"/>
                <img width="50" height="50"
                     alt=":{{ caseContent }}:"
                     [src]='imagesLocation+"quarto/"+[caseContent]+".svg"'/>
                <img *ngIf="(chosen.x===x && chosen.y===y)"
                     width="50" height="50"
                     alt="piece in hand that you just put on the board"
                     [src]="imagesLocation+'quarto/'+pieceInHand.value+'.svg'"
                     style="position:absolute; top:0; left:0;"/>
            </td>
        </tr>
    </table>
    Pièce en main :
    <img *ngIf="chosen.x === -1"
         width="50" height="50"
         alt=":{{ pieceInHand }}:"
         [src]='imagesLocation + "quarto/" + pieceInHand.value + ".svg"'/>
</div>
<div id="piece" style="float: right">
    <table>
        <tr *ngFor="let line of board; index as y;">
            <td *ngFor="let caseContent of line; index as x;"
                style="position:relative;"
                id="choosePiece_{{(4*y)+x}}"
                (click)="choosePiece((4*y)+x);">
                <img *ngIf="isRemaining((4*y)+x)"
                     width="50" height="50"
                     alt=":{{ ((4*y)+x) }}:"
                     [src]='imagesLocation+"quarto/"+((4*y)+x)+".svg"'/>
                <img *ngIf="((4*y)+x) === pieceToGive.value"
                     width="50" height="50"
                     alt="highlighted"
                     [src]="imagesLocation+'squared_highlight.svg'"
                     style="position:absolute; top:0; left:0;"/>
            </td>
        </tr>
    </table>
</div>