<div *ngIf="currentJoiner"
     class="columns">
    <div class="column is-9">
        <div id="gameConfig" class="box">
            <mat-horizontal-stepper id="creatorDiv" linear #stepper *ngIf="userIsCreator">
                <mat-step [stepControl]="opponentFormGroup" editable="false">
                    <ng-template matStepLabel>Sélection d'un adversaire</ng-template>
                    <div *ngIf="currentJoiner.candidates.length === 0 else chooseCandidate">
                        Attendez qu'un utilisateur vous rejoigne!
                    </div>
                    <ng-template #chooseCandidate>
                        <form id="chooseCandidate" [formGroup]="opponentFormGroup">
                            <mat-radio-group class="example-radio-group"
                                             formControlName="chosenOpponent"
                                             required>
                                <mat-radio-button class="example-radio-button"
                                                  *ngFor="let joinerName of currentJoiner.candidates"
                                                  [value]="joinerName">
                                    {{joinerName}}
                                </mat-radio-button>
                            </mat-radio-group>
                            <div *ngIf="opponentFormGroup.get('chosenOpponent').value !== ''">
                                <button (click)="setChosenPlayer(opponentFormGroup.get('chosenOpponent').value)"
                                        mat-button
                                        matStepperNext>
                                    Jouer contre {{ opponentFormGroup.get('chosenOpponent').value }}
                                </button>
                                <button (click)="unselectChosenPlayer()"
                                        mat-button>
                                    Annuler
                                </button>
                            </div>
                        </form>
                    </ng-template>
                </mat-step>

                <mat-step [stepControl]="configFormGroup" editable="false">
                    <form id="proposeConfig"
                          *ngIf="currentJoiner.chosenPlayer"
                          [formGroup]="configFormGroup">
                        <ng-template matStepLabel>Configurez la partie</ng-template>
                        <mat-radio-group class="example-radio-group" formControlName="firstPlayer" required>
                            <mat-radio-button class="example-radio-button" value="CREATOR"> Vous commencez </mat-radio-button>
                            <mat-radio-button class="example-radio-button" value="CHOSEN_PLAYER"> {{ currentJoiner.chosenPlayer }} commence </mat-radio-button>
                            <mat-radio-button class="example-radio-button" value="RANDOM"> Premier joueur au hasard </mat-radio-button>
                        </mat-radio-group>
                        <div> Durée maximum d'un tour :
                            <mat-slider
                                class="example-margin"
                                formControlName="maximalMoveDuration"
                                [min]="10" [max]="300" [step]="10"
                                [thumbLabel]="true"
                                required>
                            </mat-slider>
                        </div>
                        <div> Durée maximum de la partie (par joueur) :
                            <mat-slider
                                class="example-margin"
                                formControlName="totalPartDuration"
                                [min]="60" [max]="3600" [step]="30"
                                [thumbLabel]="true"
                                required>
                            </mat-slider>
                        </div>
                        <div>
                            <!-- <button mat-button matStepperPrevious (click)="unselectChosenPlayer()"> Changer d'adversaire
                                 </button>-->
                            <button mat-button matStepperNext (click)="proposeConfig()"> Proposer config</button>
                        </div>
                    </form>
                </mat-step>

                <mat-step editable="false">
                    <ng-template matStepLabel>Done</ng-template>
                    Attendez la confirmation de {{ currentJoiner.chosenPlayer }}
                    La partie commencera automatiquement
                    <!--<div>
                        <button mat-button matStepperPrevious>Revenir sur la config</button>
                    </div>-->
                </mat-step>
            </mat-horizontal-stepper>

            <div id="chosenPlayerDiv" *ngIf="userIsChosenPlayer">
                <h3> Vous avez été choisi comme adversaire !</h3>
                <div id="whoPlaysFirst">
                    <h4 *ngIf="!proposalSent">
                        {{ currentJoiner.creator }} est en train de choisir la configuration de la partie
                    </h4>
                    <div id="acceptConfig" *ngIf="proposalSent">
                        <h4 *ngIf="currentJoiner.firstPlayer === 'CREATOR'">
                            {{ currentJoiner.creator }} propose que tu commences
                        </h4>
                        <h4 *ngIf="currentJoiner.firstPlayer === 'CHOSEN_PLAYER'">
                            {{ currentJoiner.creator }} propose qu'il commence
                        </h4>
                        <h4 *ngIf="currentJoiner.firstPlayer === 'RANDOM'">
                            {{ currentJoiner.creator }} propose que le premier joueur soit choisi au hasard
                        </h4>
                        <h4> Il propose : {{ currentJoiner.maximalMoveDuration }}s/tour maximum </h4>
                        <h4> Et : {{ currentJoiner.totalPartDuration }}s/joueur maximum </h4>
                        <button mat-button
                                (click)="acceptConfig()"
                                [disabled]="acceptingDisabled">
                            Accepter et commencer
                        </button>
                    </div>
                </div>
            </div>

            <div id="guestDiv" *ngIf="!userIsCreator && !userIsChosenPlayer">
                Adversaire choisi : {{ currentJoiner.chosenPlayer }}
            </div>
        </div>
    </div>

    <div id="joiners" class="column is-3">
        <div class="box">
            <div class="content">
                <h4> Joueurs présents : </h4>
                <ul>
                    <li *ngIf="currentJoiner.chosenPlayer"
                        id="selected_{{currentJoiner.chosenPlayer}}">
                        <p><b> {{ currentJoiner.chosenPlayer }} </b></p>
                    </li>
                    <li *ngFor="let joinerName of currentJoiner.candidates"
                        id="presenceOf_{{joinerName}}">
                        <p> {{ joinerName }} </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
