<svg  xmlns="http://www.w3.org/2000/svg"
      width="600px" height="600px"
      viewBox="0 0 700 700"
      preserveAspectRatio="xMidYMid meet">
    <g *ngFor="let y of [0, 1, 2, 3, 4, 5]">
        <g *ngFor="let currentCase of board[y]; index as x;">
            <circle [attr.cx]="5 + CASE_SIZE * x + (CASE_SIZE/2)"
                    [attr.cy]="5 + 5*CASE_SIZE - CASE_SIZE * y + (CASE_SIZE/2)"
                    [attr.r]="(CASE_SIZE-2)/2"
                    [ngStyle]="getCaseStyle(x, y)"
                    pointer-events="fill"
                    (click)="onClick(x)" />
        </g>
    </g>
</svg>
