<div class="container-fluid"
	 style="height: 88%; max-height: 88%">

	<div id="game" class="flex-container">

		<div id="board" class="flex-container circled col-sm-9">
			<app-game-includer></app-game-includer>
		</div>

		<div id="info" class="circled col-sm-3">
			<div style="text-align:center" *ngIf="componentInstance">
				Tour : {{ componentInstance.rules.node.gamePartSlice.turn }} <br/>
				Joueur 0 : <button (click)="switchPlayerOne()">{{ this.players[0] === 'bot' ? 'Robot' : 'Humain' }}</button><br/>
				Joueur 1 : <button (click)="switchPlayerTwo()">{{ this.players[1] === 'bot' ? 'Robot' : 'Humain' }}</button>
			</div>

		</div>

	</div>

</div>
