<div class="box">
    <div class="message is-info">
        <div class="message-header" i18n>Account verification</div>
        <div class="message-body"
             id="verificationEmail"
             *ngIf="verificationType === 'send-email'">
            <div class="block" i18n>In order to finalize your account, you must click on the link that you should have received on your email address ({{ emailAddress }}). The email could be in your spam folder. You can then reload this page. If you have not received the email, click on the following button to send it again.</div>
            <button id="sendEmail"
                    [disabled]="success"
                    class="button is-primary"
                    (click)="sendEmailVerification()"
            i18n>Send verification email</button>
            <p class="help is-success"
               id="success"
               *ngIf="success"
            i18n>The email has been sent</p>
        </div>

        <ng-container *ngIf="verificationType === 'enter-username'">
            <div class="message-body"
                 id="success"
                 *ngIf="success"
                 i18n>Your account has now been finalized, you can go back to the <a [routerLink]="['/server']">list of games</a>.</div>
            <div class="message-body"
                 id="askUsername"
                 *ngIf="!success">
                <div class="block" i18n>In order to finalize your account, you must choose a username.</div>
                <form [formGroup]="usernameForm">
                    <div class="field has-addons">
                        <div class="control">
                            <input class="input"
                                   type="text"
                                   placeholder-i18n placeholder="Username"
                                   id="username"
                                   name="username"
                                   required
                                   formControlName="username"
                             />
                        </div>
                        <div class="control">
                            <button class="button is-info"
                                    id="pickUsername"
                                    (click)="pickUsername(usernameForm.value)"
                                    i18n>Pick username</button>
                        </div>
                    </div>
                </form>
            </div>
        </ng-container>
    </div>
    <div class="message is-danger"
         *ngIf="errorMessage" >
        <div class="message-body"
             id="errorMessage"
         >{{ errorMessage }}</div>
    </div>
</div>
