<svg xmlns="http://www.w3.org/2000/svg"
     width="100%" height="auto"
     viewBox="0 0 875 380"
     preserveAspectRatio="xMidYMid meet">
    <g *ngFor="let coord of hexaBoard.allCoords();">
        <g *ngFor="let caseContent of [hexaBoard.getAt(coord)]">
            <!-- Background -->
            <polyline [attr.points]="getHexaCoordinates(coord)"
                      class="base mid-stroke" />
            <!-- Piece -->
            <circle *ngIf="caseContent.getSize() > 0"
                    id="click_{{ coord.x }}_{{ coord.y }}"
                    (click)="onClick(coord.x, coord.y)"
                    [attr.cx]="getCenter(coord).x"
                    [attr.cy]="getCenter(coord).y"
                    [attr.r]="getPieceSize()"
                    [ngClass]="getPieceClasses(caseContent)"
                    class="base mid-stroke"/>
            <polygon *ngIf="caseContent.containsSource()"
                     class="other-piece"
                     points="157.055,0 90.798,196.319 164.417,196.319 88.344,400 289.571,159.509 218.405,159.509 311.656,0"
                     [attr.transform]="'translate(' + (getCenter(coord).x+3) + ' ' + (getCenter(coord).y-12) + ') scale(0.07)'"/>
            <text *ngIf="caseContent.getSize() > 1"
                  (click)="onClick(coord.x, coord.y)"
                  [attr.x]="getCenter(coord).x"
                  [attr.y]="getCenter(coord).y"
                  class="text-center text-medium text-bold"
                  dy="13">{{caseContent.getSize()}}</text>

        </g>
    </g>
    <!-- Show disconnecteds -->
    <g *ngFor="let disconnected of disconnecteds">
        <polyline [attr.points]="getHexaCoordinates(disconnected)"
                  class="base mid-stroke captured"/>
        <circle id="captured_{{ disconnected.x }}_{{ disconnected.y }}"
                [attr.cx]="getCenter(disconnected).x"
                [attr.cy]="getCenter(disconnected).y"
                [attr.r]="getPieceSize()"
                class="base mid-stroke transparent"
                [ngClass]="getPieceClasses(disconnected.caseContent)"/>
        <text *ngIf="disconnected.caseContent.getSize() > 1"
              [attr.x]="getCenter(disconnected).x"
              [attr.y]="getCenter(disconnected).y"
              class="text-center text-big"
              dy="17">{{disconnected.caseContent.getSize()}}</text>
    </g>
    <!-- Highlight last move -->
    <ng-container *ngIf="lastMove !== null">
        <polyline [attr.points]="getHexaCoordinates(lastMove.coord)"
                  class="base no-fill highlighted"/>
        <polyline [attr.points]="getHexaCoordinates(lastMove.end)"
                  class="base no-fill highlighted"/>
    </ng-container>
    <!-- Highlight selected piece -->
    <polyline *ngIf="chosen !== null"
              [attr.points]="getHexaCoordinates(chosen)"
              class="base no-fill selected"/>
</svg>
