<div style="height: 100%; overflow: hidden">

    <button id="switchChatVisibilityButton"
            mat-button
            (click)="switchChatVisibility()">
            {{ visible ? "Réduire le chat" : "Afficher chat" }} ({{ this.unreadMessages }} nouveau(x) message(s))
    </button>

    <form id="chatForm" *ngIf="visible" class="example-form" >
        <!-- Messages -->
        <div style="max-height: 90%; overflow: auto">
            <mat-list *ngIf="chat">
                <p *ngFor="let msg of chat">
                    [{{ msg.postedTime | date:'HH:mm:ss':'+0100' }}] <b>{{ msg.sender }} :</b> {{ msg.content }}
                </p>
            </mat-list>
        </div>

        <!-- Text Input -->
        <mat-form-field class="full-width"
                        align="start"
                        *ngIf="userName!=''">
            <input matInput
                   #message
                   maxlength="128"
                   placeholder="Envoyez un message!"
                   [(ngModel)]="userMessage"
                   [ngModelOptions]="{standalone: true}">
            <mat-icon matSuffix (click)="sendMessage()">send</mat-icon>
            <mat-hint align="start">
                <strong>Soyez courtois lol</strong>
            </mat-hint>
            <mat-hint align="end">
                {{message.value.length}} / 128
            </mat-hint>
        </mat-form-field>
    </form>
</div>
