<div style="width: 800px;">
    <ng-container *ngIf="connected">
        <button id="switchChatVisibilityButton"
                class="button is-primary is-light is-fullwidth block"
                (click)="switchChatVisibility()">
            <ng-container *ngIf="visible else showChat" i18n>Réduire le chat</ng-container>
            <ng-template #showChat i18n>Afficher le chat ({{ this.unreadMessages }} nouveau(x) message(s))</ng-template>
        </button>

        <div class="content is-fullwidth">
            <ng-container *ngFor="let msg of chat">
                [{{ msg.postedTime | date:'HH:mm:ss':'+0100' }}] <b>&lt;{{ msg.sender }}&gt;:</b> {{ msg.content }}<br/>
            </ng-container>
        </div>

        <form id="chatForm" *ngIf="visible"
              (onSubmit)="sendMessage(message.value)">
            <div class="field has-addons is-fullwidth">
                <div class="control is-expanded">
                    <input class="input"
                           #message
                           id="message"
                           type="text"
                           placeholder="Entrez votre message ici"
                           maxlength="128"
                           value=""
                           [(ngModel)]="userMessage"
                           [ngModelOptions]="{standalone: true}">
                    <p class="help">{{ message.value.length }}/128</p>
                </div>
                <div class="control">
                    <button class="button is-primary"
                            id="send"
                            (click)="sendMessage(message.value)"
                            >Send</button>
                </div>
            </div>
            <div class="content is-small">
                <p><strong>Be polite</strong></p>
            </div>
        </form>
    </ng-container>
    <div *ngIf="connected === false"
         id="disconnected-chat"
         class="message is-primary is-light">
        <p>Only connected users can see the chat</p>
    </div>
</div>
