<form class="example-form" *ngIf="chat">

	<!-- Messages -->
	<mat-list>
		<p> [1] 2 : 3 </p><p> [1] 2 : 3 </p><p> [1] 2 : 3 </p><p> [1] 2 : 3 </p><p> [1] 2 : 3 </p><p> [1] 2 : 3 </p>
		<p> [1] 2 : 3 </p><p> [1] 2 : 3 </p><p> [1] 2 : 3 </p><p> [1] 2 : 3 </p><p> [1] 2 : 3 </p><p> [1] 2 : 3 </p>
		<p *ngFor="let msg of chat">
			[{{ msg.postedTime | date:'HH:mm:ss':'+0100' }}] {{ msg.sender }} : {{ msg.content }}
		</p>
	</mat-list>
	<!-- <mat-card *ngFor="let msg of chat">
		<mat-card-header>
			<div mat-card-avatar class="example-header-image"></div>
			<mat-card-title> [{{ msg.postedTime | date:'HH:mm:ss':'+0100' }}] {{ msg.sender }} : </mat-card-title>
			<mat-card-subtitle> {{ msg.content }} </mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>

		</mat-card-content>
	</mat-card> -->

	<!-- Text Input -->
	<mat-form-field class="full-width"
					align="start">
		<input name="inputMessage"
			   matInput
			   #message
			   maxlength="128"
			   placeholder="Envoyez un message!"
			   [(ngModel)]="userMessage">
		<mat-icon matSuffix (click)="sendMessage()">send</mat-icon>
		<mat-hint align="start">
			<strong>Soyez courtois lol</strong>
		</mat-hint>
		<mat-hint align="end">
			{{message.value.length}} / 128
		</mat-hint>
	</mat-form-field>

</form>
