<h1>Bonjour je suis game config loooo</h1>
<form [formGroup]="gameConfigForm"
      (ngSubmit)="onSubmit()">
    <div *ngFor="let configParameter of config.fields"
         id="{{ configParameter.name }}_{{ configParameter.type }}_config">
        <p>{{ configParameter.name }} is a {{ configParameter.type }}</p>
        <div *ngIf="configParameter.type === 'number'"
             class="control">
            <input id="{{ configParameter.name }}_number_config_input"
                   [formControlName]="configParameter.name"
                   type="number"
                   class="input"
                   i18n-placeholder placeholder="{{ configParameter.name }}" />

        </div>
        <div *ngIf="configParameter.type === 'string'"
             class="control">
            <input id="{{ configParameter.name }}_string_config_input"
                   [formControlName]="configParameter.name"
                   class="input"
                   i18n-placeholder placeholder="{{ configParameter.name }}" />

        </div>
        <div *ngIf="configParameter.type === 'boolean'"
             class="control">
            <input id="{{ configParameter.name }}_boolean_config_input"
                   class="input"
                   [formControlName]="configParameter.name"
                   i18n-placeholder placeholder="{{ configParameter.name }}" />

        </div>
    </div>
    <div class="form-row">
        <button type="submit" [disabled]="!gameConfigForm.valid">Save</button>
    </div>
</form>