.base {
    stroke: black;
    stroke-width: 8;
    fill: lightgrey;
}
.base-no-fill {
    stroke: black;
    stroke-width: 8;
}
.player0 {
    fill: #994d00;
}
.player0-stroke {
    stroke: #994d00;
}
.player1 {
    fill: #ffc34d;
}
.player1-stroke {
    stroke: #ffc34d;
}
.pre-captured {
    fill: pink;
}
.captured {
    fill: red;
}
.captured-stroke {
    stroke: red;
}
.moved {
    fill: gray;
}
.highlighted {
    stroke: #e6e600;
    stroke-width: 5;
}
.highlighted2 {
    stroke: orange;
    stroke-width: 5;
}
.clickable {
    stroke: yellow;
}
.capturable {
    stroke-width: 2;
    stroke: yellow;
}
.capturable:hover {
    stroke-width: 8;
}
.arrow {
    stroke: black;
    stroke-width: 3;
}
.no-fill {
    fill: none;
}
.no-stroke {
    stroke: none;
}
.small-stroke {
    stroke-wdth: 2;
}
.text-big {
    font: 50px sans-serif;
}
.text-small {
    font: 20 sans-serif;
}
.text-center {
    text-anchor: middle;
}
