<svg xmlns="http://www.w3.org/2000/svg"
     width="100%" height="100%"
     [attr.viewBox]="LEFT + ' ' + UP + ' ' + WIDTH + ' ' + HEIGHT">

    <g *ngFor="let line of board; index as y">
        <g *ngFor="let space of line; index as x">
            <polygon id="space_{{ x }}_{{ y }}"
                     [attr.points]="getRhombusPoints()"
                     [attr.transform]="getTranslate(x, y, 0)"
                     (click)="onClick(x, y)"
                     class="base"
                     [ngClass]="getSpaceClasses(x, y)"/>
        </g>
    </g>
    <g *ngFor="let moveZ of pieceOnBoard; index as z">
        <g *ngFor="let moveYZ of moveZ; index as y">
            <g *ngFor="let piece of moveYZ; index as x">
                <g *ngIf="piece.move.isPresent()"
                   app-3d-iso-square
                   id="app_3d_iso_square_{{ x }}_{{ y }}_{{ z }}"
                   (click)="onClick(x, y)"
                   [attr.transform]="getTranslate(x, y, z + 1)"
                   [mode]="mode"
                   [coord]="getCoordXYZ(x, y, z)"
                   [mustDisplayHeight]="chosenMode === '2D'"
                   [move]="piece.move.get()"
                   [pieceClasses]="getPieceClasses(x, y)"/>
                <g *ngIf="piece.isDroppedPiece"
                   app-3d-iso-square
                   [mode]="mode"
                   id="dropped_piece_{{ x }}_{{ y }}_{{ z }}"
                   (click)="onClick(x, y)"
                   [attr.transform]="getTranslate(x, y, z + 1)"
                   [coord]="getCoordXYZ(x, y, z)"
                   [pieceClasses]="[currentOpponentClass]"/>
            </g>
        </g>
    </g>
    <g #switchModeIndicator>
        <g *ngIf="chosenMode === '2D' else switchTo2D"
           id="switchTo3D"
           app-3d-iso-square
           (click)="switchToMode('3D')"
           [mode]="TrexoComponent.modeMap['3D']"
           [attr.transform]="get3DSwitcherTransform()"
           [coord]="getCoordXYZ(10.5, 8.5, 0)"
           [pieceClasses]="['player0-fill']"/>
        <ng-template #switchTo2D>
            <g app-3d-iso-square
               id="switchTo2D"
               (click)="switchToMode('2D')"
               [mode]="TrexoComponent.modeMap['2D']"
               [attr.transform]="getTranslate(12, 9, 0)"
               [coord]="getCoordXYZ(12, 9, 0)"
               [pieceClasses]="['player0-fill']"/>
        </ng-template>
    </g>
</svg>