<section class="hero">
    <div class="hero-body">
        <p class="title" i18n>
            AwesomBoard
        </p>
        <p class="subtitle" i18n>
            AwesomBoard is a website to play and learn the rules of various abstract strategy games with perfect information.<br/>
            Such games are games that do not include any randomness, agility, or hidden information.
            These games are played by two players, turn by turn.
        </p>
    </div>
    <div class="columns">
        <div class="column">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title" i18n>Play online</p>
                </header>
                <div class="card-content">
                    <div class="content">
                        <button class="button is-medium is-fullwidth is-primary mb-1" routerLink="/play" i18n>Create an online game</button>
                        <button class="button is-medium is-fullwidth is-primary" routerLink="/server" i18n>See the game list</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title" i18n>Play offline</p>
                </header>
                <div class="card-content">
                    <div class="content">
                        <button class="button is-medium is-fullwidth is-primary mb-1" routerLink="/local" i18n>Play</button>
                        <button class="button is-medium is-fullwidth is-primary" routerLink="/didacticial" i18n>Learn</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="masonry">
        <div class="card item" *ngFor="let game of games">
            <div class="card-header">
                <p class="card-header-title">{{ game.name }}</p>
            </div>
            <div class="card-image">
                <figure class="image">
                    <img src="assets/images/{{ game.urlName }}.png">
                </figure>
            </div>
            <div class="card-content">
                <div class="content">
                    {{ game.description }}
                </div>
            </div>
            <div class="card-footer">
                <a id="playOnline_{{game.urlName}}" (click)="createGame(game.urlName)" class="card-footer-item" i18n>Play online</a>
                <a id="playLocally_{{game.urlName}}" (click)="createLocalGame(game.urlName)" class="card-footer-item" i18n>Play offline</a>
                <a id="startDidacticial_{{game.urlName}}" (click)="createDidacticial(game.urlName)" class="card-footer-item" i18n>Learn</a>
            </div>
        </div>
    </div>
</section>
