<h1>
    <a class="nav-link">
        Futurement joli: Voir les jeux disponibles!
    </a>
</h1>
<h1>
    <a class="nav-link"
       [routerLink]="['/local']">
        Futurement joli: Jouer hors ligne
    </a>
</h1>
<h1>
    <a class="nav-link"
       [routerLink]="['/didacticial']">
        Futurement joli: Apprendre les règles d'un jeu.
    </a>
</h1>
<h1>
    <a class="nav-link"
        [routerLink]="['/play']"
    >
        Futurement joli: Créer une partie en ligne
    </a>
</h1>
<h1>
    <a class="nav-link"
       [routerLink]="['/server']"
    >
        Futurement joli: Voir les parties en cours
    </a>
</h1>