<svg xmlns="http://www.w3.org/2000/svg"
     width="100%" height="100%"
     [attr.viewBox]="getViewBox().toSVGString()"
     preserveAspectRatio="xMidYMid meet">

    <g app-blank-goban
       [width]="getState().getWidth()"
       [height]="getState().getHeight()"
       (clickCallBack)="onClick($event)">
  </g><g id="piece_ko_territory_markers_and_dead_stones">
        <g *ngFor="let line of board; index as y">
            <g *ngFor="let spaceContent of line; index as x">
                <g *ngIf="spaceIsFull(x, y) else empty">
                    <circle [attr.cx]="(SPACE_SIZE * 0.5) + (SPACE_SIZE * x)"
                            [attr.cy]="(SPACE_SIZE * 0.5) + (SPACE_SIZE * y)"
                            [attr.r]="SPACE_SIZE * 0.44"
                            (click)="onClickXY(x, y)"
                            [ngClass]="getSpaceClass(x, y)"
                            class="base"
                    />
                    <circle *ngIf="isLastSpace(x, y)"
                            [attr.cx]="(SPACE_SIZE * 0.5) + (SPACE_SIZE * x)"
                            [attr.cy]="(SPACE_SIZE * 0.5) + (SPACE_SIZE * y)"
                            [attr.r]="SPACE_SIZE * 0.44"
                            class="base no-fill last-move-stroke"
                    />
                    <line *ngIf="isDead(x, y)"
                          (click)="onClickXY(x, y)"
                          [attr.x1]="SPACE_SIZE * x"
                          [attr.y1]="SPACE_SIZE * y"
                          [attr.x2]="SPACE_SIZE + (SPACE_SIZE * x)"
                          [attr.y2]="SPACE_SIZE + (SPACE_SIZE * y)"
                          class="base no-fill captured-stroke"
                    />
                </g>
                <ng-template #empty>
                    <circle *ngIf="isTerritory(x, y)"
                            [attr.cx]="(SPACE_SIZE * 0.5) + (SPACE_SIZE * x)"
                            [attr.cy]="(SPACE_SIZE * 0.5) + (SPACE_SIZE * y)"
                            [attr.r]="SPACE_SIZE * 0.2"
                            [attr.class]="spaceContent === GoPiece.LIGHT_TERRITORY ? 'player1-fill' : 'player0-fill'"
                            (click)="onClickXY(x, y)"
                    />
                </ng-template>
            </g>
        </g>
    </g>
    <rect *ngIf="ko.isPresent()"
          [attr.width]="SPACE_SIZE * 0.5"
          [attr.height]="SPACE_SIZE * 0.5"
          [attr.x]="(SPACE_SIZE * 0.25) + (SPACE_SIZE * ko.get().x)"
          [attr.y]="(SPACE_SIZE * 0.25) + (SPACE_SIZE * ko.get().y)"
          class="captured-stroke mid-stroke no-fill"
    />
    <circle *ngFor="let capture of captures"
            (click)="onClick(capture)"
            [attr.cx]="(SPACE_SIZE * 0.5) + (SPACE_SIZE * capture.x)"
            [attr.cy]="(SPACE_SIZE * 0.5) + (SPACE_SIZE * capture.y)"
            [attr.r]="SPACE_SIZE * 0.14"
            class="captured-fill"
    />
</svg>
