<svg xmlns="http://www.w3.org/2000/svg"
     width="100%" height="auto"
     viewBox="0 0 900 900"
     preserveAspectRatio="xMidYMid meet">
    <g *ngFor="let line of board; index as y">
        <g *ngFor="let c of line; index as x">
            <rect id="click_{{ x }}_{{ y }}"
                  (click)="onClick(x, y)"
                  [attr.x]="CASE_SIZE*x"
                  [attr.y]="CASE_SIZE*y"
                  [attr.width]="CASE_SIZE"
                  [attr.height]="CASE_SIZE"
                  [ngClass]="getRectClasses(x, y)"
                  class="base"
            />
            <g *ngIf="board[y][x] === NONE && isThrone(x, y)">
                <line (click)="onClick(x, y)"
                      [attr.x1]="CASE_SIZE*x"
                      [attr.y1]="CASE_SIZE*y"
                      [attr.x2]="CASE_SIZE + (CASE_SIZE*x)"
                      [attr.y2]="CASE_SIZE + (CASE_SIZE*y)"
                      class="base"
                      />
                <line (click)="onClick(x, y)"
                      [attr.x1]="CASE_SIZE + (CASE_SIZE*x)"
                      [attr.y1]="CASE_SIZE*y"
                      [attr.x2]="CASE_SIZE*x"
                      [attr.y2]="CASE_SIZE + (CASE_SIZE*y)"
                      class="base"
                      />
            </g>
            <g *ngIf="board[y][x] !== NONE">
                <circle (click)="onClick(x, y)"
                        [attr.r]="(CASE_SIZE-STROKE_WIDTH)/2"
                        [attr.cx]="CASE_SIZE/2 + CASE_SIZE*x"
                        [attr.cy]="CASE_SIZE/2 + CASE_SIZE*y"
                        [ngClass]="getPieceClasses(x, y)"
                        class="base"
                />
                <g *ngIf="isInvader(x, y) else defender">
                    <line (click)="onClick(x, y)"
                          [attr.x1]="0.50*CASE_SIZE + CASE_SIZE*x" [attr.y1]="0.04*CASE_SIZE + CASE_SIZE*y"
                          [attr.x2]="0.50*CASE_SIZE + CASE_SIZE*x" [attr.y2]="0.96*CASE_SIZE + CASE_SIZE*y"
                          class="base"
                    />
                    <line (click)="onClick(x, y)"
                          [attr.x1]="0.50*CASE_SIZE + CASE_SIZE*x" [attr.y1]="0.20*CASE_SIZE + CASE_SIZE*y"
                          [attr.x2]="0.05*CASE_SIZE + CASE_SIZE*x" [attr.y2]="0.65*CASE_SIZE + CASE_SIZE*y"
                          class="base"
                    />
                    <line (click)="onClick(x, y)"
                          [attr.x1]="0.50*CASE_SIZE + CASE_SIZE*x" [attr.y1]="0.20*CASE_SIZE + CASE_SIZE*y"
                          [attr.x2]="0.95*CASE_SIZE + CASE_SIZE*x" [attr.y2]="0.65*CASE_SIZE + CASE_SIZE*y"
                          class="base"
                    />
                    <line (click)="onClick(x, y)"
                          [attr.x1]="0.50*CASE_SIZE + CASE_SIZE*x" [attr.y1]="0.40*CASE_SIZE + CASE_SIZE*y"
                          [attr.x2]="0.15*CASE_SIZE + CASE_SIZE*x" [attr.y2]="0.75*CASE_SIZE + CASE_SIZE*y"
                          class="base"
                    />
                    <line (click)="onClick(x, y)"
                          [attr.x1]="0.50*CASE_SIZE + CASE_SIZE*x" [attr.y1]="0.40*CASE_SIZE + CASE_SIZE*y"
                          [attr.x2]="0.85*CASE_SIZE + CASE_SIZE*x" [attr.y2]="0.75*CASE_SIZE + CASE_SIZE*y"
                          class="base"
                    />
                </g>
                <ng-template #defender>
                    <g *ngIf="isKing(x, y) else soldierDefender">
                        <polyline (click)="onClick(x, y)"
                                  [attr.points]="getKingPolyline(x, y)"
                                  class="base no-fill"
                        />
                    </g>
                    <ng-template #soldierDefender>
                        <line (click)="onClick(x, y)"
                              [attr.x1]="0.50*CASE_SIZE + CASE_SIZE*x" [attr.y1]="0.04*CASE_SIZE + CASE_SIZE*y"
                              [attr.x2]="0.50*CASE_SIZE + CASE_SIZE*x" [attr.y2]="0.96*CASE_SIZE + CASE_SIZE*y"
                              class="base"
                        />
                        <line (click)="onClick(x, y)"
                              [attr.x1]="0.04*CASE_SIZE + CASE_SIZE*x" [attr.y1]="0.50*CASE_SIZE + CASE_SIZE*y"
                              [attr.x2]="0.96*CASE_SIZE + CASE_SIZE*x" [attr.y2]="0.50*CASE_SIZE + CASE_SIZE*y"
                              class="base"
                        />
                        <line (click)="onClick(x, y)"
                              [attr.x1]="0.15*CASE_SIZE + CASE_SIZE*x" [attr.y1]="0.15*CASE_SIZE + CASE_SIZE*y"
                              [attr.x2]="0.85*CASE_SIZE + CASE_SIZE*x" [attr.y2]="0.85*CASE_SIZE + CASE_SIZE*y"
                              class="base"
                        />
                        <line (click)="onClick(x, y)"
                              [attr.x1]="0.85*CASE_SIZE + CASE_SIZE*x" [attr.y1]="0.15*CASE_SIZE + CASE_SIZE*y"
                              [attr.x2]="0.15*CASE_SIZE + CASE_SIZE*x" [attr.y2]="0.85*CASE_SIZE + CASE_SIZE*y"
                              class="base"
                        />
                    </ng-template>
                </ng-template>
            </g>
        </g>
    </g>

    <g *ngFor="let coord of getClickables();">
        <rect id="click_{{ coord.x }}_{{ coord.y }}"
              (click)="onClick(coord.x, coord.y)"
              [attr.x]="CASE_SIZE*coord.x"
              [attr.y]="CASE_SIZE*coord.y"
              [attr.width]="CASE_SIZE"
              [attr.height]="CASE_SIZE"
              class="no-fill mid-stroke clickable"
              />
    </g>
</svg>
