<svg xmlns="http://www.w3.org/2000/svg"
     width="100%" height="auto"
     viewBox="0 0 900 900"
     preserveAspectRatio="xMidYMid meet">
    <g *ngFor="let line of board; index as y">
        <g *ngFor="let c of line; index as x">
            <rect id="click_{{ x }}_{{ y }}"
                  (click)="onClick(x, y)"
                  [attr.x]="SPACE_SIZE * x"
                  [attr.y]="SPACE_SIZE * y"
                  [attr.width]="SPACE_SIZE"
                  [attr.height]="SPACE_SIZE"
                  [ngClass]="getRectClasses(x, y)"
                  class="base"
            />
            <g *ngIf="board[y][x] === NONE && isThrone(x, y)">
                <polyline [attr.points]="(x === 4 && y === 4) ? '10 20, 20 90, 80 90, 90 20, 65 60, 50 30, 35 60, 10 20' : '15 15, 85 15, 85 85, 15 85, 15 15, 85 15'"
                          [attr.transform]="'translate(' + (x * SPACE_SIZE) + ' ' + (y * SPACE_SIZE) + ')'"
                          (click)="onClick(x, y)"
                          class="base"/>
            </g>
            <g *ngIf="board[y][x] !== NONE">
                <circle (click)="onClick(x, y)"
                        [attr.r]="(SPACE_SIZE - STROKE_WIDTH) / 2"
                        [attr.cx]="(SPACE_SIZE * x) + (SPACE_SIZE * 0.50)"
                        [attr.cy]="(SPACE_SIZE * y) + (SPACE_SIZE * 0.50)"
                        [ngClass]="getPieceClasses(x, y)"
                        class="base"
                />
                <g *ngIf="isInvader(x, y) else defender">
                    <line (click)="onClick(x, y)"
                          [attr.x1]="(SPACE_SIZE * x) + (SPACE_SIZE * 0.50)" [attr.y1]="(SPACE_SIZE * y) + (0.04 * SPACE_SIZE)"
                          [attr.x2]="(SPACE_SIZE * x) + (SPACE_SIZE * 0.50)" [attr.y2]="(SPACE_SIZE * y) + (SPACE_SIZE * 0.96)"
                          class="base"
                    />
                    <line (click)="onClick(x, y)"
                          [attr.x1]="(SPACE_SIZE * x) + (SPACE_SIZE * 0.50)" [attr.y1]="(SPACE_SIZE * y) + (SPACE_SIZE * 0.20)"
                          [attr.x2]="(SPACE_SIZE * x) + (SPACE_SIZE * 0.05)" [attr.y2]="(SPACE_SIZE * y) + (SPACE_SIZE * 0.65)"
                          class="base"
                    />
                    <line (click)="onClick(x, y)"
                          [attr.x1]="(SPACE_SIZE * x) + (SPACE_SIZE * 0.50)" [attr.y1]="(SPACE_SIZE * y) + (SPACE_SIZE * 0.20)"
                          [attr.x2]="(SPACE_SIZE * x) + (SPACE_SIZE * 0.95)" [attr.y2]="(SPACE_SIZE * y) + (SPACE_SIZE * 0.65)"
                          class="base"
                    />
                    <line (click)="onClick(x, y)"
                          [attr.x1]="(SPACE_SIZE * x) + (SPACE_SIZE * 0.50)" [attr.y1]="(SPACE_SIZE * y) + (SPACE_SIZE * 0.40)"
                          [attr.x2]="(SPACE_SIZE * x) + (SPACE_SIZE * 0.15)" [attr.y2]="(SPACE_SIZE * y) + (SPACE_SIZE * 0.75)"
                          class="base"
                    />
                    <line (click)="onClick(x, y)"
                          [attr.x1]="(SPACE_SIZE * x) + (SPACE_SIZE * 0.50)" [attr.y1]="(SPACE_SIZE * y) + (SPACE_SIZE * 0.40)"
                          [attr.x2]="(SPACE_SIZE * x) + (SPACE_SIZE * 0.85)" [attr.y2]="(SPACE_SIZE * y) + (SPACE_SIZE * 0.75)"
                          class="base"
                    />
                </g>
                <ng-template #defender>
                    <g *ngIf="isKing(x, y) else soldierDefender">
                        <polyline (click)="onClick(x, y)"
                                  [attr.points]="getKingPolyline(x, y)"
                                  class="base no-fill"
                        />
                    </g>
                    <ng-template #soldierDefender>
                        <line (click)="onClick(x, y)"
                              [attr.x1]="(SPACE_SIZE * x) + (SPACE_SIZE * 0.50)" [attr.y1]="(SPACE_SIZE * y) + (SPACE_SIZE * 0.04)"
                              [attr.x2]="(SPACE_SIZE * x) + (SPACE_SIZE * 0.50)" [attr.y2]="(SPACE_SIZE * y) + (SPACE_SIZE * 0.96)"
                              class="base"
                        />
                        <line (click)="onClick(x, y)"
                              [attr.x1]="(SPACE_SIZE * x) + (SPACE_SIZE * 0.04)" [attr.y1]="(SPACE_SIZE * y) + (SPACE_SIZE * 0.50)"
                              [attr.x2]="(SPACE_SIZE * x) + (SPACE_SIZE * 0.96)" [attr.y2]="(SPACE_SIZE * y) + (SPACE_SIZE * 0.50)"
                              class="base"
                        />
                        <line (click)="onClick(x, y)"
                              [attr.x1]="(SPACE_SIZE * x) + (SPACE_SIZE * 0.15)" [attr.y1]="(SPACE_SIZE * y) + (SPACE_SIZE * 0.15)"
                              [attr.x2]="(SPACE_SIZE * x) + (SPACE_SIZE * 0.85)" [attr.y2]="(SPACE_SIZE * y) + (SPACE_SIZE * 0.85)"
                              class="base"
                        />
                        <line (click)="onClick(x, y)"
                              [attr.x1]="(SPACE_SIZE * x) + (SPACE_SIZE * 0.85)" [attr.y1]="(SPACE_SIZE * y) + (SPACE_SIZE * 0.15)"
                              [attr.x2]="(SPACE_SIZE * x) + (SPACE_SIZE * 0.15)" [attr.y2]="(SPACE_SIZE * y) + (SPACE_SIZE * 0.85)"
                              class="base"
                        />
                    </ng-template>
                </ng-template>
            </g>
        </g>
    </g>
    <g *ngFor="let coord of getClickables()">
        <rect id="click_{{ coord.x }}_{{ coord.y }}"
              (click)="onClick(coord.x, coord.y)"
              [attr.x]="SPACE_SIZE * coord.x"
              [attr.y]="SPACE_SIZE * coord.y"
              [attr.width]="SPACE_SIZE"
              [attr.height]="SPACE_SIZE"
              class="no-fill mid-stroke clickable"
        />
    </g>
</svg>
