<svg xmlns="http://www.w3.org/2000/svg"
     width="100%" height="auto"
     viewBox="-4 -4 300 308"
     preserveAspectRatio="xMidYMid meet">
    <g *ngFor="let line of board; index as y">
        <g *ngFor="let caseContent of line; index as x"
           id="click_{{ x }}_{{ y }}"
           (click)="onClick(x, y)"
        >
            <g *ngIf="caseContent.isPlayer()">
                <polyline [attr.points]="getPyramidCoordinate(x, y)"
                          [ngClass]="getPlayerClassFor(x, y)"
                          class="base small-stroke"
                />
            </g>
            <g *ngIf="caseContent.value === 2">
                <polyline *ngIf="(x + y) % 2 === 1"
                          [attr.points]="getTriangleCoordinate(x, y)"
                          class="base small-stroke"
                />
                <polyline *ngIf="(x+y)%2 === 0"
                          [attr.points]="getTriangleCoordinate(x, y)"
                          class="base small-stroke background2"
                />
            </g>
        </g>
    </g>
    <ng-container *ngIf="lastMoved.isPresent()">
        <polyline [attr.points]="getTriangleCoordinate(lastCoord.get().x, lastCoord.get().y)"
                  class="base no-fill small-stroke highlighted" />
        <polyline [attr.points]="getTriangleCoordinate(lastMoved.get().x, lastMoved.get().y)"
                  class="base no-fill small-stroke highlighted" />
    </ng-container>
    <polyline *ngIf="chosenCoord.isPresent()"
              [attr.points]="getTriangleCoordinate(chosenCoord.get().x, chosenCoord.get().y)"
              class="base no-fill small-stroke selected" />
</svg>
