<svg  xmlns="http://www.w3.org/2000/svg"
      width="100%" height="auto"
      viewBox="0 0 600 600"
      preserveAspectRatio="xMidYMid meet">
    <g *ngFor="let line of board; index as y;">
        <g *ngFor="let caseContent of line; index as x;">
            <g id="click_{{ x }}_{{ y }}"
               (click)="onClick(x, y)">
                <!-- Background -->
                <rect [attr.x]="x * CASE_SIZE"
                      [attr.y]="y * CASE_SIZE"
                      [attr.width]="CASE_SIZE"
                      [attr.height]="CASE_SIZE"
                      class="base-no-fill"
                      [attr.fill]="backgroundColor(x, y)"
                      fill-opacity="0.7"/>
                <!-- Piece -->
                <circle *ngIf="caseContent !== UNOCCUPIED"
                        [attr.cx]="CASE_SIZE/2 + (x * CASE_SIZE)"
                        [attr.cy]="CASE_SIZE/2 + (y * CASE_SIZE)"
                        [attr.fill]="pieceColor(caseContent)"
                        r="25"
                        class="base-no-fill"/>
                <circle *ngIf="caseContent !== UNOCCUPIED"
                        [attr.cx]="CASE_SIZE/2 + (x * CASE_SIZE)"
                        [attr.cy]="CASE_SIZE/2 + (y * CASE_SIZE)"
                        [ngClass]="pieceBorderClass(caseContent)"
                        r="8"
                        class="no-stroke"
                        />

            </g>
        </g>
    </g>
    <!-- Highlight last move -->
    <g *ngIf="lastMove !== null">
        <rect [attr.x]="lastMove.coord.x * CASE_SIZE"
              [attr.y]="lastMove.coord.y * CASE_SIZE"
              [attr.width]="CASE_SIZE"
              [attr.height]="CASE_SIZE"
              class="base no-fill highlighted"/>
        <rect [attr.x]="lastMove.end.x * CASE_SIZE"
              [attr.y]="lastMove.end.y * CASE_SIZE"
              [attr.width]="CASE_SIZE"
              [attr.height]="CASE_SIZE"
              class="base no-fill highlighted"/>
    </g>
    <!-- Highlight selected piece -->
    <circle *ngIf="chosen !== null"
            [attr.cx]="CASE_SIZE/2 + (chosen.x * CASE_SIZE)"
            [attr.cy]="CASE_SIZE/2 + (chosen.y * CASE_SIZE)"
            r="30"
            class="base mid-stroke no-fill highlighted"/>
</svg>
