<table>
    <tr style="margin:0; padding:0;"
        *ngFor="let line of board; index as y;">
        <td *ngFor="let caseContent of line; index as x;"
            style="position:relative;"
            (click)="onClick(x, y)">
            <img width="20"
                 id="{{ 't'+y+'_'+x }}"
                 alt=":{{ caseContent }}:"
                 [src]="imagesLocation + 'go/' + caseContent + '.svg'"/>
            <img *ngIf="lastX === x && lastY === y"
                 width="20"
                 id="{{ 'u'+y+'_'+x }}"
                 alt=":{{ caseContent }}:"
                 [src]="imagesLocation + 'highlight.svg'"
                 style="position:absolute; top:0; left:0;" />
             <img *ngIf="koX === x && koY === y"
                  width="20"
                  alt="ko"
                  [src]="imagesLocation + 'go/ko.svg'"
                  style="position:absolute; top:0; left:0;" />
        </td>
    </tr>
</table>
{{ rules.countBoardScore(rules.node.gamePartSlice) }}<br/>
{{ rules.node.gamePartSlice.toString() }}<br/>
