<svg xmlns="http://www.w3.org/2000/svg"
     width="500px" height="500px"
     viewBox="0 0 500 500"
     preserveAspectRatio="xMidYMid meet">
    <g *ngFor="let line of board; index as y;">
        <g *ngFor="let caseContent of line; index as x;">
            <g *ngIf="caseIsFull(x, y) else empty">
                <circle *ngIf="getCaseColor(x, y) === 'black' else white"
                        [attr.cx]="25 + 50*x" [attr.cy]="25 + 50*y" [attr.r]="20"
                        stroke="black"
                        style="fill:darkgrey; stroke-width: 5px;"
                        (click)="onClick(x, y);"/>
                <ng-template #white>
                    <circle [attr.cx]="25 + 50*x" [attr.cy]="25 + 50*y" [attr.r]="20"
                            stroke="black"
                            style="fill:white; stroke-width: 5px;"
                            (click)="onClick(x, y);" />
                </ng-template>
                <circle *ngIf="isLastCase(x, y)"
                        [attr.cx]="25 + 50*x" [attr.cy]="25 + 50*y" [attr.r]="20"
                        stroke="yellow"
                        style="fill: none; stroke-width: 5px;" />
                <line *ngIf="isDead(x, y)"
                      (click)="onClick(x, y);"
                      [attr.x1]="50*x"      [attr.y1]="50*y"
                      [attr.x2]="50 + 50*x" [attr.y2]="50 + 50*y"
                      style="stroke: red; stroke-width: 5px;"/>
            </g>
            <ng-template #empty>
                <rect width="50" height="50"
                      [attr.x]="50*x" [attr.y]="50*y"
                      fill="white"
                      (click)="onClick(x, y);"/>
                <line [attr.x1]="50*x" [attr.y1]="25 + 50*y"
                      [attr.x2]="50 + 50*x" [attr.y2]="25 + 50*y"
                      style="fill:#ffffff; stroke:black; stroke-width: 5px;"
                      (click)="onClick(x, y);"/>
                <line [attr.x1]="25 + 50*x" [attr.y1]="50*y"
                      [attr.x2]="25 + 50*x" [attr.y2]="50 + 50*y"
                      style="fill:#ffffff; stroke:black; stroke-width: 5px;" 
                      (click)="onClick(x, y);"/>
                <rect *ngIf="isKo(x, y);"
                      width="30" height="30"
                      [attr.x]="10 + 50*x" [attr.y]="10 + 50*y"
                      style="fill:none; stroke:red; stroke-width: 5px;" />
            </ng-template>
        </g>
    </g>
</svg>
<br/>
{{ rules.countBoardScore(rules.node.gamePartSlice) }} <br/>
{{ "last: (" + last.x + ", " + last.y +")" }} <br/>
{{ rules.node.gamePartSlice.phase }}