<table>
	<tr style="margin:0; padding:0;"
		*ngFor="let line of board; index as y;">
		<td *ngFor="let caseContent of line; index as x;"
			style="position:relative;"
			(click)="onClick(x, y)">
			<img width="50"
				 id="{{ 't'+y+x }}"
				 alt=":{{ caseContent }}:"
				 [src]="imagesLocation + 'reversi/' + caseContent + '.svg'"/>
			<img *ngIf="lastMove.x === x && lastMove.y === y"
				 width="50"
				 id="{{ 'u'+y+x }}"
				 alt=":{{ caseContent }}:"
				 [src]="imagesLocation + 'highlight.svg'"
				 style="position:absolute; top:0; left:0;"/>
		</td>
	</tr>
</table>
