<svg xmlns="http://www.w3.org/2000/svg"
     width="100%" height="auto"
     viewBox="0 -100 900 900"
     preserveAspectRatio="xMidYMid meet">
    <defs>
        <g id="piece">
            <path d="M 10 15 v 15 a 40 15, 0, 0, 0, 80 0 v -15 a 40 15, 0, 0, 0, -80 0 Z"/>
            <ellipse cx="50" cy="15" rx="40" ry="15"/>
        </g>
    </defs>
    <g *ngFor="let line of adaptedBoard; index as y">
        <g *ngFor="let spaceInfo of line; index as x">
            <g id="coord_{{ x }}_{{ y }}"
               (click)="onClick(x, y)"
               [attr.transform]="getCoordTransform(x, y)">
                <polygon id="space_{{ x }}_{{ y }}"
                         [attr.points]="getLosangePoints()"
                         [ngClass]="spaceInfo.spaceClasses"
                         class="base-no-fill"
                         [attr.fill]="backgroundColor(x, y)"/>
                <g *ngFor="let pieceInfo of spaceInfo.pieceInfos; index as z"
                    pointer-events="fill"
                    [attr.transform]="'translate(15 ' + (35 - (z * 15)) + ')'"
                    class="base mid-small-stroke">
                    <use id="coord_{{ x }}_{{ y }}_piece_{{ z }}"
                         x="10"
                         y="0"
                         xlink:href="#piece"
                         [ngClass]="pieceInfo.classes"
                         class="base mid-stroke"/>
                    <circle id="coord_{{ x }}_{{ y }}_piece_{{ z }}_officer_symbol"
                            *ngIf="pieceInfo.isOfficer"
                            [attr.cx]="10 + (SPACE_SIZE * 0.5)"
                            [attr.cy]="37.5"
                            [attr.r]="6"
                            [ngClass]="pieceInfo.classes"/>
                </g>
            </g>
        </g>
    </g>
    <rect x="0" y="700" [attr.width]="700 * HORIZONTAL_WIDTH_RATIO" [attr.height]="EPAISSEUR" class="base"/>
    <polygon [attr.points]="getDiagonalVolumeLanPoints()" class="base"/>
</svg>
