<div class="tabs is-centered">
    <ul>
        <li ngClass="if (currentTab === 'games') 'is-active'">
            <a (click)="selectTab('games')" i18n>Games</a>
        </li>
        <li ngClass="if (currentTab === 'create') 'is-active'">
            <a (click)="selectTab('create')" i18n>Create</a>
        </li>
        <li ngClass="if (currentTab === 'chat') 'is-active'">
            <a (click)="selectTab('chat')" i18n>Chat</a>
        </li>
    </ul>
</div>

<div *ngIf="currentTab === 'games'"
     id="actualGames"
     class="box">
    <div class="table-container">
        <table class="table is-fullwidth is-hoverable is-striped">
            <thead>
                <tr>
                    <th class="th" scope="col" i18n>Game</th>
                    <th class="th" scope="col" i18n>First player</th>
                    <th class="th" scope="col" i18n>Second player</th>
                    <th class="th" scope="col" i18n>Turn</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let part of getActiveParts(); index as i"
                    id="part_{{ i }}"
                    (click)="joinGame(part.id, part.doc.typeGame)">
                    <td class="td">{{ part.doc.typeGame }}</td>
                    <td class="td">{{ part.doc.playerZero }}</td>
                    <td class="td">
                        <ng-container *ngIf="part.doc.playerOne else waitingForOpponent">{{ part.doc.playerOne }}</ng-container>
                        <ng-template #waitingForOpponent i18n>Waiting for opponent</ng-template>
                    </td>
                    <td class="td">{{ part.doc.turn }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div *ngIf="currentTab === 'create'"
     id="gameCreator"
     class="box">
    <app-pick-game (pickGame)="pickGame($event)"></app-pick-game>
    <button class="button is-medium is-fullwidth is-primary mb-1"
            [disabled]="!selectedGame"
            (click)="createGame()" i18n>Create an online game</button>
</div>
<div *ngIf="currentTab === 'chat'"
     id="chatTab"
     class="columns">
    <div id="chatContainerDiv" class="column is-9">
        <div id="chat" class="box">
            <app-chat chatId="server" [turn]="-1"></app-chat>
        </div>
    </div>
    <div class="column is-3">
        <div id="onlineUser" class="box">
            <p i18n>Connected users:</p>
            <ul>
                <li *ngFor="let user of activeUsers">
                    <ng-container *ngIf="user.doc.last_changed">
                        {{ user.doc.username }}:
                        {{ (1000*user.doc.last_changed.seconds) | date:'HH:mm:ss':'+0100'}}
                    </ng-container>
                </li>
            </ul>
        </div>
    </div>
</div>
