#actualGame {
    background-color: #F0F0F0;
}
#gameCreator {
    background-color: #D0D0D0;
}
#chat {
    background-color: #D0D0D0;
}
#onlineUser {
    background-color: #F0F0F0;
}
.table-hover tbody tr:hover td {
}