<div class="container-fluid"
	 style="height: 100%"
	 *ngIf="currentJoiner">

	<div class="row"
		 style="height: 100%; min-height: 100%">

		<mat-horizontal-stepper id="creatorDiv"
								class="circled col-sm-10"
								linear #stepper
								*ngIf="userIsCreator">

			<mat-step [stepControl]="opponentFormGroup" editable="false">
				<ng-template matStepLabel>Selection d'un adversaire</ng-template>

				<div *ngIf="currentJoiner.candidatesNames.length === 0"> Attendez qu'un utilisateur vous rejoigne!</div>

				<form *ngIf="currentJoiner.candidatesNames.length > 0"
					  [formGroup]="opponentFormGroup">
					<mat-radio-group class="example-radio-group"
									 formControlName="chosenOpponent"
									 required>
						<mat-radio-button class="example-radio-button"
										  *ngFor="let joinerName of currentJoiner.candidatesNames"
										  [value]="joinerName">
							{{joinerName}}
						</mat-radio-button>
					</mat-radio-group>
					<div *ngIf="opponentFormGroup.get('chosenOpponent').value !== ''">
						<button (click)="setChosenPlayer(opponentFormGroup.get('chosenOpponent').value)"
								mat-button
								matStepperNext>
							Jouer contre {{ opponentFormGroup.get('chosenOpponent').value }}
						</button>
						<button (click)="setChosenPlayer('')"
								mat-button>
							Annuler
						</button>
					</div>

				</form>

			</mat-step>

			<mat-step [stepControl]="configFormGroup" editable="false">
				<form [formGroup]="configFormGroup">
					<ng-template matStepLabel>Configurez la partie</ng-template>

					<mat-radio-group class="example-radio-group" formControlName="firstPlayer" required>
						<mat-radio-button class="example-radio-button" value="0"> Toi</mat-radio-button>
						<mat-radio-button class="example-radio-button" value="1"> {{ currentJoiner.chosenPlayer }}
						</mat-radio-button>
						<mat-radio-button class="example-radio-button" value="2"> Au Hasard</mat-radio-button>
					</mat-radio-group>
					<div> Durée maximum d'un tour :
						<mat-slider
							class="example-margin"
							formControlName="maximalMoveDuration"
							[max]="300"
							[min]="10"
							[step]="10"
							(value)="10"
							[thumbLabel]="true"
							required>
						</mat-slider>
					</div>
					<div>
						<!-- <button mat-button matStepperPrevious (click)="setChosenPlayer('')"> Changer d'adversaire
						</button>-->
						<button mat-button matStepperNext (click)="proposeConfig()"> Proposer config</button>
					</div>
				</form>
			</mat-step>

			<mat-step editable="false">
				<ng-template matStepLabel>Done</ng-template>
				Attendez la confirmation de {{ currentJoiner.chosenPlayer }}
				La partie commencera automatiquement
				<!--<div>
					<button mat-button matStepperPrevious>Revenir sur la config</button>
				</div>-->
			</mat-step>

		</mat-horizontal-stepper>

		<div id="chosenPlayerDiv"
			 *ngIf="userIsChosenPlayer" class="circled col-sm-10">

			<div> Vous avez été choisi comme adversaire !</div>

			<div id="whoPlaysFirst">
				<div *ngIf="!proposalSent">
					{{ currentJoiner.creator }} est en train de se décider
				</div>
				<div *ngIf="proposalSent">
					<div *ngIf="currentJoiner.firstPlayer === '0'">
						{{ currentJoiner.creator }} propose que tu commence
					</div>
					<div *ngIf="currentJoiner.firstPlayer === '1'">
						{{ currentJoiner.creator }} propose qu'il commence
					</div>
					<div *ngIf="currentJoiner.firstPlayer === '2'">
						{{ currentJoiner.creator }} propose que le premier joueur soit choisi au hasard
					</div>
					<div> Il propose : {{ currentJoiner.maximalMoveDuration }} seconde par tour maximum</div>
					<button mat-button
							(click)="acceptConfig()"
							[disabled]="acceptingDisabled">
						Accepter et commencer
					</button>
				</div>
			</div>

		</div>

		<div id="guestDiv"
			 *ngIf="!userIsCreator && !userIsChosenPlayer"
			 class="circled col-sm-10">

			<div> Adversaire choisi : {{ currentJoiner.chosenPlayer }}</div>

		</div>

		<div id="joiners" class="circled col-sm-2">
			<h4>
				Joueurs présents :
			</h4>
			<ul>
				<li *ngFor="let joinerName of currentJoiner.candidatesNames">
					<p> {{ joinerName }}</p>
				</li>
			</ul>
		</div>

	</div>

</div>


<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->

