<div *ngIf="currentJoiner" style="height: 60%;">

    <div id="gameConfig" class="circled col-sm-10" style="height: 100%; max-height: 100%">

        <mat-horizontal-stepper id="creatorDiv" linear #stepper *ngIf="userIsCreator">

            <mat-step [stepControl]="opponentFormGroup" editable="false">
                <ng-template matStepLabel>Selection d'un adversaire</ng-template>

                <div *ngIf="currentJoiner.candidatesNames.length === 0 else chooseCandidate">
                    Attendez qu'un utilisateur vous rejoigne!
                </div>
                <ng-template #chooseCandidate>
                    <form id="chooseCandidate" [formGroup]="opponentFormGroup">
                        <mat-radio-group class="example-radio-group"
                                         formControlName="chosenOpponent"
                                         required>
                            <mat-radio-button class="example-radio-button"
                                              *ngFor="let joinerName of currentJoiner.candidatesNames"
                                              [value]="joinerName">
                                {{joinerName}}
                            </mat-radio-button>
                       </mat-radio-group>
                        <div *ngIf="opponentFormGroup.get('chosenOpponent').value !== ''">
                            <button (click)="setChosenPlayer(opponentFormGroup.get('chosenOpponent').value)"
                                    mat-button
                                    matStepperNext>
                                Jouer contre {{ opponentFormGroup.get('chosenOpponent').value }}
                            </button>
                            <button (click)="unselectChosenPlayer()"
                                    mat-button>
                                Annuler
                            </button>
                        </div>

                    </form>
                </ng-template>

            </mat-step>

            <mat-step [stepControl]="configFormGroup" editable="false">
                <form id="proposeConfig" [formGroup]="configFormGroup">
                    <ng-template matStepLabel>Configurez la partie</ng-template>

                    <mat-radio-group class="example-radio-group" formControlName="firstPlayer" required>
                        <mat-radio-button class="example-radio-button" value="0"> Toi</mat-radio-button>
                        <mat-radio-button class="example-radio-button" value="1"> {{ currentJoiner.chosenPlayer }}
                        </mat-radio-button>
                        <mat-radio-button class="example-radio-button" value="2"> Au Hasard</mat-radio-button>
                    </mat-radio-group>
                    <div> Durée maximum d'un tour :
                        <mat-slider
                            class="example-margin"
                            formControlName="maximalMoveDuration"
                            [min]="10" [max]="300" [step]="10"
                            [thumbLabel]="true"
                            required>
                        </mat-slider>
                    </div>
                    <div> Durée maximum de la partie (par joueur) :
                        <mat-slider
                            class="example-margin"
                            formControlName="totalPartDuration"
                            [min]="60" [max]="3600" [step]="30"
                            [thumbLabel]="true"
                            required>
                        </mat-slider>
                    </div>
                    <div>
                        <!-- <button mat-button matStepperPrevious (click)="unselectChosenPlayer()"> Changer d'adversaire
                        </button>-->
                        <button mat-button matStepperNext (click)="proposeConfig()"> Proposer config</button>
                    </div>
                </form>
            </mat-step>

            <mat-step editable="false">
                <ng-template matStepLabel>Done</ng-template>
                Attendez la confirmation de {{ currentJoiner.chosenPlayer }}
                La partie commencera automatiquement
                <!--<div>
                    <button mat-button matStepperPrevious>Revenir sur la config</button>
                </div>-->
            </mat-step>

        </mat-horizontal-stepper>

        <div id="chosenPlayerDiv" *ngIf="userIsChosenPlayer">

            <h3> Vous avez été choisi comme adversaire !</h3>

            <div id="whoPlaysFirst">
                <h4 *ngIf="!proposalSent">
                    {{ currentJoiner.creator }} est en train de se décider
                </h4>
                <div id="acceptConfig" *ngIf="proposalSent">
                    <h4 *ngIf="currentJoiner.firstPlayer === '0'">
                        {{ currentJoiner.creator }} propose que tu commence
                    </h4>
                    <h4 *ngIf="currentJoiner.firstPlayer === '1'">
                        {{ currentJoiner.creator }} propose qu'il commence
                    </h4>
                    <h4 *ngIf="currentJoiner.firstPlayer === '2'">
                        {{ currentJoiner.creator }} propose que le premier joueur soit choisi au hasard
                    </h4>
                    <h4> Il propose : {{ currentJoiner.maximalMoveDuration }}s/tour maximum </h4>
                    <h4> Et : {{ currentJoiner.totalPartDuration }}s/joueur maximum </h4>
                    <button mat-button
                            (click)="acceptConfig()"
                            [disabled]="acceptingDisabled">
                        Accepter et commencer
                    </button>
                </div>
            </div>

        </div>

        <div id="guestDiv" *ngIf="!userIsCreator && !userIsChosenPlayer">

            Adversaire choisi : {{ currentJoiner.chosenPlayer }}

        </div>

    </div>

    <div id="joiners" class="circled col-sm-2" style="height: 100%; max-height: 100%">
        <h4> Joueurs présents : </h4>
        <ul>
            <li *ngFor="let joinerName of currentJoiner.candidatesNames">
                <p> {{ joinerName }}</p>
            </li>
        </ul>
    </div>
</div>