#players {
	background-color: #F0F0F0;
	/* position: fixed; /* Make it stick, even on scroll */
}
#gameConfig {
	background-color: #D0D0D0;
}
#chat {
	background-color: #D0D0D0;
}
#joiners {
	background-color: #F0F0F0;
}
.table-hover tbody tr:hover td {
}
