<div class="container-fluid"
	 style="height: 100%"
	 *ngIf="currentJoiner">

	<div id="players"
		 style="height: 20%; min-height: 20%"
		 class="circled row">
		<h4 align="start" >Création d'une partie par {{ currentJoiner.creator }}</h4>
		<h4 align="end" *ngIf="userIsCreator" (click)="cancelAndLeave()"> Annuler la partie </h4>
		<h4 align="end" *ngIf="!userIsCreator" (click)="cancelAndLeave()"> Quitter le jeu </h4>
		<div *ngIf="currentJoiner.chosenPlayer!==''"> Adversaire : {{ currentJoiner.chosenPlayer }}</div>
	</div>

	<div class="row"
		 style="height: 80%; min-height: 80%">

		<div id="gameConfig" class="circled form-group col-sm-9">
			<label> Premier joueur : </label>
			<fieldset id="firstPlayer"
					  [disabled]="!userIsCreator || proposalSent">
				<input type="radio"
					   [(ngModel)]="firstPlayer"
					   value="0" checked>
				{{ currentJoiner.creator==userName ? "Toi" : currentJoiner.creator }}

				<input type="radio"
					   [(ngModel)]="firstPlayer"
					   value="1">
				{{ currentJoiner.chosenPlayer==userName ?
				"Toi" :
				((currentJoiner.chosenPlayer) ?
				currentJoiner.chosenPlayer :
				"ton adversaire") }}
				<input type="radio"
					   [(ngModel)]="firstPlayer"
					   value="2">
				Au hasard <br/>
			</fieldset>
			<label> Type de jeu : </label> PAS IMPLÉMENTÉ <br/>

			<label for="timeout"> Durée du timeout : </label>
			<input id="timeout"
				   class="form-control"
				   type="number"
				   name="quantity"
				   min="60"
				   [(ngModel)]="timeout"
				   [ngModelOptions]="{standalone: true}"
				   [disabled]="!userIsCreator || proposalSent"> <br/>

			<label> Temps par coups : </label> PAS IMPLÉMENTÉ <br/>
			<label> Durée totale : </label> PAS IMPLÉMENTÉ <br/>

			<input type="button"
				   *ngIf="userIsCreator"
				   (click)="proposeConfig()"
				   [disabled]="proposingDisabled"
				   class="btn btn-primary btn-block"
				   value="Proposer">
			<br/>
			<input type="button"
				   *ngIf="userIsChosenPlayer"
				   (click)="acceptConfig()"
				   [disabled]="acceptingDisabled"
				   class="btn btn-primary btn-block"
				   value="Accepter et commencer">
			<br/>
		</div>

		<div id="joiners" class="circled col-sm-3">
			<h4>
				Voici la liste des joueurs à vouloir joindre cette partie :
			</h4>
			<ul>
				<li *ngFor="let joinerName of currentJoiner.candidatesNames">
					<button *ngIf="userIsCreator"
							(click)="setChosenPlayer(joinerName)">
						Jouer contre : {{ joinerName }}
					</button>
					<p *ngIf="!userIsCreator"> {{ joinerName }}</p>
				</li>
			</ul>
		</div>

	</div>

</div>
