<svg xmlns="http://www.w3.org/2000/svg"
     width="100%" height="auto"
     viewBox="0 0 600 200"
     preserveAspectRatio="xMidYMid meet"
>
    <g *ngFor="let line of board; index as y">
        <g *ngFor="let content of line; index as x">
            <circle id="click_{{x}}_{{y}}"
                    (click)="onClick(x, y)"
                    [attr.cx]="50 + 100*x"
                    [attr.cy]="50 + 100*y"
                    r="46"
                    [attr.stroke]="getPieceStroke(x, y)"
                    stroke-width="8"
                    [attr.fill]="getCircleFill(x, y)"
            />
            <text (click)="onClick(x, y)"
                  [attr.x]="50 + 100*x"
                  [attr.y]="66 + 100*y"
                  text-anchor="middle"
                  stroke="black"
                  font-size="50"
            >
                {{ content }}
            </text>
        </g>
    </g>
</svg>
