<div>
	<a [routerLink]="['/server']"> Retour au menu ! </a>
	<h3 *ngIf='observerRole <2'> Vous jouez contre {{ players[(observerRole+1)%2] }}</h3>
	<p> {{ gameStatus }} </p>
	<h3 *ngIf='observerRole>=2'> {{ players[0] }} vs {{ players[1] }}</h3>

	<table (click)="choose($event);">
		<tr *ngFor="let line of board.reverse(); index as y;">
			<td *ngFor="let case of line; index as x;">
				<img width="100" height="100"
					 id="{{'t'+y+x}}"
					 [src]='imageLocation+imagesNames[case]'/>
			</td>
		</tr>
	</table>
</div>
