<div>
	<div *ngIf="observerRole <2">
		<h3> Vous jouez contre {{ players[(observerRole+1)%2] }} </h3>
		<button (click)="resign()"> Abandonner </button>
	</div>
	<h3 *ngIf="observerRole>=2"> {{ players[0] }} vs {{ players[1] }}</h3>

	<h3 *ngIf="(!endGame) && (currentPlayer!==userName)"> C'est au tour de {{ currentPlayer }} </h3>
	<h3 *ngIf="(!endGame) && (currentPlayer===userName)"> C'est à votre tour ! </h3>

	<div *ngIf="endGame">
		<h3 *ngIf="(winner===userName)"> Vous avez gagné </h3>
		<h3 *ngIf="(winner!==userName) && (observerRole<2)"> Vous avez perdu </h3>
		<h3 *ngIf="(winner!==userName) && (observerRole>=2)"> Victoire de {{ winner }} </h3>
		<button (click)="backToServer()">Retour au serveur</button>
	</div>

	<table (click)="choose($event);">
		<tr *ngFor="let line of board.reverse(); index as y;">
			<td *ngFor="let case of line; index as x;">
				<img width="100" height="100"
					 id="{{'t'+y+x}}"
					 alt=":{{ case }}:"
					 [src]='imagesLocation+imagesNames[case]'/>
			</td>
		</tr>
	</table>
	Tour : {{ turn }} <br/>
</div>
