<svg xmlns="http://www.w3.org/2000/svg"
     width="100%" height="auto"
     viewBox="0 0 1000 320"
     preserveAspectRatio="xMidYMid meet">
    <g *ngFor="let line of board; index as y">
        <g *ngFor="let caseContent of line; index as x">
            <rect id="click_{{ x }}_{{ y }}"
                  (click)="onBoardClick(x, y)"
                  [attr.x]="(SPACE_SIZE * x) + STROKE_WIDTH"
                  [attr.y]="(SPACE_SIZE * y) + STROKE_WIDTH"
                  [attr.width]="SPACE_SIZE"
                  [attr.height]="SPACE_SIZE"
                  [ngClass]="getRectClasses(x, y)"
                  class="base"
                  />
            <circle *ngFor="let piece of getListPieces(caseContent)"
                    (click)="onBoardClick(x, y)"
                    [attr.r]="getPieceRadius(piece)"
                    [attr.cx]="(SPACE_SIZE * x) + STROKE_WIDTH + (SPACE_SIZE / 2)"
                    [attr.cy]="(SPACE_SIZE * y) + STROKE_WIDTH + (SPACE_SIZE / 2)"
                    [ngClass]="getPieceClasses(piece)"
                    class='base no-fill'
                    />
        </g>
    </g>
    <g *ngFor="let coord of getHighlightedCases()">
        <rect (click)="onBoardClick(coord.x, coord.y)"
              [attr.x]="(SPACE_SIZE * coord.x) + STROKE_WIDTH"
              [attr.y]="(SPACE_SIZE * coord.y) + STROKE_WIDTH"
              [attr.width]="SPACE_SIZE"
              [attr.height]="SPACE_SIZE"
              class="base no-fill highlighted"
              pointer-events="fill"
              />
    </g>
    <g *ngFor="let player of [0, 1]">
        <g *ngFor="let piece of getRemainingPieces(player); index as pieceIdx">
            <circle id="piece_{{ player }}_{{ piece.toString() }}"
                    (click)="onPieceClick(player, piece, pieceIdx)"
                    [attr.r]="getPieceRadius(piece)"
                    [attr.cx]="(SPACE_SIZE * 4) + (SPACE_SIZE / 2) + (SPACE_SIZE * pieceIdx)"
                    [attr.cy]="(SPACE_SIZE / 2) + (SPACE_SIZE * player)"
                    [ngClass]="getSidePieceClasses(piece, pieceIdx)"
                    class="base no-fill"
                    pointer-events="fill"
            />
        </g>
    </g>
</svg>
