<svg xmlns="http://www.w3.org/2000/svg"
     class="board"
     [attr.viewBox]="getViewBox().toSVGString()"
     preserveAspectRatio="xMidYMid meet">

    <g id="pieces">
        @for (coordAndContent of coordsAndContents; track $index) {
            <g [attr.transform]="getTopologicTranslationAt(coordAndContent.coord)">
                <polygon [attr.points]="getTopologicPolygonAt(coordAndContent.coord)"
                         (click)="onClick(coordAndContent.coord)"
                         class="base"
                />
                @if (coordAndContent.content.isPlayer()) {
                    <circle id="piece-{{ coordAndContent.coord.x }}-{{ coordAndContent.coord.y }}"
                            [attr.cx]="SPACE_SIZE * 0.5"
                            [attr.cy]="SPACE_SIZE * 0.5"
                            [attr.r]="SPACE_SIZE * 0.44"
                            [ngClass]="getSpaceClass(coordAndContent.coord.x, coordAndContent.coord.y)"
                            class="base"/>
                }
            </g>
        }
    </g>
    @if (droppedCoord.isPresent()) {
        <circle id="dropped"
                (click)="onClick(droppedCoord.get())"
                [attr.transform]="getTopologicTranslationAt(droppedCoord.get())"
                [attr.cx]="SPACE_SIZE * 0.5"
                [attr.cy]="SPACE_SIZE * 0.5"
                [attr.r]="SPACE_SIZE * 0.44"
                [ngClass]="getSpaceClass(droppedCoord.get().x, droppedCoord.get().y)"
                class="base moved-stroke"/>
    }
</svg>
