<svg xmlns="http://www.w3.org/2000/svg"
     width="100%" height="auto"
     viewBox="0 0 1410 1210"
     preserveAspectRatio="xMidYMid meet">
    <g *ngFor="let line of board; index as y">
        <g *ngFor="let c of line; index as x">
            <rect id="click_{{ x }}_{{ y }}"
                  (click)="onClick(x, y)"
                  [attr.x] = "CASE_SIZE*x+STROKE_WIDTH"
                  [attr.y] = "CASE_SIZE*y+STROKE_WIDTH"
                  [attr.width]="CASE_SIZE"
                  [attr.height]="CASE_SIZE"
                  [ngClass]="getRectClasses(x, y)"
                  class="base"
            />
            <circle *ngIf="board[y][x] !== NONE"
                    (click)="onClick(x, y)"
                    [attr.r]="(CASE_SIZE-2*STROKE_WIDTH)/2"
                    [attr.cx]="CASE_SIZE*x+STROKE_WIDTH + CASE_SIZE/2"
                    [attr.cy]="CASE_SIZE*y+STROKE_WIDTH + CASE_SIZE/2"
                    [ngClass]="getPieceClasses(x, y)"
                    class="base"
            />
        </g>
    </g>
    <g *ngFor="let coord of getHighlightedCoords()">
        <rect (click)="onClick(coord.x, coord.y)"
              [attr.x] = "CASE_SIZE*coord.x+STROKE_WIDTH"
              [attr.y] = "CASE_SIZE*coord.y+STROKE_WIDTH"
              [attr.width]="CASE_SIZE"
              [attr.height]="CASE_SIZE"
              class="no-fill mid-stroke clickable"
        />
    </g>
</svg>
