<svg xmlns="http://www.w3.org/2000/svg"
     width="100%" height="auto"
     viewBox="-100 -100 900 900"
     preserveAspectRatio="xMidYMid meet">
    <defs>
        <polygon id="triangle" points="0 -6, 10 0, 0 6"/>
        <polygon id="arrow" points="30 7, 30 50, 10 50, 50 93, 90 50, 70 50, 70 7" />
        <polygon id="mountain" points="5 95, 16 68, 24 76, 48 28, 64 60, 72 44, 95 95, 5 95" />
    </defs>
    <g *ngFor="let line of board; index as y">
        <g *ngFor="let c of line; index as x">
            <rect id="square_{{ x }}_{{ y }}"
                  (click)="clickSquare(x, y)"
                  [attr.x]="SPACE_SIZE * (x + 1)"
                  [attr.y]="SPACE_SIZE * (y + 1)"
                  [attr.width]="SPACE_SIZE"
                  [attr.height]="SPACE_SIZE"
                  [ngClass]="getSquareClasses(x, y)"
                  class="base"
            />
            <g *ngIf="c.isPiece()">
                <use id="piece_{{x}}_{{y}}"
                     class="base mid-stroke"
                     [ngClass]="getPieceClasses(c)"
                     (click)="clickSquare(x, y)"
                     xlink:href="#arrow"
                     [attr.transform]="getPieceTransform(x, y)"/>
            </g>
            <use *ngIf="isMountain(c)"
                 xlink:href="#mountain"
                 (click)="clickSquare(x, y)"
                 [attr.transform]="'translate(' + ((x+1) * SPACE_SIZE) + ' ' + ((y+1) * SPACE_SIZE) + ')'"
                 fill="brown" />
        </g>
    </g>
    <g *ngFor="let coord of clickableCoords">
        <rect (click)="clickSquare(coord.x, coord.y)"
              [attr.x]="SPACE_SIZE * (coord.x + 1)"
              [attr.y]="SPACE_SIZE * (coord.y + 1)"
              [attr.width]="SPACE_SIZE"
              [attr.height]="SPACE_SIZE"
              class="base no-fill small-stroke clickable" />
    </g>
    <g *ngFor="let player of [Player.ZERO, Player.ONE]">
        <g *ngFor="let x of range(playerPieces(player))">
            <use id="selectPiece_{{ player }}"
                 class="base mid-stroke"
                 [ngClass]="getPlayerClass(player)"
                 (click)="selectPieceForInsertion(player)"
                 xlink:href="#arrow"
                 [attr.transform]="getRemainingPieceTransform(x, player)" />
        </g>
    </g>
    <g *ngFor="let arrow of indicatorArrows">
        <use id="indicator_{{ arrow.target.x }}_{{ arrow.target.y }}_{{ arrow.direction.toString() }}"
             class="base mid-stroke highlighted-fill"
             (click)="clickSquare(arrow.target.x, arrow.target.y)"
             xlink:href="#arrow"
             [attr.transform]="getIndicatorTransform(arrow)" />
        <!-- Need to redraw the source piece, if it is not an insertion -->
        <use *ngIf="arrow.source.isPresent()"
             class="base mid-stroke"
             [ngClass]="getPieceClasses(arrow.source.get().piece)"
             (click)="clickSquare(arrow.target.x, arrow.target.y)"
             xlink:href="#arrow"
             [attr.transform]="getPieceTransform(arrow.source.get().coord.x, arrow.source.get().coord.y)" />
    </g>
    <g *ngFor="let orientation of orientationArrows">
        <use id="orientation_{{ orientation }}"
             class="base mid-stroke highlighted-fill semi-transparent"
             (click)="selectOrientation(orientation)"
             xlink:href="#arrow"
             [attr.transform]="getOrientationTransform(orientation)" />
    </g>
</svg>
