<svg xmlns="http://www.w3.org/2000/svg"
     width="100%" height="auto"
     viewBox="0 0 700 700"
     preserveAspectRatio="xMidYMid meet">
    <defs>
        <polygon id="triangle" points="0 -6, 10 0, 0 6"/>
        <polygon id="arrow" points="30 7, 30 50, 10 50, 50 93, 90 50, 70 50, 70 7, 27.5 7" />
        <polygon id="mountain" points="5 95, 16 68, 24 76, 48 28, 64 60, 72 44, 95 95, 5 95" />
    </defs>
    <ng-container *ngIf="isPlayerTurn()">
        <g *ngFor="let n of [0, 1, 2, 3, 4]">
            <use *ngFor="let orientation of [{ dir: 'DOWN', x: n, y: -1 }, { dir: 'UP', x: n, y: 5}, { dir: 'RIGHT', x: -1, y: n }, { dir: 'LEFT', x: 5, y: n }]"
                 xlink:href="#arrow"
                 id="insertAt_{{orientation.x}}_{{orientation.y}}"
                 (click)="insertAt(orientation.x, orientation.y)"
                 [attr.transform]="getInsertionArrowTransform(orientation.x+1, orientation.y+1, orientation.dir)"
                 class="base mid-stroke"/>
        </g>
    </ng-container>
    <g *ngFor="let line of board; index as y">
        <g *ngFor="let c of line; index as x">
            <rect id="insertAt_{{ x }}_{{ y }}"
                  (click)="insertAt(x, y)"
                  [attr.x]="SPACE_SIZE * (x + 1)"
                  [attr.y]="SPACE_SIZE * (y + 1)"
                  [attr.width]="SPACE_SIZE"
                  [attr.height]="SPACE_SIZE"
                  [ngClass]="getSquareClasses(x, y)"
                  class="base"
            />
            <g *ngIf="c.isPiece()">
                <use xlink:href="#arrow"
                     id="clickPiece_{{x}}_{{y}}"
                     (click)="clickPiece(x, y)"
                     [attr.transform]="getPieceTransform(x, y)"
                     [ngClass]="getPieceClasses(c)"
                     class="base mid-stroke"
            />
                <g *ngIf="choosingDirection(x, y)">
                    <circle id="chooseDirection_"
                            (click)="chooseDirection('')"
                            [attr.cx]="((x+1) * SPACE_SIZE) + SPACE_SIZE/2"
                            [attr.cy]="((y+1) * SPACE_SIZE) + SPACE_SIZE/2"
                            class="arrow selected-fill no-stroke"
                            r="8"/>
                    <use *ngFor="let direction of ['RIGHT', 'DOWN', 'LEFT', 'UP']"
                         xlink:href="#triangle"
                         id="chooseDirection_{{direction}}"
                         (click)="chooseDirection(direction)"
                         [attr.transform]="getArrowTransform(x+1, y+1, direction)"
                         class="arrow selected-fill no-stroke" />
                </g>
            </g>
            <use *ngIf="isMountain(c)"
                 xlink:href="#mountain"
                 [attr.transform]="'translate(' + ((x+1) * SPACE_SIZE) + ' ' + ((y+1) * SPACE_SIZE) + ')'"
                 fill="brown" />
            <g *ngIf="choosingOrientation(x, y)">
                <use *ngFor="let orientation of ['RIGHT', 'DOWN', 'LEFT', 'UP']"
                     xlink:href="#triangle"
                     id="chooseOrientation_{{orientation}}"
                     (click)="chooseOrientation(orientation)"
                     [attr.transform]="getArrowTransform(x+1, y+1, orientation)"
                     class="arrow selected-fill no-stroke" />
            </g>
        </g>
    </g>
</svg>
