<svg xmlns="http://www.w3.org/2000/svg"
     width="100%" height="auto"
     viewBox="0 0 530 640"
     preserveAspectRatio="xMidYMid meet">
    <defs>
        <marker id="arrowhead" markerWidth="10" markerHeight="7"
                refX="5" refY="3.5" orient="auto">
            <polygon points="0 0, 10 3.5, 0 7" />
        </marker>
    </defs>

    <g *ngFor="let case of getAllCoords();">
        <g (click)="onClick(case)"
           id="click_{{ case.x }}_{{ case.y }}">
            <polyline [attr.points]="getHexaCoordinates(case)"
                      class="base {{getCaseClass(case)}}"
                      stroke-linecap="round"/>
            <circle *ngIf="isPiece(case)"
                    [attr.cx]="getCenter(case).x"
                    [attr.cy]="getCenter(case).y"
                    [attr.r]="getPieceSize()"
                    [ngClass]="getPieceClass(case)"
                    class="base"/>
        </g>
    </g>


    <g *ngFor="let capture of possibleCaptures; index as i;"
       pointer-events="fill"
       class="capturable">
        <g *ngFor="let case of capture.capturedCases;">
            <polyline [attr.points]="getHexaCoordinates(case)"
                      (click)="onClick(case)"
                      class="no-fill"
                      stroke-linecap="round" />
        </g>
    </g>

    <g *ngFor="let arrow of arrows;">
        <line [attr.x1]="arrow.x1"
              [attr.y1]="arrow.y1"
              [attr.x2]="arrow.x2"
              [attr.y2]="arrow.y2"
              class="arrow"
              marker-end="url(#arrowhead)"
              (click)="onClick(arrow.destination)"/>
    </g>

    <g *ngFor="let player of [0, 1];">
        <text x="0" [attr.y]="22+(getPieceSize()+10)*player" class="text-small">Pièces du joueur {{player+1}}</text>
        <g *ngFor="let p of getPlayerSidePieces(player);">
            <circle id="piece_{{ player }}_{{ p }}"
                    [attr.cx]="150+(p * getPieceSize()/3)"
                    [attr.cy]="20+(getPieceSize()+5)*player"
                    [attr.r]="getPieceSize()/3"
                    [ngClass]="getSidePieceClass(player)"
                    class="base small-stroke"
                    />
        </g>
    </g>
</svg>
