<svg xmlns="http://www.w3.org/2000/svg"
     width="100%" height="auto"
     viewBox="0 -12 708 854"
     preserveAspectRatio="xMidYMid meet">
    <defs>
        <marker id="arrowhead" markerWidth="10" markerHeight="7"
                refX="5" refY="3.5" orient="auto">
            <polygon points="0 0, 10 3.5, 0 7" />
        </marker>
        <marker id="arrowhead-moved" markerWidth="10" markerHeight="7"
                refX="5" refY="3.5" orient="auto">
            <polygon points="0 0, 10 3.5, 0 7" class="moved moved-stroke"/>
        </marker>
    </defs>

    <g *ngFor="let case of getAllCoords()">
        <g (click)="onClick(case)"
           id="click_{{ case.x }}_{{ case.y }}">
            <polyline [attr.points]="getHexaCoordsAt(case)"
                      id="case_{{ case.x }}_{{ case.y }}"
                      [ngClass]="getCaseClass(case)"
                      class="base"
                      stroke-linecap="round"/>
            <circle *ngIf="isPiece(case)"
                    [attr.cx]="getCenterAt(case).x"
                    [attr.cy]="getCenterAt(case).y"
                    [attr.r]="SPACE_SIZE"
                    [ngClass]="getPieceClass(case)"
                    class="base"/>
        </g>
    </g>

    <g *ngFor="let capture of possibleCaptures; index as i"
       pointer-events="fill"
       class="capturable">
        <polyline *ngFor="let case of capture.capturedCases"
                  [attr.points]="getHexaCoordsAt(case)"
                  (click)="onClick(case)"
                  class="no-fill"
                  stroke-linecap="round" />
    </g>

    <g *ngFor="let arrow of arrows">
        <line [attr.x1]="arrow.x1"
              [attr.y1]="arrow.y1"
              [attr.x2]="arrow.x2"
              [attr.y2]="arrow.y2"
              class="arrow"
              marker-end="url(#arrowhead)"
              (click)="onClick(arrow.destination)"/>
    </g>

    <g *ngFor="let player of [0, 1]">
        <g *ngFor="let p of getPlayerSidePieces(player)">
            <circle id="piece_{{ player }}_{{ p }}"
                    [attr.cx]="10 + (p * SPACE_SIZE * 0.5)"
                    [attr.cy]="10 + (SPACE_SIZE + 10) * player"
                    [attr.r]="SPACE_SIZE * 0.5"
                    [ngClass]="getSidePieceClass(player)"
                    class="base small-stroke"
            />
        </g>
    </g>

    <line *ngIf="inserted.isPresent()"
          [attr.x1]="inserted.get().x1"
          [attr.y1]="inserted.get().y1"
          [attr.x2]="inserted.get().x2"
          [attr.y2]="inserted.get().y2"
          class="arrow moved-stroke"
          marker-end="url(#arrowhead-moved)"
    />
</svg>
