<svg xmlns="http://www.w3.org/2000/svg"
     class="board"
     [attr.viewBox]="(-STROKE_WIDTH) + ' 0 ' + boardWidth + ' ' + boardHeight"
     [attr.transform]="rotation"
     preserveAspectRatio="xMidYMid meet">

    <defs>
        <marker id="arrowhead" markerWidth="10" markerHeight="7"
                refX="5" refY="3.5" orient="auto">
            <polygon points="0 0, 10 3.5, 0 7"/>
        </marker>
        <marker id="arrowhead-moved" markerWidth="10" markerHeight="7"
                refX="5" refY="3.5" orient="auto">
            <polygon points="0 0, 10 3.5, 0 7" class="moved-fill moved-stroke"/>
        </marker>
    </defs>

    <g *ngFor="let space of getAllCoords()"
       (click)="onClick(space)"
       id="click_{{ space.x }}_{{ space.y }}"
       [attr.transform]="getHexaCenterTranslationAt(space)">

        <polygon [attr.points]="getHexaPoints()"
                 id="space_{{ space.x }}_{{ space.y }}"
                 [ngClass]="getSpaceClass(space)"
                 class="base"
                 stroke-linecap="round"/>
        <circle *ngIf="isPiece(space)"
                cx="0"
                cy="0"
                [attr.r]="SPACE_SIZE"
                [ngClass]="getPieceClass(space)"
                class="base"/>
    </g>

    <g *ngFor="let capture of possibleCaptures; index as i"
       pointer-events="fill"
       class="capturable-stroke">
        <polygon *ngFor="let space of capture.capturedSpaces"
                 [attr.points]="getHexaPoints()"
                 [attr.transform]="getHexaCenterTranslationAt(space)"
                 (click)="onClick(space)"
                 class="no-fill"
                 stroke-linecap="round"/>
    </g>

    <line *ngFor="let arrow of arrows"
          [attr.x1]="arrow.startCenter.x"
          [attr.y1]="arrow.startCenter.y"
          [attr.x2]="arrow.landingCenter.x"
          [attr.y2]="arrow.landingCenter.y"
          class="arrow click-delegator"
          marker-end="url(#arrowhead)"/>

    <g *ngFor="let player of Player.PLAYERS">
        <g *ngFor="let p of getPlayerSidePieces(player)">
            <circle id="piece_{{ player.toString() }}_{{ p }}"
                    [attr.cx]="getRemainingPieceCx(player, p)"
                    [attr.cy]="getRemainingPieceCy(player)"
                    [attr.r]="SPACE_SIZE * 0.5"
                    [ngClass]="getPlayerClass(player)"
                    class="base small-stroke"
            />
        </g>
    </g>

    <line *ngIf="inserted.isPresent()"
          [attr.x1]="inserted.get().startCenter.x"
          [attr.y1]="inserted.get().startCenter.y"
          [attr.x2]="inserted.get().landingCenter.x"
          [attr.y2]="inserted.get().landingCenter.y"
          class="arrow moved-stroke click-delegator"
          marker-end="url(#arrowhead-moved)"
    />
</svg>
