@let gameName = getGameName();
@if (gameName.isPresent()) {
    @if (gameStarted === false) {
        <app-game-creation id="gameCreation"
                           [gameId]="gameId"
                           [rulesConfigDescription]="getRulesConfigDescription()"
                           (gameStartNotification)="startGame($event)">
        </app-game-creation>
    } @else {
        <div>
            <div id="game"
                 class="columns is-vcentered is-align-items-stretch">
                <div class="column is-one-quarter has-text-centered">
                    <div class="box is-fullheight">
                        @if (game) {
                            <div class="block">
                                <app-view-config [rulesConfig]="getConfig()"
                                                 [rulesConfigDescription]="getRulesConfigDescription()"
                                                 [gameName]="gameName.get()">
                                </app-view-config>
                                <p class="subtitle mb-2"
                                   id="turn-number"
                                   i18n>Turn n°{{ getTurn() + 1 }}</p>
                                @if (endGame === false) {
                                    <p class="subtitle mb-2"
                                       id="currentPlayerIndicator">
                                        @if (currentUser?.name === getPlayer().name) {
                                            <span id="playerTurn"
                                                  i18n>It is your turn.</span>
                                        } @else {
                                            <span id="opponentTurn"
                                                  i18n>It is {{ currentUser?.name }}'s turn.</span>
                                        }
                                    </p>
                                }
                            </div>
                            @for (player of Player.PLAYERS; track player) {
                                @let playerSlug = player === Player.ZERO ? 'zero' : 'one';
                                @let playerData = getPlayerAt(player);
                                @let isActiveTurn = Player.ofTurn(getTurn()) === player;
                                @let canAddTime = role === player.getOpponent() && endGame === false;
                                <div class="block" [ngClass]="player.getHTMLClass('-bg')">
                                    @if (playerData.isPresent()) {
                                        <p [id]="'player-' + playerSlug + '-indicator'"
                                           class="has-text-black is-size-5"
                                           [ngClass]="player.getHTMLClass('-bg-darker')">
                                            <span [id]="'player-' + playerSlug + '-name'">{{ playerData.get().name }}</span> (<app-elo [elo]="getPlayerElo(player)"/>)
                                        </p>
                                    }
                                    @if (gameComponent && gameComponent.hasScores()) {
                                        <p class="has-text-black">{{ gameComponent.getScoreString(player) }}</p>
                                    }
                                    <app-timer #gameTimer
                                               [id]="'timer-' + playerSlug + '-game'"
                                               [dangerTimeLimit]="60"
                                               [active]="isActiveTurn"
                                               [canAddTime]="canAddTime"
                                               [timeToAdd]="gameTimeMessage"
                                               [debugName]="playerSlug.toUpperCase() + ' game'"
                                               [player]="player"
                                               (outOfTimeAction)="reachedOutOfTime(player)"
                                               (addTimeToOpponent)="addGameTime()"
                                               class="data-game-time">
                                    </app-timer>
                                    <app-timer #moveTimer
                                               [id]="'timer-' + playerSlug + '-move'"
                                               [dangerTimeLimit]="15"
                                               [active]="isActiveTurn"
                                               [canAddTime]="canAddTime"
                                               [timeToAdd]="moveTimeMessage"
                                               [debugName]="playerSlug.toUpperCase() + ' move'"
                                               [player]="player"
                                               (outOfTimeAction)="reachedOutOfTime(player)"
                                               (addTimeToOpponent)="addMoveTime()"
                                               class="data-move-time">
                                    </app-timer>
                                </div>
                            }
                            @if (endGame) {
                                <div class="block"
                                     id="winnerIndicator">
                                    @if (isHardDraw()) {
                                        <p class="title"
                                           id="hardDrawIndicator"
                                           i18n>Draw</p>
                                    } @else if (isAgreedDraw()) {
                                        @if (isPlaying() === false) {
                                            <p class="title"
                                               id="playersAgreedToDraw"
                                               i18n>Players agreed to draw.</p>
                                        } @else if (getDrawAccepter().name === getPlayer().name) {
                                            <p class="title"
                                               id="youAgreedToDrawIndicator"
                                               i18n>You agreed to draw.</p>
                                        } @else {
                                            <p class="title"
                                               id="yourOpponentAgreedToDrawIndicator"
                                               i18n>Your draw proposal has been accepted.</p>
                                        }
                                    } @else if (isWin()) {
                                        @if (isPlaying() === false) {
                                            <p class="title"
                                               i18n>{{ getWinner().name }} won.</p>
                                        } @else if (getWinner().name === getPlayer().name) {
                                            <p class="title"
                                               id="youWonIndicator"
                                               i18n>You won.</p>
                                        } @else {
                                            <p class="title"
                                               id="youLostIndicator"
                                               i18n>You lost.</p>
                                        }
                                    } @else if (isTimeout()) {
                                        @if (isPlaying() === false) {
                                            <p class="title"
                                               i18n>{{ getLoser().name }} has reached their time limit.</p>
                                        } @else if (getWinner().name === getPlayer().name) {
                                            <p class="title"
                                               id="youWonIndicator"
                                               i18n>{{ getLoser().name }} has reached their time limit. You won.</p>
                                        } @else {
                                            <p class="title"
                                               id="youLostIndicator"
                                               i18n>You reached your time limit.</p>
                                        }
                                    } @else if (isResign()) {
                                        @if (getWinner().name !== getPlayer().name && isPlaying()) {
                                            <p class="title"
                                               id="resignIndicator"
                                               i18n>You resigned.</p>
                                        } @else {
                                            <p class="title"
                                               id="resignIndicator"
                                               i18n>{{ getLoser().name }} has resigned.</p>
                                        }
                                    }
                                </div>
                                <button class="button is-primary is-fullwidth mb-1"
                                        id="backToServerButton"
                                        routerLink="/lobby"
                                        i18n>Go back to the game list</button>
                            }
                            @if (isPlaying()) {
                                @if (mustReply() === false) {
                                    <button id="resign"
                                            class="button is-fullwidth mb-1 is-danger"
                                            (click)="resign()"
                                            [disabled]="canResign() === false"
                                            i18n>Resign</button>
                                    <button id="pass"
                                            class="button is-fullwidth mb-1 is-success"
                                            (click)="gameComponent.pass()"
                                            [disabled]="canPass() === false"
                                            i18n>Pass a turn</button>
                                    @for (request of allRequests; track request) {
                                        <button id="propose{{ request }}"
                                                class="button is-fullwidth mb-1"
                                                (click)="propose(request)"
                                                [disabled]="requestAvailable(request) === false">{{ requestInfos[request].textForRequest() }}&nbsp;&nbsp;<fa-icon [icon]="requestInfos[request].icon"></fa-icon></button>
                                    }
                                } @else {
                                    @let replyRequest = getRequestAwaitingReplyFromUs().get();
                                    <div class="notification">
                                        <p>
                                            {{ requestInfos[replyRequest].textForReply() }}&nbsp;&nbsp;
                                            <fa-icon [icon]="requestInfos[replyRequest].icon"></fa-icon>
                                        </p>
                                        <button class="button is-fullwidth mb-1 is-success"
                                                id="accept"
                                                (click)="accept()"
                                                i18n>Accept</button>
                                        <button class="button is-fullwidth mb-1 is-danger"
                                                id="reject"
                                                (click)="reject()"
                                                i18n>Reject</button>
                                    </div>
                                }
                                @if (deniedRequest().isPresent()) {
                                    @let denied = deniedRequest().get();
                                    <div id="requestRejected"
                                         class="notification is-danger">
                                        <p><span i18n>Your {{ requestInfos[denied].name() }} request has been rejected.&nbsp;&nbsp;<fa-icon [icon]="requestInfos[denied].icon"></fa-icon></span></p>
                                    </div>
                                }
                                @if (getRequestAwaitingReplyFromOpponent().isPresent()) {
                                    @let pendingRequest = getRequestAwaitingReplyFromOpponent().get();
                                    <div id="getRequestAwaitingReply"
                                         class="notification">
                                        <p><span i18n>Your request for a {{ requestInfos[pendingRequest].name() }} has been sent.&nbsp;&nbsp;<fa-icon [icon]="requestInfos[pendingRequest].icon"></fa-icon></span></p>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
                <div class="column">
                    <div class="box p-5 is-fullheight"
                         id="board-highlight"
                         [ngClass]="getBoardHighlight()">
                        <div id="board"
                             class="box is-fullheight">
                            <div #board></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block mt-2">
                <div id="chat"
                     class="box">
                    <app-chat></app-chat>
                </div>
            </div>
        </div>
    }
    @if (confirmResignation()) {
        <div id="resignModal"
             class="modal is-active">
            <div id="modalBackground"
                 class="modal-background"
                 (click)="cancelResign()"></div>
            <div class="modal-card">
                <header class="modal-card-head is-danger">
                    <p class="modal-card-title" i18n>Resignation</p>
                </header>
                <section class="modal-card-body">
                    <p i18n>Are you sure you want to resign from this game?</p>
                </section>
                <footer class="modal-card-foot">
                    <button id="cancelResign"
                            class="button is-light"
                            (click)="cancelResign()"
                            i18n>Cancel</button>
                    <button id="confirmResign"
                            class="button is-danger"
                            (click)="confirmResign()"
                            i18n>Resign</button>
                </footer>
            </div>
        </div>
    }
}
