<app-part-creation id="partCreation" #partCreation
                   *ngIf="gameStarted === false"
                   [partId]="currentPartId"
                   [userName]="getPlayerName()"
                   (gameStartNotification)="startGame($event)">
</app-part-creation>

<div id="game"
     class="tile is-ancestor"
     *ngIf="gameStarted">
    <div class="tile is-3 is-parent">
        <div class="tile is-child box has-text-centered">
            <div class="block" id="turnIndicator" *ngIf="currentPart">
                <p class="subtitle" i18n>Turn n°{{ currentPart.getTurn() + 1 }}</p>
                <p class="subtitle" id="currentPlayerIndicator" *ngIf="endGame === false">
                    <ng-container *ngIf="currentPlayer === getPlayerName() else opponentsTurn" i18n
                    >It is your turn.</ng-container>
                    <ng-template #opponentsTurn i18n
                    >It is {{ currentPlayer }}'s turn.</ng-template>
                </p>
            </div>
            <div class="block" *ngIf="players">
                <p id="playerZeroIndicator" [ngClass]="getPlayerNameClass(0)" class="player0-bg">{{ players[0] }}</p>
                <p id="scoreZeroIndicator" *ngIf="currentPart && gameComponent && gameComponent.showScore" i18n>{{ gameComponent.scores[0] }} points</p>
                <app-count-down #chronoZeroGlobal
                                [dangerTimeLimit]="60*1000"
                                [active]="(currentPart == null) ? false : currentPart.getTurn() % 2 === 0"
                                debugName="ZERO Global"
                                (outOfTimeAction)="reachedOutOfTime(0)">
                </app-count-down>
                <app-count-down #chronoZeroLocal
                                [dangerTimeLimit]="15*1000"
                                [active]="(currentPart == null) ? false : currentPart.getTurn() % 2 === 0"
                                debugName="ZERO Local"
                                (outOfTimeAction)="reachedOutOfTime(0)">
                </app-count-down>
            </div>
            <p class="is-size-3" i18n>vs.</p>
            <div class="block" *ngIf="players">
                <p id="playerOneIndicator" [ngClass]="getPlayerNameClass(1)" class="player1-bg">{{ players[1] }}</p>
                <p id="scoreOneIndicator" *ngIf="currentPart && gameComponent && gameComponent.showScore" i18n>{{ gameComponent.scores[1] }} points</p>
                <app-count-down #chronoOneGlobal
                                [dangerTimeLimit]="60*1000"
                                [active]="(currentPart == null) ? false : currentPart.getTurn() % 2 === 1"
                                debugName="ONE Global"
                                (outOfTimeAction)="reachedOutOfTime(1)">
                </app-count-down>
                <app-count-down #chronoOneLocal
                                [dangerTimeLimit]="15*1000"
                                [active]="(currentPart == null) ? false : currentPart.getTurn() % 2 === 1"
                                debugName="ONE Local"
                                (outOfTimeAction)="reachedOutOfTime(1)">
                </app-count-down>
            </div>
            <hr/>
            <button class="button is-fullwidth mb-1"
                    id="resignButton"
                    *ngIf="canResign()"
                    (click)="resign()"
                    i18n
            >Resign</button>
            <button class="button is-fullwidth mb-1"
                    id="proposeDrawButton"
                    *ngIf="canProposeDraw()"
                    (click)="proposeDraw()"
                    i18n
            >Propose a draw</button>
            <button class="button is-warning is-fullwidth mb-1"
                    *ngIf="endGame === false && isOpponentWaitingForDrawResponse()"
                    id="acceptDrawButton"
                    (click)="acceptDraw()"
                    i18n
            >Accept draw</button>
            <button class="button is-warning is-fullwidth mb-1"
                    *ngIf="endGame === false && isOpponentWaitingForDrawResponse()"
                    id="refuseDrawButton"
                    (click)="refuseDraw()"
                    i18n
            >Reject draw</button>
            <button class="button is-fullwidth mb-1"
                    *ngIf="endGame === false && isPlaying() && gameComponent.canPass && (currentPlayer === getPlayerName())"
                    id="passButton"
                    (click)="gameComponent.pass()"
                    i18n
            >Pass a turn</button>
            <button class="button is-warning is-fullwidth mb-1"
                    *ngIf="endGame === false && isOpponentWaitingForTakeBackResponse()"
                    id="acceptTakeBackButton"
                    (click)="acceptTakeBack()"
                    i18n
            >Accept take back</button>
            <button class="button is-warning is-fullwidth mb-1"
                    *ngIf="endGame === false && isOpponentWaitingForTakeBackResponse()"
                    color="warn"
                    id="refuseTakeBackButton"
                    (click)="refuseTakeBack()"
                    i18n
            >Reject take back</button>
            <button class="button is-fullwidth"
                    *ngIf="endGame === false && isOpponentWaitingForTakeBackResponse() === false && canAskTakeBack()"
                    id="askTakeBackButton"
                    (click)="askTakeBack()"
                    i18n
            >Ask to take back one move</button>
            <div class="block" id="winnerIndicator" *ngIf="endGame">
                <hr/>
                <div *ngIf="currentPart.isDraw()">
                    <p class="title" *ngIf="currentPart.getWinner() == null" i18n>Draw</p>
                </div>
                <div *ngIf="currentPart.isWin()">
                    <p class="title" id="youWonIndicator" *ngIf="currentPart.getWinner() === getPlayerName()" i18n>You won.</p>
                    <p class="title" *ngIf="(currentPart.getWinner() !== getPlayerName()) && isPlaying()" i18n>You lost.</p>
                    <p class="title" *ngIf="observerRole === 2" i18n>{{ currentPart.getWinner() }} won.</p>
                </div>
                <div *ngIf="currentPart.isTimeout()">
                    <p class="title" id="youWonIndicator" *ngIf="(currentPart.getWinner() === getPlayerName())" i18n>{{ currentPart.getLoser() }} has reached their time limit. You won.</p>
                    <p class="title" *ngIf="(currentPart.getWinner() !== getPlayerName()) && isPlaying()" i18n>You reached your time limit.</p>
                    <p class="title" *ngIf="observerRole === 2" i18n>{{ currentPart.getLoser() }} has reached their time limit.</p>
                </div>
                <div *ngIf="currentPart.isResign()">
                    <p class="title" id="resignIndicator"
                       *ngIf="(currentPart.getWinner() !== getPlayerName()) && isPlaying()" i18n>You resigned.</p>
                    <p class="title" id="resignIndicator"
                       *ngIf="observerRole === 2 || currentPart.getWinner() === getPlayerName()" i18n>{{ currentPart.getLoser() }} has resigned.</p>
                </div>

            </div>
            <button class="button is-primary is-fullwidth mb-1"
                    *ngIf="endGame"
                    id="backToServerButton"
                    routerLink="server"
                    i18n
            >Go back to the game list</button>
            <button id="proposeRematchButton"
                    class="button is-fullwidth mb-1"
                    *ngIf="endGame && isPlaying() && rematchProposed === false"
                    (click)="proposeRematch()"
                    i18n
            >Propose to play again</button>
            <button class="button is-fullwidth is-warning"
                    id="acceptRematchButton"
                    *ngIf="endGame && isPlaying() && rematchProposed && opponentProposedRematch"
                    (click)="acceptRematch()"
                    i18n
             >Accept to play again</button>
        </div>
    </div>
    <div id="board-tile"
         class="tile is-9 is-parent rounded-div"
         [ngClass]="getBoardHighlight()">
        <div id="board"
             class="tile is-child box">
            <app-game-includer></app-game-includer>
        </div>
    </div>
</div>
<div class="block mt-2">
    <div id="chat"
         class="box" >
        <app-chat [chatId]="currentPartId"
                  [turn]="currentPart?.getTurn()"></app-chat>
    </div>
</div>
