<app-part-creation id="partCreation" #partCreation
                   *ngIf="gameStarted === false"
                   [partId]="currentPartId"
                   [userName]="getPlayerName()"
                   (gameStartNotification)="startGame($event)">
</app-part-creation>

<div id="game"
     class="tile is-ancestor"
     *ngIf="gameStarted">
    <div class="tile is-parent">
        <div class="tile is-child box has-text-centered">
            <div class="block" id="turnIndicator" *ngIf="currentPart">
                <p class="subtitle" i18n>Turn n°{{ currentPart.getTurn() + 1 }}</p>
                <p class="subtitle" id="currentPlayerIndicator" *ngIf="endGame === false">
                    <ng-container *ngIf="currentPlayer === getPlayerName() else opponentsTurn" i18n
                    >It is your turn.</ng-container>
                    <ng-template #opponentsTurn i18n
                    >It is {{ currentPlayer }}'s turn.</ng-template>
                </p>
            </div>
            <div class="block">
                <p id="playerZeroIndicator"
                   [ngClass]="getPlayerNameClass(0)"
                   class="player0-bg"
                   *ngIf="players[0].isPresent()">{{ players[0].get() }}</p>
                <p id="scoreZeroIndicator" *ngIf="currentPart && gameComponent && gameComponent.scores.isPresent()" i18n>{{ gameComponent.scores.get()[0] }} points</p>
                <app-count-down #chronoZeroGlobal
                                [dangerTimeLimit]="60*1000"
                                [active]="(currentPart == null) ? false : currentPart.getTurn() % 2 === 0"
                                [canAddTime]='observerRole === 1 && endGame === false'
                                [timeToAdd]="globalTimeMessage"
                                debugName="ZERO Global"
                                (outOfTimeAction)="reachedOutOfTime(0)"
                                (addTimeToOpponent)="addGlobalTime()"
                >
                </app-count-down>
                <app-count-down #chronoZeroTurn
                                [dangerTimeLimit]="15*1000"
                                [active]="(currentPart == null) ? false : currentPart.getTurn() % 2 === 0"
                                [canAddTime]='observerRole === 1 && endGame === false'
                                [timeToAdd]="turnTimeMessage"
                                debugName="ZERO Turn"
                                (outOfTimeAction)="reachedOutOfTime(0)"
                                (addTimeToOpponent)="addTurnTime()"
                >
                </app-count-down>
            </div>
            <p class="is-size-3" i18n>vs.</p>
            <div class="block">
                <p id="playerOneIndicator"
                   [ngClass]="getPlayerNameClass(1)"
                   class="player1-bg"
                   *ngIf="players[1].isPresent()">{{ players[1].get() }}</p>
                <p id="scoreOneIndicator" *ngIf="currentPart && gameComponent && gameComponent.scores.isPresent()" i18n>{{ gameComponent.scores.get()[1] }} points</p>
                <app-count-down #chronoOneGlobal
                                [dangerTimeLimit]="60*1000"
                                [active]="(currentPart == null) ? false : currentPart.getTurn() % 2 === 1"
                                [canAddTime]='observerRole === 0 && endGame === false'
                                [timeToAdd]="globalTimeMessage"
                                debugName="ONE Global"
                                (outOfTimeAction)="reachedOutOfTime(1)"
                                (addTimeToOpponent)="addGlobalTime()"
                >
                </app-count-down>
                <app-count-down #chronoOneTurn
                                [dangerTimeLimit]="15*1000"
                                [active]="(currentPart == null) ? false : currentPart.getTurn() % 2 === 1"
                                [canAddTime]='observerRole === 0 && endGame === false'
                                [timeToAdd]="turnTimeMessage"
                                debugName="ONE Turn"
                                (outOfTimeAction)="reachedOutOfTime(1)"
                                (addTimeToOpponent)="addTurnTime()"
                >
                </app-count-down>
            </div>
            <hr/>
            <ng-container *ngIf="isPlaying()">
                <button class="button is-fullwidth mb-1"
                        id="resignButton"
                        *ngIf="canResign()"
                        (click)="resign()"
                        i18n
                >Resign</button>
                <button class="button is-fullwidth mb-1"
                        id="proposeDrawButton"
                        *ngIf="canProposeDraw()"
                        (click)="proposeDraw()"
                        i18n
                >Propose a draw</button>
                <button class="button is-warning is-fullwidth mb-1"
                        *ngIf="endGame === false && isOpponentWaitingForDrawResponse()"
                        id="acceptDrawButton"
                        (click)="acceptDraw()"
                        i18n
                >Accept draw</button>
                <button class="button is-warning is-fullwidth mb-1"
                        *ngIf="endGame === false && isOpponentWaitingForDrawResponse()"
                        id="refuseDrawButton"
                        (click)="refuseDraw()"
                        i18n
                >Reject draw</button>
                <button class="button is-fullwidth mb-1"
                        *ngIf="endGame === false && isPlaying() && gameComponent.canPass && (currentPlayer === getPlayerName())"
                        id="passButton"
                        (click)="gameComponent.pass()"
                        i18n
                >Pass a turn</button>
                <button class="button is-warning is-fullwidth mb-1"
                        *ngIf="endGame === false && isOpponentWaitingForTakeBackResponse()"
                        id="acceptTakeBackButton"
                        (click)="acceptTakeBack()"
                        i18n
                >Accept take back</button>
                <button class="button is-warning is-fullwidth mb-1"
                        *ngIf="endGame === false && isOpponentWaitingForTakeBackResponse()"
                        color="warn"
                        id="refuseTakeBackButton"
                        (click)="refuseTakeBack()"
                        i18n
                >Reject take back</button>
                <button class="button is-fullwidth"
                        *ngIf="endGame === false && isOpponentWaitingForTakeBackResponse() === false && canAskTakeBack()"
                        id="askTakeBackButton"
                        (click)="askTakeBack()"
                        i18n
                >Ask to take back one move</button>
            </ng-container>
            <div class="block" id="winnerIndicator" *ngIf="endGame">
                <hr/>
                <div *ngIf="currentPart.isHardDraw()">
                    <p class="title" id="hardDrawIndicator" i18n>Draw</p>
                </div>
                <div *ngIf="currentPart.isAgreedDraw()">
                    <p class="title" id="youAgreedToDrawIndicator" *ngIf="currentPart.getDrawAccepter() === getPlayerName()" i18n>You agreed to draw.</p>
                    <p class="title" id="yourOpponentAgreedToDrawIndicator" *ngIf="(currentPart.getDrawAccepter() !== getPlayerName()) && isPlaying()" i18n>Your draw proposal has been accepted.</p>
                    <p class="title" id="playersAgreedToDraw" *ngIf="isPlaying() === false" i18n>Players agreed to draw.</p>
                </div>
                <div *ngIf="currentPart.isWin()">
                    <p class="title" id="youWonIndicator" *ngIf="currentPart.getWinner().get() === getPlayerName()" i18n>You won.</p>
                    <p class="title" *ngIf="(currentPart.getWinner().get() !== getPlayerName()) && isPlaying()" i18n>You lost.</p>
                    <p class="title" *ngIf="isPlaying() === false" i18n>{{ currentPart.getWinner().get() }} won.</p>
                </div>
                <div *ngIf="currentPart.isTimeout()">
                    <p class="title" id="youWonIndicator" *ngIf="currentPart.getWinner().get() === getPlayerName()" i18n>{{ currentPart.getLoser().get() }} has reached their time limit. You won.</p>
                    <p class="title" *ngIf="(currentPart.getWinner().get() !== getPlayerName()) && isPlaying()" i18n>You reached your time limit.</p>
                    <p class="title" *ngIf="isPlaying() === false" i18n>{{ currentPart.getLoser().get() }} has reached their time limit.</p>
                </div>
                <div *ngIf="currentPart.isResign()">
                    <p class="title" id="resignIndicator"
                       *ngIf="(currentPart.getWinner().get() !== getPlayerName()) && isPlaying()" i18n>You resigned.</p>
                    <p class="title" id="resignIndicator"
                       *ngIf="isPlaying() === false || currentPart.getWinner().get() === getPlayerName()" i18n>{{ currentPart.getLoser().get() }} has resigned.</p>
                </div>

            </div>
            <button class="button is-primary is-fullwidth mb-1"
                    *ngIf="endGame"
                    id="backToServerButton"
                    routerLink="/server"
                    i18n
            >Go back to the game list</button>
            <button id="proposeRematchButton"
                    class="button is-fullwidth mb-1"
                    *ngIf="endGame && isPlaying() && rematchProposed === false"
                    (click)="proposeRematch()"
                    i18n
            >Propose to play again</button>
            <button class="button is-fullwidth is-warning"
                    id="acceptRematchButton"
                    *ngIf="endGame && isPlaying() && rematchProposed && opponentProposedRematch"
                    (click)="acceptRematch()"
                    i18n
             >Accept to play again</button>
        </div>
    </div>
    <div id="board-tile"
         class="tile is-9 is-parent rounded-div"
         [ngClass]="getBoardHighlight()">
        <div id="board"
             class="tile is-child box">
            <app-game-includer></app-game-includer>
        </div>
    </div>
</div>
<div class="block mt-2">
    <div id="chat"
         class="box" >
        <app-chat [chatId]="currentPartId"
                  [turn]="currentPart?.getTurn()"></app-chat>
    </div>
</div>
