<svg xmlns="http://www.w3.org/2000/svg"
     width="100%" height="auto"
     viewBox="0 0 500 500"
     preserveAspectRatio="xMidYMid meet">
    <defs>
        <polygon id="triangle" points="0 -3.5, 10 0, 0 3.5"/>
    </defs>

    <g *ngFor="let line of board; index as y">
        <g *ngFor="let c of line; index as x">
            <circle id="click_{{ x }}_{{ y }}"
                    (click)="onBoardClick(x, y)"
                    r="45"
                    [attr.cx]="50 + 100*x"
                    [attr.cy]="50 + 100*y"
                    [ngClass]="getPieceClasses(x, y)"
                    class="base"
            />
        </g>
    </g>
    <g *ngIf="chosenCoord.isPresent()">
        <use *ngFor="let direction of getPossiblesDirections()"
             xlink:href="#triangle"
             id="chooseDirection_{{ direction }}"
             (click)="chooseDirection(direction)"
             [attr.transform]="getArrowTransform(chosenCoord.get(), direction)"/>
    </g>
</svg>
