<svg xmlns="http://www.w3.org/2000/svg"
     width="100%" height="auto"
     viewBox="0 -4 800 1021"
     preserveAspectRatio="xMidYMid meet">
    <g *ngFor="let player of [0, 1]">
        <g *ngFor="let p of getPlayerSidePieces(player)">
            <circle id="piece_{{ player }}_{{ p }}"
                    [attr.cx]="(SPACE_SIZE * 0.5) + (((800 - SPACE_SIZE) / 14) * p)"
                    [attr.cy]="850 + 10 + ((SPACE_SIZE + 10) * player)"
                    [attr.r]="SPACE_SIZE * 0.5"
                    [ngClass]="getPlayerPieceClass(player)"
                    class="base small-stroke"
            />
        </g>
    </g>

    <rect x="0" y="0"
          width="800" height="800"
          class="base"
    />
    <g *ngFor="let z of [0, 1, 2]">
        <g *ngFor="let y of getLevelRange(z)">
            <g *ngFor="let x of getLevelRange(z)">
                <ng-container *ngIf="isDrawable(x, y, z)">
                    <circle *ngIf="isOccupied(x, y, z) else onlyRect"
                            id="piece_{{ x }}_{{ y }}_{{ z }}"
                            (click)="onPieceClick(x, y, z)"
                            [attr.r]="getPieceRadius(z) - STROKE_WIDTH"
                            [attr.cx]="getPieceCx(x, y, z)"
                            [attr.cy]="getPieceCy(x, y, z)"
                            [ngClass]="getPieceClasses(x, y, z)"
                            class="base"
                    />
                    <ng-template #onlyRect>
                        <rect id="drop_{{ x }}_{{ y }}_{{ z }}"
                              (click)="onDrop(x, y, z)"
                              [attr.width]="getPieceRadius(z) * 2"
                              [attr.height]="getPieceRadius(z) * 2"
                              [attr.x]="getPieceCx(x, y, z) - getPieceRadius(z)"
                              [attr.y]="getPieceCy(x, y, z) - getPieceRadius(z)"
                              [ngClass]="getCaseClasses(x, y, z)"
                              class="base"
                        />
                    </ng-template>
                </ng-container>
            </g>
        </g>
    </g>
    <rect *ngIf="highCapture"
          id="highCapture_{{ highCapture.x }}_{{ highCapture.y }}_{{ highCapture.z }}"
          [attr.width]="getPieceRadius(highCapture.z) * 2"
          [attr.height]="getPieceRadius(highCapture.z) * 2"
          [attr.x]="getPieceCx(highCapture.x, highCapture.y, highCapture.z) - getPieceRadius(highCapture.z)"
          [attr.y]="getPieceCy(highCapture.x, highCapture.y, highCapture.z) - getPieceRadius(highCapture.z)"
          class="base captured"
    />
</svg>

