<svg xmlns="http://www.w3.org/2000/svg"
     width="100%" height="auto"
     [attr.viewBox]="'0 -4 ' + (8 * SQUARE_SIZE) + ' ' + (10 + 8 * SQUARE_SIZE)"
     preserveAspectRatio="xMidYMid meet">
    <g *ngFor="let line of board; index as y">
        <g *ngFor="let c of line; index as x">
            <rect id="click_{{ x }}_{{ y }}"
                  (click)="onClick(x, y)"
                  [attr.x]="SQUARE_SIZE * x"
                  [attr.y]="SQUARE_SIZE * y"
                  [attr.width]="SQUARE_SIZE"
                  [attr.height]="SQUARE_SIZE"
                  [ngClass]="getRectClasses(x, y)"
                  class="base"
            />
            <circle *ngIf="board[y][x] !== NONE"
                    [attr.r]="(SQUARE_SIZE / 2) - STROKE_WIDTH"
                    [attr.cx]="(SQUARE_SIZE * x) + (SQUARE_SIZE / 2)"
                    [attr.cy]="(SQUARE_SIZE * y) + (SQUARE_SIZE / 2)"
                    [ngClass]="getPieceClass(x, y)"
                    class="base"
            />
        </g>
    </g>
</svg>
