<svg xmlns="http://www.w3.org/2000/svg"
     class="board"
     [attr.viewBox]="getViewBox().toSVGString()"
     preserveAspectRatio="xMidYMid meet">

    <app-blank-goban
       [width]="getState().getWidth()"
       [height]="getState().getHeight()"
       (clickCallBack)="onClick($event)"/>
    <g id="piece-ko-territory-markers-and-dead-stones">
        @for (coordAndContent of getState().getCoordsAndContents(); track coordAndContent.coord.toString()) {
            <g>
                @if (spaceIsFull(coordAndContent.coord)) {
                    <g>
                        <circle [attr.cx]="(SPACE_SIZE * 0.5) + (SPACE_SIZE * coordAndContent.coord.x)"
                                [attr.cy]="(SPACE_SIZE * 0.5) + (SPACE_SIZE * coordAndContent.coord.y)"
                                [attr.r]="SPACE_SIZE * 0.44"
                                (click)="onClick(coordAndContent.coord)"
                                [ngClass]="getSpaceClass(coordAndContent.coord)"
                                class="base"/>
                        @if (isLastSpace(coordAndContent.coord)) {
                            <circle [attr.cx]="(SPACE_SIZE * 0.5) + (SPACE_SIZE * coordAndContent.coord.x)"
                                    [attr.cy]="(SPACE_SIZE * 0.5) + (SPACE_SIZE * coordAndContent.coord.y)"
                                    [attr.r]="SPACE_SIZE * 0.44"
                                    class="base no-fill last-move-stroke"/>
                        }
                        @if (isDead(coordAndContent.coord)) {
                            <line (click)="onClick(coordAndContent.coord)"
                                  [attr.x1]="SPACE_SIZE * coordAndContent.coord.x"
                                  [attr.y1]="SPACE_SIZE * coordAndContent.coord.y"
                                  [attr.x2]="SPACE_SIZE + (SPACE_SIZE * coordAndContent.coord.x)"
                                  [attr.y2]="SPACE_SIZE + (SPACE_SIZE * coordAndContent.coord.y)"
                                  class="base no-fill captured-stroke"/>
                        }
                    </g>
                } @else {
                    @if (isTerritory(coordAndContent.coord)) {
                        <circle [attr.cx]="(SPACE_SIZE * 0.5) + (SPACE_SIZE * coordAndContent.coord.x)"
                                [attr.cy]="(SPACE_SIZE * 0.5) + (SPACE_SIZE * coordAndContent.coord.y)"
                                [attr.r]="SPACE_SIZE * 0.2"
                                [attr.class]="coordAndContent.content === GoPiece.LIGHT_TERRITORY ? 'player1-fill' : 'player0-fill'"
                                (click)="onClick(coordAndContent.coord)"/>
                    }
                }
            </g>
        }
    </g>
    @if (ko.isPresent()) {
        <rect id="ko-{{ ko.get().x }}-{{ ko.get().y }}"
              [attr.transform]="getTranslationAt(ko.get())"
              [attr.width]="SPACE_SIZE * 0.5"
              [attr.height]="SPACE_SIZE * 0.5"
              [attr.x]="SPACE_SIZE * 0.25"
              [attr.y]="SPACE_SIZE * 0.25"
              class="captured-stroke mid-stroke no-fill"/>
    }
    @for (capture of captures; track capture.toString()) {
        <circle (click)="onClick(capture)"
                [attr.transform]="getTranslationAt(capture)"
                [attr.cx]="SPACE_SIZE * 0.5"
                [attr.cy]="SPACE_SIZE * 0.5"
                [attr.r]="SPACE_SIZE * 0.14"
                class="captured-fill"/>
    }
</svg>
