<div class="container-fluid"
	 style="height: 88%; max-height: 88%">

	<app-part-creation id="partCreation"
					   *ngIf="gameStarted === false"
					   [partId]="partId"
					   [userName]="userName"
					   (gameStartNotification)="startGame()">
	</app-part-creation>

	<div id="game" class="flex-container"
		 *ngIf="gameStarted === true">

		<div id="board" class="flex-container circled col-sm-9">

			<div id="gameboard">
				<table (click)="chooseCoord($event);">
					<tr *ngFor="let line of board; index as y;">
						<td *ngFor="let case of line; index as x;"
							style="position:relative;">
							<img *ngIf="(lastX===x && lastY===y) || (choosenX===x && choosenY===y)"
								 width="50" height="50"
								 id="{{'t'+y+x}}"
								 alt="highlighted"
								 [src]="imagesLocation+'squared_highlight.svg'"
								 style="position:absolute; top:0; left:0;"/>
							<img width="50" height="50"
								 id="{{'u'+y+x}}"
								 alt=":{{ case }}:"
								 [src]='imagesLocation+"quarto/"+[case]+".svg"'/>
							<img *ngIf="(choosenX===x && choosenY===y)"
								 width="50" height="50"
								 id="{{'v'+y+x}}"
								 alt="piece in hand that you just put on the board"
								 [src]="imagesLocation+'quarto/'+pieceInHand+'.svg'"
								 style="position:absolute; top:0; left:0;"/>
						</td>
					</tr>
				</table>
				Pièce en main :
				<img *ngIf="choosenX === -1" width="50" height="50"
					 alt=":{{ pieceInHand }}:"
					 [src]='imagesLocation+"quarto/"+pieceInHand+".svg"'/>
			</div>

			<div id="piece">
				<table (click)="choosePiece($event);">
					<tr *ngFor="let line of board; index as y;">
						<td *ngFor="let case of line; index as x;"
							style="position:relative;">
							<img *ngIf="isRemaining((4*y)+x)"
								 width="50" height="50"
								 id="{{'p'+((4*y)+x)}}"
								 alt=":{{ ((4*y)+x) }}:"
								 [src]='imagesLocation+"quarto/"+((4*y)+x)+".svg"'/>
							<img *ngIf="((4*y)+x) === pieceToGive"
								 width="50" height="50"
								 id="{{'q'+((4*y)+x)}}"
								 alt="highlighted"
								 [src]="imagesLocation+'squared_highlight.svg'"
								 style="position:absolute; top:0; left:0;"/>
						</td>
					</tr>
				</table>
			</div>

		</div>

		<div id="info" class="circled col-sm-3">
			<div *ngIf="players" class="inforow">
				<h4 style="float: left"> {{ players[0] }} </h4>
				<h4 style="float: right"> {{ players[1] }} </h4>
			</div>
			<div class="inforow">
				<app-count-down #chronoZeroGlobal
								style="float: left"
								debugName="chrono Zero Global"
								(outOfTimeAction)="reachedOutOfTime(0)">
				</app-count-down>
				<app-count-down #chronoOneGlobal
								style="float: right"
								debugName="chrono One Global"
								(outOfTimeAction)="reachedOutOfTime(1)">
				</app-count-down>
			</div>
			<div class="inforow">
				<app-count-down #chronoZeroLocal
								style="float: left"
								debugName="chrono Zero Local"
								(outOfTimeAction)="reachedOutOfTime(0)">
				</app-count-down>
				<app-count-down #chronoOneLocal
								style="float: right"
								debugName="chrono One Local"
								(outOfTimeAction)="reachedOutOfTime(1)">
				</app-count-down>
			</div>
			<div class="inforow" *ngIf="scores">
				<h4 style="float: left"> {{ scores[0] }} pts </h4>
				<h4 style="float: right"> {{ scores[1] }} pts </h4>
			</div>
			<div *ngIf="!endGame" class="inforow">
				<h4> {{ turn }}ème tour : c'est à {{ currentPlayer===userName ? 'vous' : currentPlayer }}</h4>
			</div>
			<div class="inforow" *ngIf="!endGame && opponent && observerRole <2">
				<button mat-stroked-button (click)="resign()"> Abandonner </button>
			</div>
			<div *ngIf="!endGame && (observerRole < 2)" class="inforow">
				<button *ngIf="canPass && (currentPlayer===userName)"
						(click)="pass()" mat-stroked-button>
					Passer son tour
				</button>
			</div>
			<!--<div *ngIf="!endGame && (observerRole < 2)" class="inforow"> Proposer Match nul TODO </div>
			<div *ngIf="!endGame && (observerRole < 2)" class="inforow"> Reprendre un coup TODO </div> -->
			<div *ngIf="endGame && (observerRole < 2)" class="inforow">
				<button *ngIf="!rematchProposed"
						(click)="proposeRematch()">
					Proposer un rematch
				</button>
				<button *ngIf="rematchProposed && opponentProposedRematch===true"
						(click)="acceptRematch()">
					Accepter le rematch
				</button>
			</div>
			<div class="inforow" *ngIf="endGame">
				<div *ngIf="winner != null">
					<h3 *ngIf="(winner === userName)"> Vous avez gagné </h3>
					<h3 *ngIf="(winner !== userName) && (observerRole < 2)"> Vous avez perdu </h3>
					<h3 *ngIf="(winner !== userName) && (observerRole >= 2)"> Victoire de {{ winner }} </h3>
				</div>
				<div *ngIf="winner == null">
					<h3> Match nul </h3>
				</div>
			</div>
			<div *ngIf="endGame" class="inforow">
				<button mat-stroked-button (click)="backToServer()">Retour au serveur</button>
			</div>
		</div>

	</div>

	<div id="chat" class="circled" style="height: 40%; max-height: 40%; float: bottom;">
		<app-chat [chatId]="partId"
				  [turn]="turn"></app-chat>
	</div>

</div>
