<svg xmlns="http://www.w3.org/2000/svg"
     width="100%" height="100%"
     viewBox="-5 -5 870 250"
     [attr.transform]="rotation"
     preserveAspectRatio="xMidYMid meet"
     >
    <rect x="0" y="0"
          ry="115" rx="115"
          width="860" height="240"
          fill="blue"
          class="base"
    />
    <g *ngFor="let line of board; index as y">
        <g *ngFor="let content of line; index as x">
            <g id="click_{{ x }}_{{ y }}"
               app-numbered-circle
               [attr.transform]="getPieceTransform(x, y)"
               (click)="onClick(x, y)"
               [x]="x"
               [y]="y"
               [content]="content"
               [spaceClasses]="getSpaceClasses(x, y)"
               [rotation]="getPieceRotation()"
               [secondaryContent]="captured[y][x] === 0 ? MGPOptional.empty() : MGPOptional.of(- captured[y][x] + '')"
            ></g>
        </g>
    </g>
    <line x1="120" y1="120" x2="740" y2="120" class="base"/>

    <line x1="120" y1="0"   x2="120" y2="240" class="base"/>
    <line x1="740" y1="0"   x2="740" y2="240" class="base"/>

    <g id="player_zero_captures"
       app-numbered-circle
       transform="translate(60 120)"
       [x]="-1"
       [y]="-1"
       [content]="scores.get()[0] + droppedInKalah[0]"
       [spaceClasses]="getSpaceClasses(-1, -1)"
       [rotation]="getPieceRotation()"
       [secondaryContent]="droppedInKalah[0] === 0 ? MGPOptional.empty() : MGPOptional.of('+' + droppedInKalah[0])"
    ></g>
    <g id="player_one_captures"
       app-numbered-circle
       transform="translate(800 120)"
       [x]="2"
       [y]="2"
       [content]="scores.get()[1] + droppedInKalah[1]"
       [spaceClasses]="getSpaceClasses(2, 2)"
       [rotation]="getPieceRotation()"
       [secondaryContent]="droppedInKalah[1] === 0 ? MGPOptional.empty() : MGPOptional.of('+' + droppedInKalah[1])"
    ></g>
</svg>