/* You can addPart global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { background-color: #EEEEEE; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.circled {
	border-style: solid;
	border-radius: 25px;
	padding: 2%;
	margin: 0;
	align-content: center;
	position: relative;
	display: block;
}
