<svg xmlns="http://www.w3.org/2000/svg"
     width="100%" height="100%"
     [attr.viewBox]="getViewBox().toSVGString()"
     preserveAspectRatio="xMidYMid meet">
    <rect x="0" y="0"
          [attr.width]="board.length * SPACE_SIZE"
          [attr.height]="board.length * SPACE_SIZE"
          class="base mid-small-stroke" />
    <g *ngFor="let line of board; index as y">
        <g *ngFor="let spaceContent of line; index as x"
            id="click_{{ x }}_{{ y }}"
            (click)="onClick(x, y)" >
            <circle *ngIf="spaceContent.isPlayer() else empty"
                    id="piece_{{ x }}_{{ y }}"
                    [attr.cx]="(SPACE_SIZE * 0.5) + (SPACE_SIZE * x)"
                    [attr.cy]="(SPACE_SIZE * 0.5) + (SPACE_SIZE * y)"
                    [attr.r]="SPACE_SIZE * 0.44"
                    [ngClass]="getSpaceClass(x, y)"
                    class="base" />
            <ng-template #empty>
                <rect [attr.width]="SPACE_SIZE"
                      [attr.height]="SPACE_SIZE"
                      [attr.x]="SPACE_SIZE * x"
                      [attr.y]="SPACE_SIZE * y"
                      class="base no-stroke"
                      fill-opacity="0" />
                <line [attr.x1]="SPACE_SIZE * x"
                      [attr.y1]="(SPACE_SIZE * 0.5) + (SPACE_SIZE * y)"
                      [attr.x2]="SPACE_SIZE + (SPACE_SIZE * x)"
                      [attr.y2]="(SPACE_SIZE * 0.5) + (SPACE_SIZE * y)"
                      class="base"/>
                <line [attr.x1]="(SPACE_SIZE * 0.5) + (SPACE_SIZE * x)"
                      [attr.y1]="SPACE_SIZE * y"
                      [attr.x2]="(SPACE_SIZE * 0.5) + (SPACE_SIZE * x)"
                      [attr.y2]="(SPACE_SIZE) + (SPACE_SIZE * y)"
                      class="base"/>
                <circle *ngIf="isHoshi(x, y)"
                        id="hoshi_{{ x }}_{{ y }}"
                        class="base-no-stroke"
                        [attr.cx]="(SPACE_SIZE * 0.5) + (SPACE_SIZE * x)"
                        [attr.cy]="(SPACE_SIZE * 0.5) + (SPACE_SIZE * y)"
                        [attr.r]="SPACE_SIZE * 0.2" />
            </ng-template>
        </g>
    </g>
    <circle *ngFor="let capture of captured"
            id="capture_{{ capture.x }}_{{ capture.y }}"
            (click)="onClick(capture.x, capture.y)"
            [attr.cx]="(SPACE_SIZE * 0.5) + (SPACE_SIZE * capture.x)"
            [attr.cy]="(SPACE_SIZE * 0.5) + (SPACE_SIZE * capture.y)"
            [attr.r]="SPACE_SIZE * 0.14"
            class="captured-fill" />
</svg>
