<svg xmlns="http://www.w3.org/2000/svg"
     width="700px" height="500px"
     viewBox="0 0 700 700"
     preserveAspectRatio="xMidYMid meet">
  <g *ngFor="let line of board; index as y;">
    <g *ngFor="let caseContent of line; index as x;">
      <g *ngIf="isOnBoard(x, y)">
        <g>
        <!-- Background -->
        <polyline [attr.points]="getHexaCoordinates(center(x, y))"
                  fill="none"
                  style="stroke:black"/>
        <!-- Piece -->
        <circle *ngIf="!source(caseContent) && size(caseContent) > 0"
                (click)="onClick(x, y)"
                [attr.cx] = "center(x, y).x"
                [attr.cy] = "center(x, y).y"
                [attr.r]="CASE_SIZE/3"
                [ngStyle]="stylePiece(caseContent, false)"/>
        <circle *ngIf="source(caseContent)"
                (click)="onClick(x, y)"
                [attr.cx] = "center(x, y).x"
                [attr.cy] = "center(x, y).y"
                [attr.r]="CASE_SIZE/4"
                [ngStyle]="stylePiece(caseContent, true)"/>
        <text *ngIf="size(caseContent) > 1"
              [attr.x]="center(x, y).x"
              [attr.y]="center(x, y).y"
              text-anchor="middle"
              stroke="#51c5cf"
              stroke-width="2px" dy=".3em">{{pieceText(caseContent)}}</text>
        </g>
      </g>
    </g>
  </g>
  <!-- Highlight last move -->
  <polyline *ngIf="lastMove !== null"
            [attr.points]="getHexaCoordinates(center(lastMove.coord.x, lastMove.coord.y))"
            style="fill:none; stroke:#00caca;stroke-width:5px;"/>
  <polyline *ngIf="lastMove !== null"
            [attr.points]="getHexaCoordinates(center(lastMove.end.x, lastMove.end.y))"
            style="fill:none; stroke:#00caca;stroke-width:5px;"/>
  <!-- Highlight selected piece -->
  <polyline *ngIf="chosen !== null"
            [attr.points]="getHexaCoordinates(center(chosen.x, chosen.y))"
            style="fill:none; stroke:#e6e600;stroke-width:5px;"/>
</svg>
