<svg xmlns="http://www.w3.org/2000/svg"
     width="100%" height="auto"
     [attr.viewBox]="viewBox"
     preserveAspectRatio="xMidYMid meet">
    <!-- PIECES AND NEIGHBOORS -->
    <polyline *ngFor="let piece of pieces"
              id="piece_{{ piece.x }}_{{ piece.y }}"
              (click)="onPieceClick(piece)"
              [attr.points]="getHexaCoordinates(piece)"
              stroke-width="8"
              stroke="black"
              [attr.fill]="getPieceFill(piece)"
              stroke-linecap="round"/>
    <polyline *ngFor="let neighboor of neighboors"
              id="neighboor_{{ neighboor.x }}_{{ neighboor.y }}"
              (click)="onNeighboorClick(neighboor)"
              [attr.points]="getHexaCoordinates(neighboor)"
              stroke-width="8"
              stroke="black"
              fill="lightgrey"
              stroke-linecap="round"/>
    <polyline *ngIf="chosenLanding"
              id="chosenLanding_{{ chosenLanding.x }}_{{ chosenLanding.y }}"
              (click)="onPieceClick(chosenLanding)"
              [attr.points]="getHexaCoordinates(chosenLanding)"
              stroke-width="8"
              [attr.fill]="getPlayerColor(state.getCurrentPlayer())"
              stroke-linecap="round"/>
    <!-- LAST MOVE -->
    <polyline *ngIf="leftCoord != null"
              id="leftCoord_{{ leftCoord.x }}_{{ leftCoord.y }}"
              (click)="onNeighboorClick(leftCoord)"
              [attr.points]="getHexaCoordinates(leftCoord)"
              stroke-width="8"
              stroke="black"
              [attr.fill]="MOVED_FILL"
              stroke-linecap="round"/>
    <polyline *ngIf="lastDrop != null"
              id="lastDrop_{{ lastDrop.x }}_{{ lastDrop.y }}"
              (click)="onPieceClick(lastDrop)"
              [attr.points]="getHexaCoordinates(lastDrop)"
              stroke-width="8"
              stroke="blue"
              fill="none"
              stroke-linecap="round"/>
    <polyline *ngFor="let disconnected of disconnecteds"
              id="disconnected_{{ disconnected.x }}_{{ disconnected.y }}"
              [attr.points]="getHexaCoordinates(disconnected)"
              stroke-width="8"
              stroke="black"
              [attr.fill]="CAPTURED_FILL"
              stroke-linecap="round"/>
    <!-- HIGHLIGHTS -->
    <polyline *ngIf="selectedPiece != null"
              id="selectedPiece_{{ selectedPiece.x }}_{{ selectedPiece.y }}"
              (click)="onPieceClick(selectedPiece)"
              [attr.points]="getHexaCoordinates(selectedPiece)"
              stroke-width="8"
              [attr.stroke]="getSelectedPieceStroke()"
              [attr.fill]="getSelectedPieceFill()"
              stroke-linecap="round"/>
    <polyline *ngFor="let victoryCoord of victoryCoords"
              id="victoryCoord_{{ victoryCoord.x }}_{{ victoryCoord.y }}"
              [attr.points]="getHexaCoordinates(victoryCoord)"
              stroke-width="8"
              stroke="yellow"
              fill="none"
              stroke-linecap="round"/>
    <polyline *ngFor="let cuttable of cuttables"
              id="cuttable_{{ cuttable.x }}_{{ cuttable.y }}"
              [attr.points]="getHexaCoordinates(cuttable)"
              stroke-width="8"
              stroke="yellow"
              fill="none"
              stroke-linecap="round"/>
</svg>