<svg  xmlns="http://www.w3.org/2000/svg"
      width="100%" height="auto"
      viewBox="-4 -4 708 608"
      preserveAspectRatio="xMidYMid meet">
    <g *ngFor="let line of board; index as y">
        <g *ngFor="let currentCase of line; index as x">
            <rect id="click_{{ x }}"
                  (click)="onClick(x)"
                  [attr.x]="SPACE_SIZE * x"
                  [attr.y]="SPACE_SIZE * y"
                  [attr.width]="SPACE_SIZE"
                  [attr.height]="SPACE_SIZE"
                  class="base"
            />
            <circle *ngIf="currentCase != EMPTY_CASE"
                    [attr.cx]="(SPACE_SIZE * x) + (SPACE_SIZE / 2)"
                    [attr.cy]="(SPACE_SIZE * y) + (SPACE_SIZE / 2)"
                    [attr.r]="(SPACE_SIZE / 2) - STROKE_WIDTH"
                    [ngClass]="getCaseFillClass(x, y)"
                    class="base"
                    pointer-events="fill"
            />
        </g>
    </g>
    <rect *ngIf="last"
          [attr.x]="SPACE_SIZE * last.x"
          [attr.y]="SPACE_SIZE * last.y"
          [attr.width]="SPACE_SIZE"
          [attr.height]="SPACE_SIZE"
          class="base no-fill last-move mid-stroke"
    />
    <rect *ngFor="let coord of victoryCoords"
          id="click_{{ x }}"
          (click)="onClick(x)"
          [attr.x]="SPACE_SIZE * coord.x"
          [attr.y]="SPACE_SIZE * coord.y"
          [attr.width]="SPACE_SIZE"
          [attr.height]="SPACE_SIZE"
          class="base no-fill victory-stroke mid-stroke"
    />
</svg>
