<div class="box">
    <p class="title">Connexion</p>
    <form [formGroup]="loginForm">
        <div class="field is-horizontal">
            <div class="field-label">
                <label class="label" for="email" >Adresse email</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input" type="text" placeholder="Email" formControlName="email" name="email" required />
                    </div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label">
                <label class="label" for="password">Mot de passe</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input" type="password" placeholder="Email" formControlName="password" name="password" required />
                    </div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label"></div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <button class="button is-primary"
                                id="login-button"
                                (click)="loginWithEmail(loginForm.value)"
                                >Connexion</button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="errorMessage" class="message is-danger" role="alert">
            <div class="message-header">Erreur de connexion</div>
            <div class="message-body" id="errorSpan">{{ errorMessage }}</div>
        </div>
    </form>
</div>
<div class="box">
    <p class="title">Pas de compte ?</p>
    <button id="googleButton"
            type="submit"
            (click)="loginWithGoogle()"
            class="button">Se connecter avec Google</button>
    <button class="button" [routerLink]="['/inscription']">Créer un compte</button>
</div>
