<div class="box">
    <p class="title" i18n>Log in</p>
    <form [formGroup]="loginForm">
        <div class="field is-horizontal">
            <div class="field-label">
                <label class="label" for="email" i18n>Email</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input"
                               type="text"
                               placeholder-i18n placeholder="Email"
                               formControlName="email"
                               name="email"
                               id="email"
                               required />
                    </div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label">
                <label class="label" for="password" i18n>Password</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input"
                               type="password"
                               placeholder-i18n placeholder="password"
                               formControlName="password"
                               name="password"
                               id="password"
                               required />
                    </div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label"></div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <button class="button is-primary"
                                id="loginButton"
                                (click)="loginWithEmail(loginForm.value)"
                                i18n>Log in</button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="errorMessage" class="message is-danger" role="alert">
            <div class="message-header" i18n>Connection error</div>
            <div class="message-body" id="errorSpan">{{ errorMessage }}</div>
        </div>
    </form>
</div>
<div class="box">
    <p class="title" i18n>No account?</p>
    <button id="googleButton"
            type="submit"
            (click)="loginWithGoogle()"
            class="button" i18n>Login with Google</button>
    <button class="button" [routerLink]="['/registration']" i18n>Sign up</button>
</div>
