<div class="container">
    <form [formGroup]="loginForm"
          class="form-signin">
        <h2 class="form-signin-heading">Connecte toi</h2>
        <label for="emailId" class="sr-only">Pseudo</label>
        <input class="form-control"
               formControlName="email"
               name='email'
               placeholder="Email"
               type="text"
               required />

        <label for="passwordId" class="sr-only">Password</label>
        <input id="passwordId"
               class="form-control"
               formControlName="password"
               name="code"
               placeholder="Password"
               type="password" />

        <div class="btn-group w-100">
            <button id="loginButton"
                    type="submit"
                    class="btn btn-lg btn-primary"
                    (click)="loginWithEmail(loginForm.value)" >Connexion</button>
            <button id="googleButton"
                    type="submit"
                    (click)="loginWithGoogle()"
                    class="btn btn-lg btn-primary">Se connecter avec Google</button>
        </div>
        <a class="nav-link" [routerLink]="['/inscription']">Pas encore inscrit? Crée un compte.</a><br/>
        <span id="errorSpan"
              style="color:red">{{ errorMessage }}</span><br/>
    </form>
</div>
