<svg xmlns="http://www.w3.org/2000/svg"
     width="100%" height="100%"
     [attr.viewBox]="viewBox"
     preserveAspectRatio="xMidYMid meet">
   <polygon *ngFor="let neighbor of neighbors"
             id="neighbor_{{ neighbor.x }}_{{ neighbor.y }}"
             [attr.points]="getHexaCoordsAt(neighbor)"
             class="base"
             (click)="selectSpace(neighbor)"/>
    <g *ngFor="let piece of pieces"
       id="piece_{{ piece.coord.x }}_{{ piece.coord.y }}"
       app-hive-piece
       [piece]="piece.stack.topPiece()"
       [pieceHeight]="PIECE_HEIGHT"
       [numberOfPieces]="piece.stack.size()"
       [coord]="piece.coord"
       [hexaLayout]="hexaLayout"
       [selected]="isSelected(piece.coord)"
       (click)="selectSpace(piece.coord)"/>
    <g *ngFor="let pieceAndCount of remainingPieces">
       <g *ngFor="let y of range(pieceAndCount[1])"
          id="remainingPiece_{{ pieceAndCount[0].toString() }}_{{ pieceAndCount[1] }}_{{ y }}_{{ pieceAndCount[1] }}"
          app-hive-piece
          [attr.transform]="'translate(0, ' + (y*SPACE_SIZE) + ')'"
          [piece]="pieceAndCount[0]"
          [pieceHeight]="PIECE_HEIGHT"
          [coord]="getRemainingPieceCoord(pieceAndCount[0])"
          [hexaLayout]="hexaLayout"
          [selected]="isRemainingSelected(pieceAndCount[0]) && y === pieceAndCount[1] - 1"
          (click)="selectRemaining(pieceAndCount[0])"/>
    </g>
    <polygon *ngFor="let coordAndHeight of selected"
             [attr.transform]="'translate(0 ' + -coordAndHeight.height*PIECE_HEIGHT+ ')'"
             [attr.points]="getHexaCoordsAt(coordAndHeight.coord)"
             class="base no-fill selected-stroke" />
</svg>
